{% if customer.b2b? %}
  {% assign zip = customer.current_location.shipping_address.zip %}
{% else %}
  {% assign zip = customer.default_address.zip | default: '' %}
{% endif %}
<product-swiper-item
  data-customer-id="{{- customer.id -}}"
  data-product-id="{{- product.id -}}"
  data-features='{{ product.metafields.product.product_character | replace: "'"," "  }}'
  data-zip="{{ zip }}"
  data-sku="{{- product.selected_or_first_available_variant.sku -}}"
  class="index-product-item list-type product-item {% unless product.available %}product-item--sold-out{% endunless %}"
  {% if reveal %}
    reveal
  {% endif %}
>
  <div class="list-product-media">
    <div class="favorite-button-wrapper">
      {% if customer %}
        <button class="favorite-button" data-action="favorite">
          {% render 'icon' with 'v3-favorited' %}
          {% render 'icon' with 'v3-unfavorited' %}
          <span class="unfavorited-text hidden-phone">Add to List</span>
          <span class="favorited-text hidden-phone">In My List</span>
        </button>
      {% else %}
        <button class="favorite-button" data-action="toLogin">
          {% render 'icon' with 'v3-unfavorited' %}
          {% render 'icon' with 'v3-favorited' %}
          <span class="hidden-phone">Add to List</span>
        </button>
      {% endif %}
    </div>
    <div class="product-img-swiper swiper">
      <div class="swiper-button-prev">
        {% render 'icon' with 'product-swiper-prev' %}
      </div>
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          {%- case media.media_type -%}
            {%- when 'image' -%}
              <div
                class="swiper-slide"
              >
                <img src="{{ media | image_url }}" width="auto" height="auto">
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="swiper-button-next">
        {% render 'icon' with 'product-swiper-next' %}
      </div>
    </div>
    <div thumbsSlider="" class="product-img-swiper-thumbs swiper">
      <div class="swiper-wrapper">
        {%- for media in product.media -%}
          {%- case media.media_type -%}
            {%- when 'image' -%}
              <div
                class="swiper-slide"
              >
                <div class="img-wrapper">
                  <img src="{{ media | image_url }}" width="auto" height="auto">
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="list-product-info hidden-phone">
    {%- if product.metafields.product.brand.value != blank
      and product.metafields.product.brand.value != 'null'
      and product.metafields.product.brand.value != '-'
    -%}
      <span class="product-item-meta__vendor heading heading--xsmall">
        {{ product.metafields.product.brand }}
      </span>
    {% endif %}

    <a href="{{ product.url }}" title="{{ product.title }}" datalayer-link data-sku="{{ product.selected_or_first_available_variant.sku }}" class="list-product-title ellipsis2">
      {{- product.title -}}
    </a>
    {% if product.metafields.product.manufacturer_model_number != blank %}
      <span class="model"
        >Model: {{ product.metafields.product.manufacturer_model_number }}
      </span>
    {% endif %}

    <ul class="product-feature" data-sku="{{ product.selected_or_first_available_variant.sku }}"></ul>
    
  </div>

  <div class="product-item__info {% if show_cta %}product-item__info--with-button{% endif %} {% if reduced_font_size %}text--small{% endif %}">
    <div class="product-item-meta">
      {%- if product.metafields.product.brand.value != blank
        and product.metafields.product.brand.value != 'null'
        and product.metafields.product.brand.value != '-'
      -%}
        <span class="product-item-meta__vendor hidden-lap-and-up">
          {{ product.metafields.product.brand }}
        </span>
      {% endif %}

      <a
        datalayer-link
        data-sku="{{ product.selected_or_first_available_variant.sku }}"
        href="{{ product.url }}"
        title="{{ product.title }}"
        class="product-item-meta__title ellipsis2 hidden-tablet-and-up"
      >
        {{- product.title -}}
      </a>
      <div class="inventory_quantity hidden-tablet-and-up">
        {% assign stock_num = product.selected_or_first_available_variant.inventory_quantity %}
        {% assign varid = product.selected_or_first_available_variant.id %}
        {% render 'stock-label', stock_num: stock_num, varid: varid %}
      </div>
      <div class="cus-price-list">
        <span class="price">{{ product.price | money }}</span>
        {% if product.compare_at_price > product.price %}
          {% assign price = product.price | money_without_currency | replace: ',', '' | times: 1 %}
          {% assign compare_at_price = product.compare_at_price
            | money_without_currency
            | replace: ',', ''
            | times: 1
          %}
          {% assign discount_difference = compare_at_price | minus: price %}
          {% assign discount_percentage = discount_difference | divided_by: compare_at_price | times: 100 | ceil %}
          <div class="discount-price">
            <span>
              {{ product.compare_at_price | money }}
            </span>
            <span>{{ discount_percentage }}%OFF</span>
          </div>
        {% endif %}
      </div>
      <div class="inventory_quantity hidden-phone">
        {% assign stock_num = product.selected_or_first_available_variant.inventory_quantity %}
        {% assign varid = product.selected_or_first_available_variant.id %}
        {% render 'stock-label', stock_num: stock_num, varid: varid %}
      </div>
    </div>
    <div class="buy-bottom-box-wrapper" id="delevery-date-{{ product.id }}">
      <div class="buy-bottom-box">
        <div class="ships">
          <div class="expect">
            <span>Enter a ZIP Code.</span>
          </div>
          <el-form class="form el-reset-from" ref="ruleForm" :model="ruleForm" :rules="rules">
            <el-form-item prop="zipCode">
              <el-input @keydown.enter.native.prevent="handleComputedDeleveryDate" v-model="ruleForm.zipCode" placeholder="ZIP Code"></el-input>
            </el-form-item>
            <el-button :loading="loading" @click.stop="handleComputedDeleveryDate">Submit</el-button>
          </el-form>
          <div class="line-item__property date" v-if="isEstimateShow">
            <template v-if="deleveryRes.availableInventoryCount == 0">
              <span>Expected to arrive between ${formatDate(stockDateStart)} and ${formatDate(stockDateEnd)}.</span>
            </template>
            <template v-else-if="deleveryRes.availableInventoryCount >= deleveryRes.demandQuantity">
              <span>Expected to arrive on ${formatDate(deleveryRes.availableInventoryDeliveryTimeStamp)}.</span>
            </template>
            <template v-else>
              <span>Partial expected to arrive on ${formatDate(+deleveryRes.availableInventoryDeliveryTimeStamp)}.</span>
              <span>The remaining balance is expected to arrive between ${formatDate(stockDateStart)} and ${formatDate(stockDateEnd)}.</span>
            </template>
          </div>
        </div>
      </div>
    </div>
    <div class="list-quantity">
      <div class="list-quantity-title hidden-phone">Quantity</div>
      <product-quantity-selector
        class="quantity-selector"
        data-max="{% if product.selected_or_first_available_variant.inventory_policy == 'deny' %}{{ product.selected_or_first_available_variant.inventory_quantity }}{% endif %}"
      >
        <button type="button" class="quantity-selector__button minus">
          <span class="visually-hidden">{{ 'cart.general.decrease_quantity' | t }}</span>
          {%- render 'icon' with 'minus-big' -%}
        </button>
        {%- assign product_form_id = 'product-form-' | append: product.id -%}
        <input
          type="text"
          form="{{ product_form_id }}"
          is="input-number"
          max="1000000"
          class="quantity-selector__input"
          inputmode="numeric"
          name="quantity"
          autocomplete="off"
          data-demand="{% if product.metafields.product.moq != blank %}{{ product.metafields.product.moq }}{% else %}1{% endif %}"
          data-input-varid="{{ product.selected_or_first_available_variant.id }}"
          data-max="{% if product.selected_or_first_available_variant.inventory_policy == 'deny' %}{{ product.selected_or_first_available_variant.inventory_quantity }}{% endif %}"
          data-moq="{% if product.metafields.product.moq != blank %}{{ product.metafields.product.moq }}{% else %}1{% endif %}"
          value="{% if product.metafields.product.moq != blank %}{{ product.metafields.product.moq }}{% else %}1{% endif %}"
          size="2"
          aria-label="{{ 'product.form.quantity' | t | escape }}"
        >

        <button type="button" class="quantity-selector__button plus">
          <span class="visually-hidden">{{ 'cart.general.increase_quantity' | t }}</span>
          {%- render 'icon' with 'plus-big' -%}
        </button>
      </product-quantity-selector>
    </div>

    {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
    {%- form 'product', product, is: 'product-form', id: form_id, class: 'product-item__quick-form' -%}
      <input
        type="hidden"
        name="quantity"
        value="{% if product.metafields.product.moq != blank %}{{ product.metafields.product.moq }}{% else %}1{% endif %}"
      >
      <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
      <input type="hidden" disabled name="sku" value="{{ product.selected_or_first_available_variant.sku }}">
      <button
        is="loader-button"
        type="submit"
        class="button yellow button--outline button--text button--full {% if section.settings.desktop_products_per_row >= 5 %}button--small{% endif %}"
      >
        {{ 'product.form.add_to_cart' | t }}
        {% render 'icon' with 'product-item-cart' %}
      </button>
    {%- endform -%}
  </div>
</product-swiper-item>
