<div class="w-full pb-5">
  <div class="text-center bg-F3F8FC -mx-5 px-6 py-3 fb-sm:mx-0 fb-sm:py-5 mb-2.5 rounded-sm">
    <div class="text-12254D font-bold text-14 mb-3 text-center fb-sm:mb-4.5 fb-sm:text-20">
      NorthSky: Quality and Service You Can Trust
    </div>
    
    <div class="flex justify-between items-center space-x-6 px-4 w-full fb-sm:justify-center fb-md:space-x-25">
      <!-- Google Rating -->
      <div class="flex items-center space-x-4">
        <div class="h-4 w-auto fb-sm:h-5">
          <img class="lazyload w-auto h-full" width="100%" height="100%" data-src="https://cdn.shopify.com/s/files/1/0623/7329/8359/files/google_icon_6a0e058d-ad8e-4c57-9114-6b372ad60312.png?v=1750830557" >
        </div>
        <div class="bg-0A2B6F text-white text-xs px-1.5 fb-sm:w-15 rounded-sm font-medium fb-sm:text-18">4.6/5</div>
      </div>
      <!-- Trustpilot Rating -->
      <div class="flex items-center space-x-4">
        <div class="h-6 w-auto fb-sm:h-7.5">
          <img class="lazyload w-auto h-full" width="100%" height="100%" data-src="https://cdn.shopify.com/s/files/1/0623/7329/8359/files/Trustpilot.png?v=1750830557" >
        </div>
        <div class="bg-0A2B6F text-white text-xs px-1.5 fb-sm:w-15 rounded-sm font-medium text-center fb-sm:text-18">4.5/5</div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-2 w-full fb-sm:gap-1">
    {%- assign box_css = 'bg-F3F8FC px-1 py-1 h-10 rounded-sm flex items-center fb-sm:justify-start fb-sm:h-12 fb-md:space-x-4 fb-md:pl-9'-%}
    {%- assign text_css = 'text-main font-medium text-xs fb-sm:text-14 fb-md:text-16 fb-sm:font-bold' -%}
    <div class="{{ box_css }}">
      <div class="w-8 h-8 fb-sm:w-10 fb-sm:h-10">
        <img class="lazyload w-full h-full" width="100%" height="100%" data-src="https://cdn.shopify.com/s/files/1/0623/7329/8359/files/Fastdelivery.png?v=1750829465" >
      </div>
      <span class="{{text_css}}">Speedy Delivery</span>
    </div>
    <div class="{{ box_css }}">
      <div class="w-8 h-8 fb-sm:w-10 fb-sm:h-10">
        <img class="lazyload w-full h-full" width="100%" height="100%" data-src="https://cdn.shopify.com/s/files/1/0623/7329/8359/files/Hassle-free_-returns.png?v=1750829466" >
      </div>
      <span class="{{text_css}}">Hassle-Free Returns</span>
    </div>
    
    <!-- Quality Guaranteed -->
    <div class="{{ box_css }}">
      <div class="w-8 h-8 fb-sm:w-10 fb-sm:h-10">
        <img class="lazyload w-full h-full" width="100%" height="100%" data-src="https://cdn.shopify.com/s/files/1/0623/7329/8359/files/Lifetime-warranty.png?v=1750829465" >
      </div>
      <span class="{{text_css}}">Quality Guaranteed</span>
    </div>
    
    <!-- Flexible Payment -->
    <div class="{{ box_css }}">
      <div class="w-8 h-8 fb-sm:w-10 fb-sm:h-10">
        <img class="lazyload w-full h-full" width="100%" height="100%" data-src="https://cdn.shopify.com/s/files/1/0623/7329/8359/files/zkh-qianbao.png?v=1750829465" >
      </div>
      <span class="{{text_css}}">Flexible Payment</span>
    </div>
  </div>
</div>