{% raw %}
  <template id="testItem" >
    <div>
      <div ref="test" class="test">{{ test }} {{flag}}</div>
      <div @click="handleConlog">{{ arry }}</div>
      <div>{{ objs.name }}</div>
      <div>{{ objs.age }}</div>
    </div> 
  </template>
{% endraw %}

<script> 
  (
    ()=>{
      window.testItem = {
        props: {flag: Boolean, arry: Array, objs: Object},
        data() {
          return {
            test: '我要崩溃了'
          };
        },
        mounted() {
        },
        methods: {
          handleConlog() {
            this.$emit('get-meassge', this.test);
          }
        },
        template:'#testItem'
      } 
    }
  )()
</script>