<style>
.about-us-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1440 / 360;
  overflow: hidden;
}
/* Background image carrier (defaults to desktop) */
.about-us-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  {% if section.settings.banner_image %}
    background-image: url({{ section.settings.banner_image | image_url: width: 1440 }});
  {% endif %}
}
.about-us-banner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(1deg, rgba(0, 0, 0, 0.60) -5.73%, rgba(0, 0, 0, 0.12) 116.12%);
  z-index: 1;
}
.about-us-banner img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  z-index: 0;
}
.about-us-banner-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 2;  
}
.about-us-banner-title {
  width: 1081px;
  height: 52px;   
  color: #FABE00;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
.about-us-banner-subtitle {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media screen and (min-width: 768px) and (max-width: 954px) {
  .about-us-banner::before {
    {% if section.settings.banner_image_tablet %}
      background-image: url({{ section.settings.banner_image_tablet | image_url: width: 768 }});
    {% endif %}
  }
  .about-us-banner {
    position: relative;
    width: 100%;
    aspect-ratio: 768 / 220;
    overflow: hidden;
  }
  .about-us-banner-title {
    height: 52px;   
    color: #FABE00;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }
  .about-us-banner-subtitle {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media screen and (max-width: 768px){
  .about-us-banner::before {
    {% if section.settings.banner_image_mobile %}
      background-image: url({{ section.settings.banner_image_mobile | image_url: width: 375 }});
    {% endif %}
  }
  .about-us-banner {
    position: relative;
    width: 100%;
    aspect-ratio: 375 / 220;
    overflow: hidden;
  }
  .about-us-banner-content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    z-index: 2;  
}
.about-us-banner-title {
    height: 52px;   
    color: #FABE00;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}
.about-us-banner-subtitle {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
}

</style>
<section class="about-us-banner">
  <div class="about-us-banner-shadow"></div>
  <div class="about-us-banner-content">
    <h1 class="about-us-banner-title">
      {{ section.settings.banner_title }}
    </h1>
    <p class="about-us-banner-subtitle">
      {{ section.settings.banner_subtitle }}
    </p>
  </div>
</section>
{% schema %}
{
  "name": "about us banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "image_picker",
      "id": "banner_image_tablet",
      "label": "Tablet image"
    },
    {
      "type": "image_picker",
      "id": "banner_image_mobile",
      "label": "Mobile image"
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title",
      "default": "CUT COSTS, NOT QUALITY"
    },
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner Subtitle",
      "default": "Premium MRO products at prices that work"
    }
  ],
    "presets": [
    {
      "name": "About Us Banner"
    }
  ]
}
{% endschema %}