<style>
  :root {
    --enable-sticky-announcement-bar: {% if section.settings.announcement_bar_position == 'non_sticky' or section.settings.announcement_bar_position == 'sticky_desktop' %}0{% else %}1{% endif %};
  }

  #shopify-section-{{ section.id }} {
    {%- if section.settings.announcement_bar_position == 'sticky' or section.settings.announcement_bar_position == 'sticky_mobile' -%}
      position: -webkit-sticky;
      position: sticky;
    {%- else -%}
      position: relative;
    {%- endif -%}

    top: 0;
  }

  @media screen and (min-width: 741px) {
    :root {
      --enable-sticky-announcement-bar: {% if section.settings.announcement_bar_position == 'non_sticky' or section.settings.announcement_bar_position == 'sticky_mobile' %}0{% else %}1{% endif %};
    }

    #shopify-section-{{ section.id }} {
      {%- if section.settings.announcement_bar_position == 'sticky' or section.settings.announcement_bar_position == 'sticky_desktop' -%}
        position: -webkit-sticky;
        position: sticky;
      {%- else -%}
        position: relative;
      {%- endif -%}
    }
  }
</style>
{%- assign code_show = '' -%}
{%- assign code = section.settings.announcement_discount_code | strip_html -%}
{% if code == blank %} 
  {%- assign code_show = 'hidden fb-md:block' -%}
{% endif %}
<section class="w-full {{ code_show }}">
  <announcement-bar class="announcement-bar-wrapper bg-button block w-full py-1 text-14">
    <div class="announcement-bar__list container">
      <announcement-bar-item class="announcement-bar-item flex items-center fb-md:justify-start fb-md:space-x-4">
        <div class="items-center hidden fb-md:flex">
          <a class="mx-2.5 flex items-center text-14" href="tel:{{ section.settings.phone }}">
            <span class="w-4 h-4 fb-flex-center mr-1">{% render 'icon' with 'top-bar-phone' %}</span>
            {{ section.settings.phone }}
          </a>
          <span  class="w-[1px] h-4 bg-main opacity-[0.16]"></span>
          <a class="mx-2.5 flex items-center" href="mailto:{{ section.settings.email }}">
            <span class="w-4 h-4 fb-flex-center mr-1">{% render 'icon' with 'top-bar-email' %}</span>
            {{ section.settings.email }}
          </a>
        </div>
        <div class="w-full text-12 fb-md:text-14 fb-md:flex-1 text-center fb-md:pl-4 fb-md:text-left text-main">
          {{ section.settings.announcement_discount_code }}
        </div>
        <div class="items-center hidden fb-md:flex fb-md:justify-end self-stretch">
          <a  class="mx-2.5" href="{{ section.settings.about_url }}">About Us</a>
          <span  class="w-[1px] h-4 bg-main opacity-[0.16]"></span>
          <a  class="mx-2.5" href="{{ section.settings.help_url }}">Help</a>
          <span  class="w-[1px] h-4 bg-main opacity-[0.16]"></span>
          <a class="mx-2.5"  href="{{ section.settings.blog_url }}">Blog</a>
        </div>
      </announcement-bar-item>
    </div>
  </announcement-bar>
</section>
{% schema %}
{
  "name": "Announcement bar",
  "class": "shopify-section--announcement-bar",
  "settings": [
    {
      "type": "richtext",
      "id": "announcement_discount_code",
      "label": "Announcement discount code"
    },
    {
      "type": "url",
      "id": "about_url",
      "label": "About Url"
    },
    {
      "type": "url",
      "id": "help_url",
      "label": "Help Url"
    },
    {
      "type": "url",
      "id": "blog_url",
      "label": "Blog Url"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Phone",
      "default": "(123) 123-4567"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email",
      "default": "support@northsky.com"
    },
    {
      "type": "select",
      "id": "announcement_bar_position",
      "label": "Position",
      "options": [
        {
          "value": "non_sticky",
          "label": "Non sticky"
        },
        {
          "value": "sticky_desktop",
          "label": "Sticky on desktop only"
        },
        {
          "value": "sticky_mobile",
          "label": "Sticky on mobile only"
        },
        {
          "value": "sticky",
          "label": "Sticky everywhere"
        }
      ],
      "default": "non_sticky"
    },
    {
      "type": "select",
      "id": "announcement_text_size",
      "label": "Text size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "normal"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between messages",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "Change message every",
      "default": 5
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#1e2d7d"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#1e2d7d"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
