{{ 'index-product-item.css' | asset_url | stylesheet_tag }}
{% style %}
  .swiper-list-wrapper {
    background-color: #fff;
  }
  {% if template.name == 'index' %}
    .index-product-item .product-item__quick-form .button:hover {
      background-color: var(--my-blue);
      color: #fff;
    }
    .index-product-item .product-item__quick-form .button:hover path {
      fill: #fff;
    }
  {% endif %}
{% endstyle %}
<div class="{{ section.id }}">
  <div class="container">
    {% render 'index-cus-header', header_title: section.settings.title, header_url: section.settings.btn_link %}
    <div class="IndexBestswiper">
      <div class="swiper-button-prev hidden-pocket">
        {% render 'icon' with 'swiper-arrow-prev' %}
      </div>
      <div class="swiper {{ section.id }}-IndexBestswiper">
        <div class="swiper-wrapper">
          {%- assign collection = section.settings.collection -%}
          {%- for product in collection.products limit: 12 -%}
            <div class="swiper-slide">
              {% render 'index-product-item', product: product %}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div class="swiper-button-next hidden-pocket">
        {% render 'icon' with 'swiper-arrow-next' %}
      </div>
    </div>
  </div>
</div>

<script>
  (() => {
    new Swiper(`.{{ section.id }}-IndexBestswiper`, {
      observer: true,
      observeParents: true,
      breakpoints: {
        0: {
          spaceBetween: 12,
          slidesPerView: 2,
        },
        740: {
          spaceBetween: 12,
          slidesPerView: 2,
        },
        1200: {
          spaceBetween: 12,
          slidesPerView: 4,
        },
      },
      pagination: {
        el: '.{{ section.id }} .swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: `.{{ section.id }} .swiper-button-next`,
        prevEl: `.{{ section.id }} .swiper-button-prev`,
      },
    });
  })();
</script>

{% schema %}
{
  "name": "Featured Product List",
  "class": "section-gap swiper-list-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Featured Brands"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    }
  ],
  "presets": [
    {
      "name": "Featured Product List"
    }
  ]
}
{% endschema %}
