<footer class="w-full block bg-main">
  <div class="footer-main container -mt-0.5 border-t border-345387">
    <div class="footer__inner w-full fb-md:pt-10 fb-md:flex fb-md:flex-row fb-sm:justify-between fb-md:space-x-20">
      <div class="footer__item-list flex flex-col fb-md:flex-row fb-md:justify-start fb-md:space-x-20 fb-md:flex-1">
        {% comment %} <div class="footer-logo hidden fb-md:block">
          {%- if section.settings.image != blank -%}
            <img
              style="width: {{ section.settings.image_width }}px"
              loading="lazy"
              sizes="{{ section.settings.image_width }}px"
              class="footer__image hidden fb-md:block"
              width="auto"
              height="auto"
              {% render 'image-attributes', image: section.settings.image, sizes: '100, 200, 300, 400, 500, 600' %}
            >
            <img
              style="width: {{ section.settings.m_image_width }}px"
              loading="lazy"
              width="auto"
              height="auto"
              sizes="{{ section.settings.m_image_width }}px"
              class="footer__image block fb-md:hidden mx-auto mt-4"
              {% render 'image-attributes', image: section.settings.image, sizes: '100, 200, 300, 400, 500, 600' %}
            >
          {%- endif -%}
          <div class="footer-desc text-base font-medium leading-6 text-white mt-5.5">
            {{ section.settings.footer_desc }}
          </div>
          <div class="footer-contact text-base mt-7 flex flex-wrap gap-4 items-center leading-none text-white">
            <a href="tel:{{ section.settings.contact1 }}" class="text-sm font-medium text-white no-underline hover:underline">{{ section.settings.contact1 }}</a>or
            <a href="mailto:{{ section.settings.contact2 }}" class="text-sm font-medium text-white no-underline hover:underline">{{ section.settings.contact2 }}</a>
          </div>
          <div class="footer-social mt-13 fb-md:mt-13">
            {%- render 'social-media' -%}
          </div>
        </div> {% endcomment %}
        {%- for block in section.blocks -%}
          {%- capture block_content -%}
            {%- case block.type -%}
              {%- when 'image' -%}
                {%- if block.settings.image != blank -%}
                  <img style="width: {{ block.settings.image_width }}px" loading="lazy" sizes="{{ block.settings.image_width }}px" class="footer__image" {% render 'image-attributes', image: block.settings.image, sizes: '100, 200, 300, 400, 500, 600' %}>
                {%- endif -%}

              {%- when 'text' -%}
                {%- if block.settings.title != blank -%}
                  <p class="footer__item-title text-16 font-bold text-white mb-0 cursor-pointer flex justify-between fb-md:cursor-default fb-md:block">
                    {{ block.settings.title | escape }}
                    <span class="fb-md:hidden details_icon flex items-center transition-transform duration-300">
                      {% render 'icon' with 'footer-arrow-icon' %}
                    </span>
                  </p>
                {%- endif -%}

                {%- if block.settings.content != blank -%}
                  <div class="footer__item-content leading-[29.72px]">
                    {{- block.settings.content -}}
                  </div>
                {%- endif -%}

              {%- when 'links' -%}
                {%- assign menu = block.settings.menu -%}

                {%- if menu != blank -%}
                  <p class="footer__item-title text-16 font-bold text-white mb-0 cursor-pointer flex justify-between fb-md:cursor-default fb-md:block">
                    {{ menu.title }}
                    <span class="fb-md:hidden details_icon flex items-center transition-transform duration-300">
                      {% render 'icon' with 'footer-arrow-icon' %}
                    </span>
                  </p>
                  <div class="footer__item-content footer__item-content_link hidden fb-md:block mt-6 fb-md:mt-4">
                    <ul class="linklist list-none gap-4 pl-4 fb-md:pl-0 fb-md:mt-0 fb-md:gap-0" role="list">
                      {%- for link in menu.links -%}
                        <li class="linklist__item pt-7.5 first:pt-0">
                          {% if link.title == 'Product Catalog' %}
                            <a target="_blank" href="{{ link.url }}" class="link--faded text-14 text-white fb-md:text-E2E2E2 no-underline hover:underline hover:opacity-100">{{ link.title }}</a>
                          {% else %}
                            <a href="{{ link.url }}" class="link--faded text-14 text-white fb-md:text-E2E2E2  no-underline hover:underline hover:opacity-100">{{ link.title }}</a>
                          {% endif %}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
            {%- endcase -%}
          {%- endcapture -%}

          {%- if block_content != blank -%}
            <div
              class="footer__item footer__item--{{ block.type | replace: '_', '-' }} 
              py-4 border-b border-345387 fb-md:py-0 fb-md:border-b-0 
              {% if block.type == 'newsletter' %}order-first border-b border-345387 pb-7.5 fb-md:order-none fb-md:border-b-0 fb-md:pb-0{% endif %} 
              {% if block.type == 'social_media' %}hidden{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{- block_content -}}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>

      <div class="w-full fb-md:w-auto">
        <div class="footer-social mt-5 flex justify-start items-center w-full">
          <div class="text-16 font-bold text-white mr-4">
             {{ section.settings.socia_title }}
          </div>
          {%- render 'social-media' -%}
        </div>
        <div class="flex flex-col items-start justify-start  space-y-4 mt-10 text-white fb-md:space-y-6">
            {% assign review_data = shop.metafields.custom.shop_rating.value %}
            {% if review_data %}
              {% assign google_review = null %}
              {% assign trustpilot_review = null %}
              {% for review in review_data %}
                {% if review.source == 'google' %}
                  {% assign google_review = review %}
                {% elsif review.source == 'trustpilot' %}
                  {% assign trustpilot_review = review %}
                {% endif %}
              {% endfor %}
              {% if google_review %}
                <div class="flex space-x-0.5 fb-md:space-x-2">
                  <div class="flex items-center">
                    <svg class="w-9 h-9" viewBox="0 0 24 24">
                      <path fill="#4285F4" d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z"></path>
                      <path fill="#34A853" d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z"></path>
                      <path fill="#FBBC05" d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z"></path>
                      <path fill="#EA4335" d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z"></path>
                    </svg>
                  </div>
                  <div class="flex flex-col justify-start items-start mt-1">
                    <span class="text-12 text-white font-bold">{{ section.settings.google_title }}</span>
                    <div class="flex justify-start items-center">
                      <span class="text-14 font-bold text-button mr-1">{{ google_review.rating }}</span>
                      <span class="text-18 font-bold text-button flex items-center justify-start space-x-0.5">
                        {%- render 'rate-computed', rate_value: google_review, type: 'google' -%}
                      </span>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if trustpilot_review %}
                <div class="flex items-center">
                  <div class="flex fb-md:ml-1 space-x-1">
                    {%- render 'rate-computed', trustpilot_review: trustpilot_review, type: 'trustpilot' -%}
                  </div>
                  <div class="flex items-center text-white ml-2 text-12">
                    {% comment %} <p class="text-12"> {% endcomment %}
                      {% comment %} Rated <strong>Excellent</strong> on {% endcomment %}
                    {{  section.settings.trustpilot_content }}
                    {% comment %} </p> {% endcomment %}
                    <svg class="w-3 h-3 fb-md:w-4 fb-md:h-4" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.49639 7.90384L7.88471 7.30087L8.88257 10.3646L5.49639 7.90384ZM10.9928 3.94377H6.7887L5.49639 0L4.20409 3.94377H0L3.40253 6.38826L2.11022 10.332L5.51275 7.88755L7.60661 6.38826L10.9928 3.94377Z" fill="#219653"></path>
                    </svg>
                    <span class="text-12 font-bold">{{ section.settings.trustpilot_title }}</span>
                  </div>
                </div>
              {% endif %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer__aside-wrapper w-full hidden">
    <div class="container">
      <div class="footer__aside flex flex-col text-center gap-3.75 py-2.5 mt-0 fb-md:flex-row fb-md:justify-between fb-md:py-7.5 fb-md:text-left fb-md:gap-0">
        {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}
          {%- assign country_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and localization.available_languages.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        {%- if country_selector or locale_selector -%}
          {%- form 'localization', id: 'localization_form_footer', class: 'footer__cross-border mb-5 fb-md:mb-0' -%}
            {%- if country_selector -%}
              <div class="popover-container">
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.country' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="select select--small {% if locale_selector and settings.button_border_radius > 0 %}select--collapse-end{% endif %} text--xsmall"
                  aria-expanded="false"
                  aria-controls="footer-currency-selector"
                >
                  {{- localization.country.name }} ({{ localization.country.currency.iso_code }}
                  {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%}
                  )
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content
                  id="footer-currency-selector"
                  class="popover popover--top popover--left popover--small"
                >
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'footer.general.country' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}"
                    >
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content popover__content--restrict">
                    <div class="popover__choice-list">
                      {%- for country in localization.available_countries -%}
                        <button
                          type="submit"
                          name="country_code"
                          value="{{ country.iso_code }}"
                          class="popover__choice-item"
                        >
                          <span
                            class="popover__choice-label"
                            {% if country.iso_code == localization.country.iso_code %}
                              aria-current="true"
                            {% endif %}
                          >
                            {{- country.name }} ({{ country.currency.iso_code }}
                            {% if country.currency.symbol %}{{ country.currency.symbol }}{%- endif -%}
                            )
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}

            {%- if locale_selector -%}
              <div class="popover-container">
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.language' | t }}</span>

                <button
                  type="button"
                  is="toggle-button"
                  class="select select--small {% if country_selector and settings.button_border_radius > 0 %}select--collapse-start{% endif %} text--xsmall"
                  aria-expanded="false"
                  aria-controls="footer-locale-selector"
                >
                  {{- localization.language.endonym_name | capitalize -}}
                  {%- render 'icon' with 'chevron', width: 9, height: 6, inline: true -%}
                </button>

                <popover-content id="footer-locale-selector" class="popover popover--top popover--small">
                  <span class="popover__overlay"></span>

                  <header class="popover__header">
                    <span class="popover__title heading h6">{{- 'footer.general.language' | t -}}</span>

                    <button
                      type="button"
                      class="popover__close-button tap-area tap-area--large"
                      data-action="close"
                      title="{{ 'general.accessibility.close' | t | escape }}"
                    >
                      {%- render 'icon' with 'close' -%}
                    </button>
                  </header>

                  <div class="popover__content">
                    <div class="popover__choice-list">
                      {%- for language in localization.available_languages -%}
                        <button
                          type="submit"
                          name="locale_code"
                          value="{{ language.iso_code }}"
                          class="popover__choice-item"
                        >
                          <span
                            class="popover__choice-label"
                            {% if language.iso_code == localization.language.iso_code %}
                              aria-current="true"
                            {% endif %}
                          >
                            {{- language.endonym_name | capitalize -}}
                          </span>
                        </button>
                      {%- endfor -%}
                    </div>
                  </div>
                </popover-content>
              </div>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}
      </div>
    </div>
  </div>
  <div class="w-full bg-button py-5 mt-6 fb-md:mt-16">
    <div class="w-full container fb-md:flex fb-md:flex-row-reverse fb-md:justify-between fb-md:items-center">
      <div class="w-full fb-md:w-auto">
        {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
          <div class="footer__payment-methods">
            <div class="payment-methods-list payment-methods-list--auto">
              {% for type in shop.enabled_payment_types %}
                {{ type | payment_type_svg_tag }}
              {% endfor %}
            </div>
          </div>
        {%- endif -%}
      </div>
      <div class="text-12 mt-4 text-main w-full fb-md:w-auto">
        {{ section.settings.copyright_content_left }} {{ 'now' | date: '%Y' }} {{ section.settings.copyright_content_right }}
      </div>
    </div>
  </div>
</footer>
{%- if section.settings.show_cookie_bar -%}
  <cookie-bar section="{{ section.id }}" hidden class="cookie-bar text--xsmall">
    {%- if section.settings.cookie_bar_title != blank -%}
      <p class="heading heading--xsmall">{{ section.settings.cookie_bar_title }}</p>
    {%- endif -%}

    {%- if section.settings.cookie_bar_content != blank -%}
      {{- section.settings.cookie_bar_content -}}
    {%- endif -%}

    <div class="cookie-bar__actions">
      <button class="button button--text button--primary button--small text--xsmall" data-action="accept-policy">
        {{ 'footer.cookie_bar.accept' | t }}
      </button>
      <button class="button button--text button--ternary button--small text--xsmall" data-action="decline-policy">
        {{ 'footer.cookie_bar.decline' | t }}
      </button>
    </div>
  </cookie-bar>
{%- endif -%}
{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "copyright_content_left",
      "label": "Copyright Content Left",
      "default": "©"
    },
    {
      "type": "text",
      "id": "copyright_content_right",
      "label": "Copyright Content Right",
      "default": "NorthSky Supply. All Rights Reserved."
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Customer privacy bar"
    },
    {
      "type": "checkbox",
      "id": "show_cookie_bar",
      "label": "Show privacy bar",
      "info": "Privacy bar will only be visible if it fulfills the conditions of the [Shopify Customer Privacy API](https://shopify.dev/docs/themes/consent-tracking-api)",
      "default": false
    },
    {
      "type": "text",
      "id": "cookie_bar_title",
      "label": "Title",
      "default": "Cookie policy"
    },
    {
      "type": "richtext",
      "id": "cookie_bar_content",
      "label": "Content",
      "default": "<p>I agree to the processing of my data in accordance with the conditions set out in the policy of Privacy.</p>"
    },
    {
      "type": "text",
      "id": "socia_title",
      "label": "Follow Us:",
      "default": "Follow Us:"
    },
    {
      "type": "richtext",
      "id": "google_title",
      "label": "Google Top Quality Store",
      "default": "<p>Google Top Quality Store<\/p>"
    },
    {
      "type": "text",
      "id": "trustpilot_title",
      "label": "Trustpilot",
      "default": "Trustpilot"
    },
    {
      "type": "richtext", 
      "id": "trustpilot_content",
      "label": "Trustpilot Content",
      "default": "<p>Rated <strong>Excellent</strong> on</p>"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "300 x 300px .png recommended"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 300,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 150
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items.",
          "default": "footer"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To configure social media, go to your social media settings."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Follow us"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>To configure social media, go to your social media settings. Change this text in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "footer"
    }
  ]
}
{% endschema %}
