{%- assign gtm_type = 'homepage' -%}
{%- if template == 'cart' -%}
  {%- assign gtm_type = 'cart' -%}
{%- endif -%}
<div class="js-guesslike-gtm w-full bg-EAEEF1 py-4 fb-sm:py-17 js-guess-{{ section.id }}">
  <div class="container w-full overflow-hidden">
    <div class="flex items-center justify-between mb-4 fb-sm:mb-6">
      <h2 class="text-22 fb-sm:text-32 font-semibold text-main">{{ section.settings.title }}</h2>
      <div class="js-swiper-btns hidden  items-center justify-end space-x-3">
        <div class="swiper-button-prev !w-8 cursor-pointer fb-sm:!w-10">
          <svg style="transform: scale(-1);" width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.7507 13.4255L20.7512 3.3996L24.1745 0L40 15.7507L24.2653 31.9246C24.1263 32.0478 24.0411 31.9982 23.8985 31.9246C23.089 31.5107 21.6496 29.3822 20.7512 28.7862L30.936 18.2085H0V13.7014L0.277868 13.4255H30.7507Z" fill="#0A2B6F"/>
          </svg>
        </div>
        <div class="swiper-button-next !w-8 cursor-pointer fb-sm:!w-10">
          <svg width="40" height="32" viewBox="0 0 40 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.7507 13.4255L20.7512 3.3996L24.1745 0L40 15.7507L24.2653 31.9246C24.1263 32.0478 24.0411 31.9982 23.8985 31.9246C23.089 31.5107 21.6496 29.3822 20.7512 28.7862L30.936 18.2085H0V13.7014L0.277868 13.4255H30.7507Z" fill="#0A2B6F"/>
          </svg>
        </div>
      </div>
    </div>
    <div class="relative w-full mx-auto fb-hover-list">
      <div class="swiper overflow-visible relative">
        <div class="js-guess-content swiper-wrapper"
          data-datalayer="true" 
          data-event-type="view_item_list" 
          data-list-name="recommended_product_exposure" 
          data-scope-id= "{{ section.id }}"
          data-recommend-module="{{- gtm_type -}}/{{- section.settings.title -}}"
        >
          <div class="transition duration-200 relative w-full rounded h-20r fb-sm:h-27r">
            <div class=" w-full h-full bg-gray-200 pulse"></div>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar mt-4"></div>
    </div>
  </div>
</div>
<style>
 @media screen and (min-width: 1000px) {
    .fb-hover-list:before,.fb-hover-list:after {
      content: "";
      position: absolute;
      top: 0;
      width: 150px;
      height: 100%;
      background: #EAEEF1;
      z-index: 2;
    }
    .fb-hover-list:before{
      left: -160px;
    }
    .fb-hover-list:after {
      right: -170px;
    }
  }
</style>
<script type="text/javascript">
  $(function() {
    class GuessYouLike {
      constructor(sectionId) {
        this.sectionId = sectionId;
        this.sectionElement = document.querySelector('.js-guess-' + sectionId);
      }
      createProductHtml(item) {
        return `
          <div class="swiper-slide">
            <product-item 
              data-customer-id=""
              data-product-id="${item.productId || ''}"
              data-product-title="${(item.title || '').replace(/"/g, '&quot;')}"
              data-sku="${item.skuCode || ''}"
              data-var-id="${item.variantId || ''}"
              data-price="${item.price || ''}"
              data-datalayer-item="true"
              class="flex flex-col justify-between h-full bg-white rounded-sm shadow-sm hover-scale"
            >
              <div class="relative overflow-hidden">
                <a href="/products/${item.skuCode}" 
                  data-sku="${item.skuCode || ''}" 
                  datalayer-link
                  class="relative aspect-square min-h-[162px] fb-sm:min-h-[200px] flex items-center justify-center"
                >
                  ${item.newTag ? `<div class="z-2 absolute left-0 top-0 fb-flex-center">
                    <span class="absolute font-bold text-sm leading-[150%] text-white left-1.5 top-3 -rotate-45">NEW</span>
                    <svg class="w-auto h-auto" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-26" y="48.9998" width="104.538" height="30" transform="rotate(-45 -26 48.9998)" fill="#ED0006"/>
                    </svg>
                  </div>` : ''}
                  <img 
                    class="absolute inset-0 w-full h-full object-contain p-6.5 fb-sm:p-7.5 lazyload" 
                    loading="lazy"
                    data-media-id="${item.mediaId || ''}"
                    data-src="${item.mainPic || ''}"
                    width="300"
                    height="300"
                    alt="${(item.title || '').replace(/"/g, '&quot;')}"
                  >
                </a>
              </div>

              <div class="p-2 fb-sm:-mt-3 fb-sm:px-4.5 fb-sm:pt-0 fb-sm:pb-4.5 flex flex-col flex-grow justify-start">
                <span class="text-sm font-medium text-main mb-2">${item.brand || ''}</span>
                <a 
                  href="/products/${item.skuCode}"
                  datalayer-link=""
                  data-sku="${item.skuCode || ''}"
                  title="${(item.title || '').replace(/"/g, '&quot;')}"
                  class="text-sm leading-6 text-575757 mb-3 line-clamp-2 hover:text-main h-12"
                >
                  ${item.title || ''}
                </a>
                <div class="flex justify-between mb-4.5 flex-1">
                  <div class="flex items-center flex items-end">
                    <span class="text-lg fb-sm:text-xl font-medium text-main">$${item.price || '0.00'}</span>
                  </div>
                </div>
                <form 
                  method="post" 
                  action="/cart/add"
                  class="w-full"
                  enctype="multipart/form-data"
                  is="product-form"
                  data-recommend-module="{{gtm_type}}/{{- section.settings.title -}}"
                  >
                  <input type="hidden" name="form_type" value="product">
                  <input type="hidden" name="utf8" value="✓">
                  <input type="hidden" name="quantity" value="${item.moq || 1}">
                  <input type="hidden" name="id" value="${item.variantId || ''}">
                  <input type="hidden" disabled name="sku" value="${item.skuCode || ''}">
                  <button is="loader-button" type="submit" class="w-full h-10 fb-sm:h-12 flex items-center justify-center rounded-sm bg-button text-main font-bold text-sm fb-sm:text-base transition-all duration-200 hover:bg-opacity-90 relative">
                    <span class="flex items-center gap-2">
                      Add to Cart
                    </span>
                    <span class="hidden" hidden>
                      <div class="inline-block">
                        <svg focusable="false" width="24" height="24" class="animate-spin" viewBox="25 25 50 50">
                          <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"/>
                        </svg>
                      </div>
                    </span>
                  </button>
                  <input type="hidden" name="product-id" value="${item.id || ''}">
                  <input type="hidden" name="section-id" value="${item.sectionId || ''}">
                </form>
        
              </div>
            </product-item>
          </div>
        `;
      }
      initSwiper() {
        const swiperElement = this.sectionElement.querySelector('.swiper');
        if (!swiperElement) {
          return false;
        }
        return new Swiper(swiperElement, {
          slidesPerView: 'auto',
          spaceBetween: 20,
          scrollbar: {
            el: this.sectionElement.querySelector('.swiper-scrollbar'),
            draggable: true,
          },
          navigation: {
            nextEl: this.sectionElement.querySelector('.swiper-button-next'),
            prevEl: this.sectionElement.querySelector('.swiper-button-prev'),
          },
          breakpoints: {
            0: {
              spaceBetween: 12,
              slidesPerView: 2,
              slidesPerGroup: 2,
            },
            768: {
              spaceBetween: 24,
              slidesPerView: 3,
              slidesPerGroup: 3
            },
            1024: {
              spaceBetween: 24,
              slidesPerView: 4,
              slidesPerGroup: 4
            },
            1280: {
              spaceBetween: 24,
              slidesPerView: 5,
              slidesPerGroup: 5
            },
          }
        });
      }
      async fetchRecommendations() {
        try {   
          let url = `/openapi/recommend`;
          let params = {
            userId: window.northsky.customerId || '',
            anonymousId: window.gaGlobal?.vid || '',
            count: 15,
          }
          {% if gtm_type == 'cart' %}
            url = `/openapi/recommend/cart`;
            const skus = [];
            {% for line_item in cart.items %}
              skus.push({
                nums: +'{{ line_item.quantity }}',
                skuAmount: +('{{ line_item.original_price | money_without_currency  }}'.replace(/,/g, '')),
                skuCode: '{{ line_item.sku }}'
              });
            {% endfor %}
            if(skus.length == 0){
              this.sectionElement.classList.add('hidden');
              return false
            }
            params.skuCodes = skus.map(item => item.skuCode);
          {% endif %}
          const result = await kkAjax.post(url, params);
          if (result.code !== 200 || !result.data || !Array.isArray(result.data) || result.data.length == 0) {
            this.sectionElement.classList.add('hidden');
            return false
          }
          this.sectionElement.querySelector('.js-swiper-btns ').classList.remove('hidden');
          this.sectionElement.querySelector('.js-swiper-btns ').classList.add('flex');

          const fragment = document.createDocumentFragment();
          const tempDiv = document.createElement('div');

          const swiperElement = this.sectionElement.querySelector('.swiper');
          const swiperWrapper = this.sectionElement.querySelector('.js-guess-content');
          if (!swiperElement) {
            return false;
          }
          swiperWrapper.innerHTML = '';
          result.data.forEach(item => {
            tempDiv.innerHTML = this.createProductHtml(item);
            while (tempDiv.firstChild) {
              fragment.appendChild(tempDiv.firstChild);
            }
          });
          swiperWrapper.appendChild(fragment);
          this.initSwiper();
        } catch (error) {
          console.log(error);
          this.sectionElement.classList.add('hidden');
        }
      }
      async init() {
        await this.fetchRecommendations()
        try {
          DataLayerManagerFactory.getInstance('{{ section.id }}').init();
        } catch (error) {
          console.log(error);
        }
      }
    }
    const guessYouLike = new GuessYouLike('{{ section.id }}');
    guessYouLike.init();
  })
</script>
{% schema %}
{
  "name": "Guess you like",
  "presets": [
    {
      "name": "guess-you-like"
    }
  ],
  "class": "product-swiper-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "You Might Like"
    }
  ]
}
{% endschema %}