{%- assign collection_sort_by = collection.sort_by | default: collection.default_sort_by -%}
{%- assign active_filters_count = 0 -%}

{%- for filter in collection.filters -%}
  {%- if filter.type == 'list' -%}
    {%- assign active_filters_count = active_filters_count | plus: filter.active_values.size -%}
  {%- elsif filter.type == 'price_range' and filter.min_value.value or filter.max_value.value -%}
    {%- assign active_filters_count = active_filters_count | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}
{{ 'main-collection-all.css' | asset_url | stylesheet_tag }}
<div class="zkh-collection-skeleton js-skeleton-screen container">
  <div class="skeleton-screen">
    {%- render 'skeleton-collection'-%}
  </div>
</div>
<div class="w-full js-topheader-mob fb-sm:bg-white">
  <div class="w-full container">
    {% render 'collection-top-public', collection: collection %}
  </div>
</div>
<section class="zkh-collection-main js-collection-main hidden">
  <div class="w-full fb-sm:bg-white">
    <div class="{{ section.id }} container fb-sm:pt-2 js-topheader-mob">
      {%- if collection.handle != 'all' -%}
        <div class="js-categories pb-10 hidden">
          <div class="js-categories-list grid grid-cols-2 fb-sm:grid-cols-6 fb-sm:border-l fb-sm:border-F0F0F0">
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
  <div class="js-collecition-menu new-mob-facet-filters px-4 fb-sm:hidden">
    {% render 'facet-filters-newcol' %}
  </div>
  <product-facet-spu  section-id="{{ section.id }}" class="container product-facet-spu block fb-sm:flex fb-sm:justify-center fb-sm:bg-EAEEF1 fb-sm:mt-9">
    <div class="w-0 flex-none mr-10 hidden fb-sm:block fb-md:w-21r relative">
      <safe-sticky  class="product-facet__aside-inner fb-md:sticky fb-md:top-[30px]">
          {% render 'facet-filters-collection' %}
      </safe-sticky>
    </div>
    <div id="facet-main" class="product-facet__main anchor" role="region" aria-live="polite">
        <div class="fixed left-0 hidden top-[36%] z-8 bg-button rounded-sm shadow-[2px_2px_4px_rgba(0,0,0,0.2)] fb-sm:flex fb-md:hidden">
          <button
            is="toggle-button"
            class="bg-button p-2.5"
            aria-expanded="false"
            aria-controls="facet-filters"
          >
            {%- render 'icon' with 'filters' -%}
          </button>
        </div>
        <div id="zkh-collection-list">
          <div class="js-product-cl-list" v-if="!(categories.length > 0 && isMobile)">
            <div class="flex-col space-y-5 fb-sm:space-y-6 hidden fb-sm:flex w-full">
              <div class="fb-sm:bg-white fb-sm:py-6 fb-sm:px-7 fb-sm:w-full fb-sm:rounded-sm" :data-spu="item.spu" v-for="(item, itemindex) in spuData" :key="item.spu">
                <div class="w-full p-4 bg-white rounded-sm mb-5 fb-sm:rounded-none fb-sm:p-0 fb-sm:bg-transparent hidden fb-sm:block">
                  <a :href="'/products/' + item.skus[0].skuCode">
                    <h4 :title="item.spuTitle" class="block fb-sm:hidden">
                      <span class="text-main text-13 font-bold">[[item.spuTitle]]</span>
                      <span class="text-666666 text-xs ml-1">([[item.skus.length]] [[item.skus.length > 1 ? 'products' : 'product']])</span>
                    </h4>
                    <div class="flex items-center mt-3 fb-sm:mt-0 gap-3 fb-sm:gap-8 cursor-pointer fb-sm:py-0">
                      <div class="w-[30%] h-auto fb-sm:w-[130px] fb-sm:h-auto flex-shrink-0 flex justify-center items-center" v-if="itemindex < 2">
                        <img 
                          width="130" 
                          height="130" 
                          :alt="item.spuTitle"
                          :src="item.spuImg" 
                          class="w-full mx-auto h-auto"
                        />
                      </div>
                      <div class="w-[30%] h-auto fb-sm:w-[130px] fb-sm:h-auto flex-shrink-0 flex justify-center items-center" v-else>
                        <img 
                          width="130" 
                          height="130" 
                          :alt="item.spuTitle" 
                          class="lazyload w-full mx-auto h-auto" 
                          :data-src="item.spuImg" 
                          :fetchpriority="itemindex < 3 ? 'high' : 'low'"
                          loading="eager"
                        />
                      </div>
                      <div class="flex flex-col">
                        <h2 :title="item.spuTitle" class="hidden fb-sm:block text-base text-main m-0 font-bold fb-sm:text-xl hover:underline">[[ item.spuTitle ]]</h2>
                        <span class="hidden fb-sm:block text-xs text-666666 mt-2 fb-sm:mt-2.5">[[item.skus.length]] [[item.skus.length > 1 ? 'options' : 'option']]</span>
                        <div :title="item.spuDesc" class="hidden fb-sm:line-clamp-2 text-sm mt-5 text-121212">
                          [[ item.spuDesc ]]
                        </div>
                        <div class="fb-sm:hidden text-xs line-clamp-7 text-main">
                          [[item.spuDesc]]
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="w-full" v-if="!isMobile">
                  <div class="mt-5 w-full">
                    <div class="w-full" :style="{'min-height': item.skus.length > skuPageSize ? '272px': 'auto'}">
                      <div class="text-xs font-bold text-121212 justify-between items-center hidden py-1.5 rounded-sm bg-F3F8FC fb-sm:flex w-full mb-1">
                        <div class="flex-1 w-full h-full flex items-center justify-between">
                          <div class="flex-1 flex items-center justify-center text-center px-1" v-for="item2 in item.spuKey" :key="item2">
                            [[item2]]
                          </div>
                          <div class="flex-1 flex items-center justify-center text-center px-1">Price</div>
                        </div>
                        <div class="w-[148px] flex items-center justify-center text-center">Quantity</div>
                      </div>
                      <div class="w-full hidden fb-sm:block " v-for="(lib, libindex) in getPaginatedSkus(item.spu)" :key="lib.skuCode">
                        <div class="text-xs text-121212 justify-between min-h-10 items-center hidden py-2 fb-sm:flex w-full hover:bg-D3DEF1 hover:rounded-sm" :data-sku="lib.skuCode">
                            <div class="flex-1 w-full h-full flex items-center justify-between cursor-pointer">
                              <a class="flex-1 flex items-center justify-center text-center px-1" :href="'/products/' + lib.skuCode" class="spu-value" v-for="(item2, item2index) in item.spuKey" :key="item2">
                                [[ lib.attrMap[item2index][item2] ]]
                              </a>
                              <div class="flex-1 flex items-center justify-center text-center font-bold px-1">
                                  $[[lib.price]]
                              </div>
                            </div>
                            <div class="w-[148px] flex items-center min-h-8 justify-center text-center space-x-2">
                              <div class="w-22 border border-D3DEF1  bg-white rounded-sm h-8 flex justify-between items-center px-1 space-x-0.5">
                                <button 
                                  class="flex justify-center items-center w-4 flex-1" 
                                  @click="decrementQuantity(itemindex,libindex)"
                                  :disabled="lib.quantity <= 1"
                                >
                                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.17585 6.8436H9.07417H1.20312V9.09247H9.07417H9.17585H14.6964V6.8436H9.17585Z" fill="#092A6F"/>
                                  </svg>
                                </button>
                                <input 
                                  type="text" 
                                  class="font-bold w-10 text-xs outline-none border-none"
                                  v-model.number="lib.quantity" 
                                  @change="validateQuantity(itemindex,libindex)"
                                  :min="lib.moq" 
                                  :max="1000000"
                                >
                                <button 
                                  class="flex justify-center items-center w-4 flex-1" 
                                  @click="incrementQuantity(itemindex, libindex)"
                                  :disabled="lib.quantity >= 1000000"
                                >
                                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.07417 6.84361V1.22144H6.8253V6.84361H1.20312V9.09248H6.8253V14.7147H9.07417V9.09248H14.6964V6.84361H9.07417Z" fill="#08296F"/>
                                  </svg>
                                </button>
                              </div>
                              <button 
                                class="w-8.5 h-8 rounded-sm bg-button flex items-center justify-center text-center" 
                                @click="addToCart(lib.variantId, lib.quantity, itemindex, libindex)"
                                >
                                <span class="cart-container" v-if="!lib.selected">
                                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-142A6B"><mask id="mask0_1032_2819" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24" style="mask-type: alpha;"><rect width="24" height="24" fill="currentColor"></rect></mask> <g mask="url(#mask0_1032_2819)"><path d="M7.15375 21.5578C6.66792 21.5578 6.25483 21.3875 5.9145 21.047C5.57417 20.7067 5.404 20.2936 5.404 19.8078C5.404 19.3218 5.57417 18.9086 5.9145 18.5683C6.25483 18.2279 6.66792 18.0577 7.15375 18.0577C7.63975 18.0577 8.05292 18.2279 8.39325 18.5683C8.73358 18.9086 8.90375 19.3218 8.90375 19.8078C8.90375 20.2936 8.73358 20.7067 8.39325 21.047C8.05292 21.3875 7.63975 21.5578 7.15375 21.5578ZM16.8463 21.5578C16.3603 21.5578 15.9471 21.3875 15.6068 21.047C15.2664 20.7067 15.0963 20.2936 15.0963 19.8078C15.0963 19.3218 15.2664 18.9086 15.6068 18.5683C15.9471 18.2279 16.3603 18.0577 16.8463 18.0577C17.3321 18.0577 17.7452 18.2279 18.0855 18.5683C18.4258 18.9086 18.596 19.3218 18.596 19.8078C18.596 20.2936 18.4258 20.7067 18.0855 21.047C17.7452 21.3875 17.3321 21.5578 16.8463 21.5578ZM6.01525 5.75L8.55 11.0577H15.3673C15.4249 11.0577 15.4763 11.0433 15.5213 11.0145C15.5661 10.9857 15.6045 10.9456 15.6365 10.8943L18.3193 6.01925C18.3578 5.94875 18.3609 5.88625 18.3288 5.83175C18.2968 5.77725 18.2423 5.75 18.1653 5.75H6.01525ZM5.29625 4.25H19.1808C19.5898 4.25 19.899 4.42408 20.1085 4.77225C20.3182 5.12025 20.3282 5.47567 20.1385 5.8385L16.9345 11.6423C16.7705 11.9307 16.5536 12.1554 16.2838 12.3162C16.0138 12.4773 15.7179 12.5577 15.3963 12.5577H8.1L6.94225 14.673C6.89092 14.75 6.88933 14.8333 6.9375 14.923C6.9855 15.0128 7.05758 15.0577 7.15375 15.0577H18.596V16.5577H7.15375C6.48708 16.5577 5.98617 16.2703 5.651 15.6953C5.31567 15.1203 5.30383 14.5462 5.6155 13.973L7.04225 11.4078L3.404 3.75H1.5V2.25H4.34625L5.29625 4.25Z" fill="#0A2B6F"></path></g></svg>
                                </span>
                                <div v-else>
                                  <span class="loading-container">
                                    <svg t="1718343354897" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4307" width="16" height="16">
                                      <path d="M512 170.666667v85.333333a256 256 0 1 1-223.573333 131.2L213.930667 345.6A341.333333 341.333333 0 1 0 512 170.666667z" fill="#000000" opacity=".3" p-id="4308"></path>
                                    </svg>
                                  </span>
                                </div>
                              </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="hidden mt-4 fb-sm:flex justify-end items-center" v-if="item.skus.length > skuPageSize">
                    <el-pagination
                      @current-change="(page) => handleSkuPageChange(item.spu, page)"
                      :current-page="currentSkuPages[item.spu] || 1"
                      :page-size="skuPageSize"
                      :total="item.skus.length"
                      layout="pager">
                    </el-pagination>
                  </div>
                </div>
       
              </div>
            </div>
            <div class="w-full fb-sm:hidden" v-if="mobSpuData && mobSpuData.length > 0 ">
              <div class="fb-sm:hidden grid grid-cols-2 gap-4">
                <div class="w-full" v-for="(lib, libindex) in mobSpuData" :key="'mob' + lib.skuCode">
                  <div :data-sku="lib.skuCode" class="w-full flex flex-col rounded-sm px-3 pb-1.5 bg-white pt-4.5">
                    {% comment %} <div class="favorite-button-wrapper">
                      <button class="favorite-button" :class="{'favorited': lib.isWish}" :data-sku="lib.skuCode" :data-product-id="lib.productId" @click="toggleFavorite(lib, itemindex, libindex)">
                        <svg v-if="lib.isWish" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="20" height="18" viewBox="0 0 20 18">
                          <g><path d="M10.5494,1.67758L9.99759,2.24804L9.44575,1.6751C7.29622,-0.549658,3.79963,-0.559579,1.64046,1.65526L1.62118,1.6751C-0.540394,3.90979,-0.540394,7.52347,1.62118,9.76064L9.10597,17.6155C9.59034,18.1215,10.3807,18.1289,10.8748,17.6329L10.8916,17.6155L18.3788,9.76064C20.5404,7.52595,20.5404,3.91227,18.3788,1.6751C16.2293,-0.549658,12.7327,-0.559579,10.5735,1.65278L10.5494,1.67758Z" fill="#0A3164" fill-opacity="1"></path></g>
                        </svg>
                        <svg v-else xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="21" height="19" viewBox="0 0 21 19">
                          <g><path d="M14.9812,0.000024000000000024002Q12.4828,-0.0071029999999999704,10.7157,1.80356L10.7149,1.80435L10.6908,1.82916L10.49837,2.0281000000000002L10.30587,1.82824Q8.54613,0.006911999999999974,6.04804,0.00033400000000000096Q3.54936,-0.0062470000000000026,1.78244,1.80624L1.76257,1.82668Q0,3.64886,0,6.21694Q0,8.78486,1.76161,10.6081L9.24399,18.4604Q9.75369,18.9929,10.4819,18.9999Q11.2099,19.007,11.729,18.4857L11.7502,18.4639L19.2407,10.6056Q21,8.78687,21,6.2188Q21,3.65088,19.2384,1.82768Q17.4794,0.0071510000000000185,14.9812,0.000024000000000024002ZM11.4314,2.50201L11.4321,2.50121Q12.9036,0.994101,14.9784,1.0000200000000001Q17.0539,1.005941,18.5192,2.52253Q20,4.055070000000001,20,6.2188Q20,8.38237,18.5169,9.91565L11.033,17.7671L11.0205,17.78Q10.7985,18.0029,10.49159,18Q10.18469,17.997,9.96795,17.7706L2.48076,9.91321Q1,8.38067,1,6.21694Q1,4.05337,2.47979,2.52353L2.4984900000000003,2.50429Q3.96996,0.994865,6.0454,1.00033Q8.12073,1.005795,9.58563,2.52197L10.49681,3.46797L11.408,2.52601L11.4314,2.50201Z" fill-rule="evenodd" fill="#0A3164" fill-opacity="1"></path></g>
                        </svg>
                      </button>
                    </div> {% endcomment %}
                      <a :href="'/products/' + lib.skuCode" class="w-full h-32.5 text-center flex items-center justify-center" >
                        <img 
                          width="130px" 
                          height="130px" 
                          class="w-auto h-full" 
                          :alt="lib.title" 
                          :src="lib.mainPic"
                          v-if="libindex< 2"
                        /> 
                        <img 
                          v-else
                          width="130px" 
                          height="130px" 
                          class="lazyload w-auto h-full"
                          :alt="lib.title" 
                          :data-src="lib.mainPic"
                        /> 
                      </a>
                      <div class="w-full flex justify-between items-center mt-2">
                        <span class="text-sm font-semibold text-main line-clamp-1">[[lib.brand]]</span>
                        {% comment %} <span class="text-10 text-666666"> [[lib.model]]</span> {% endcomment %}
                      </div>
                      <div class="w-full mt-1">
                        <a :href="'/products/' + lib.skuCode" :title="lib.title" class="text-xs text-333333 mt-2 line-clamp-2 h-8 fb-sm:h-auto">
                          [[lib.title]]
                      </a>
                      </div>
                    
                    <div class="w-full mt-1.5">
                      <span class="text-121212 text-22 font-bold">
                        $[[lib.price]]
                      </span>
                    </div>
                    <div class="w-full mt-3.5">
                      <button 
                        class="w-full h-8 gap-2.5 rounded-sm px-0 text-sm bg-button "
                        :data-variant-id="lib.variantId"
                        @click="mobAddToCart(lib.variantId, lib.quantity, libindex)"
                        >
                        <div class="w-full h-full flex items-center justify-center space-x-2" v-if="!lib.selected">
                          <span class="font-bold text-sm text-142A6B">Add to Cart</span>
                        </div>
                        <div v-else class="w-full h-full flex items-center justify-center">
                          <div class="spinner">
                            <svg focusable="false" class="w-4 h-4" width="24" height="24" class="icon icon--spinner" viewBox="25 25 50 50">
                              <circle cx="50" cy="50" r="20" fill="none" stroke="currentColor" stroke-width="5"></circle>
                            </svg>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-col justify-center text-center my-12"
              :class="(spuData.length <= 0 &&!isLoading)? 'flex' : 'hidden'"
            >
              {%- if collection.all_products_count == 0 -%}
                <h3 class="heading h4">{{ 'collection.general.empty_title' | t }}</h3>
                <p class="my-5">{{ 'collection.general.empty_label' | t }}</p>
                <div class="w-full h-auto fb-flex-center">
                  <a href="{{ routes.all_products_collection_url }}" class="px-6 rounded py-2 bg-button font-bold text-base text-121212">
                    {{- 'collection.general.empty_button' | t -}}
                  </a>
                </div>
              {%- else -%}
                <h3 class="heading h4">{{ 'collection.general.no_results_title' | t }}</h3>
                <p class="my-5">{{ 'collection.general.no_results_label' | t }}</p>
                <div class="w-full h-auto fb-flex-center">
                  <a
                    href="{{ collection.url }}?sort_by={{ collection_sort_by }}"
                    class="px-6 rounded py-2 bg-button font-bold text-base text-121212"
                  >
                    {{- 'collection.general.no_results_button' | t -}}
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
          <div class="virtual-scroll-loading" v-if="isLoading">
            <div class="loading-container">
              <svg t="1718343354897" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4307" width="16" height="16">
                <path d="M512 170.666667v85.333333a256 256 0 1 1-223.573333 131.2L213.930667 345.6A341.333333 341.333333 0 1 0 512 170.666667z" fill="#000000" opacity=".3" p-id="4308"></path>
              </svg>
            </div>
          </div>
        </div>
    </div>
  </product-facet-spu>
  <div id="keep-collection-style"
  class="h-13 fb-sm:h-25"
  data-handle="{{ collection.handle }}"
  data-title="{{ collection.title }}"
  data-product-count="{{ collection.products_count }}"
  >
  </div>
  <div class="hidden js-hidden-content">
    {% paginate collection.products by 50 %}
      {%- for product in collection.products -%}
        {%- render 'index-product-item', product: product -%}
      {%- endfor -%}
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
  "name": "Collection vuepage",
  "class": "shopify-section--main-collection",
  "settings": [
    {
      "type": "text",
      "id": "collection_title",
      "label": "collection title"
    },
    {
      "type": "checkbox",
      "id": "show_sort_by",
      "label": "Show sort by",
      "default": true
    },
    {
      "type": "header",
      "content": "Filters"
    },
    {
      "type": "checkbox",
      "id": "show_filters",
      "label": "Show filters",
      "info": "[Customize filters](/admin/menus)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_filter_group_name",
      "label": "Show group name",
      "info": "Group name will be shown inside selected filters.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show filter color swatch",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "open_first_filter_group",
      "label": "Open first group by default",
      "default": false
    },
    {
      "type": "select",
      "id": "filter_position",
      "label": "Position",
      "options": [
        {
          "value": "always_visible",
          "label": "Always visible"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "always_visible"
    },
    {
      "type": "header",
      "content": "Promotion blocks",
      "info": "Add extra information to push other collections or products."
    },
    {
      "type": "select",
      "id": "promotion_position",
      "label": "Position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "select",
      "id": "promotion_height",
      "label": "Block height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    }
  ]
}
{% endschema %}