<style>
   @keyframes loadingRotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .line-item-table .line-item .loading-container {
    animation: loadingRotate 1s infinite linear;
    width: 16px;
    height: 16px;
    display: flex;
  } 

</style>
<nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="container breadcrumb text--xsmall">
  <ol class="collection_breadcrumb__list breadcrumb__list" role="list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
    </li>
    <li class="breadcrumb__item">
      <span class="breadcrumb__link" aria-current="page">Cart</span>
    </li>
  </ol>
</nav>

<section>
  <div class="{{ section.id }} container">
    {%- if cart.item_count == 0 -%}
      <div class="text-center my-14r w-full">
        <h1 class="text-32 text-main m-0 uppercase font-bold">{{ 'cart.general.title' | t }}</h1>
        <p class="mt-4 text-20">{{ 'cart.general.empty' | t }}</p>
        <div class="w-full h-auto fb-flex-center mt-5">
          <a href="{{ section.settings.empty_button_link }}" class="px-10 rounded py-4 bg-button font-bold text-base text-black tracking-[2px]">
            {{- 'cart.general.start_shopping' | t | upcase -}}
          </a>
        </div>
      </div>
    {%- endif -%}
    {%- if cart.item_count > 0 -%}
      <div class="w-full mb-8 mx-auto">
        <div class="w-full">
          <form action="{{ routes.cart_url }}" method="post" novalidate class="flex-col-reverse flex space-y-5 fb-md:grid fb-md:gap-4 fb-md:grid-cols-[1fr_303px]">
            <input type="hidden" name="checkout">
            <div class="w-full">
              <h3 class="bg-F3F8FC w-full rounded-sm text-0A2B6F flex items-center font-bold h-8 text-sm px-5 fb-sm:h-12 fb-sm:px-7 fb-sm:text-22">CART</h3>
              <div class="w-full">
                <table class="w-full js-line-item-table">
                  <tbody class="w-full">
                    {% liquid
                      assign computed_subtotal = 0
                      assign original_total_price = 0
                    %}
                    {%- for line_item in cart.items -%}
                      {% liquid
                        assign quantity_discount_json = line_item.product.metafields.product.quantity_discount
                        assign quantity_discounts = quantity_discount_json.value
                        assign first_moq = quantity_discounts.first.moq | times: 1
                        assign original_line_item_price = line_item.variant.price | times: line_item.quantity

                        if quantity_discounts.size > 0 and line_item.quantity >= first_moq
                          for discount in quantity_discounts
                            assign moq = discount.moq | times: 1
                            if line_item.quantity < moq
                              break
                            endif
                            assign discount_value = discount.discount | times: 1
                            assign computed_final_line_price = line_item.variant.price | times: discount_value
                            assign computed_final_line_price_total = line_item.variant.price | times: discount_value | times: line_item.quantity
                          endfor
                        else
                          assign computed_final_line_price = line_item.variant.price
                          assign computed_final_line_price_total = line_item.variant.price | times: line_item.quantity
                        endif
                        assign computed_subtotal = computed_subtotal | plus: computed_final_line_price_total
                        assign original_total_price = original_total_price | plus: original_line_item_price 
                      %}
                      <tr
                        class="line-item w-full min-h-13r rounded-sm border border-F0F0F0 flex flex-col fb-sm:flex-row px-2.5 pt-4 pb-6 mb-4.5 fb-sm:space-x-15"
                        data-sku="{{ line_item.sku }}"
                        data-price="{{ line_item.original_price }}"
                        data-qty="{{ line_item.quantity }}"
                      >
                        <td class="p-0 fb-sm:flex-1">
                          <div class="flex relative items-center mt-0 space-x-4 fb-sm:space-x-6">
                            <a
                              href="{{ line_item.url }}"
                              class="w-25 h-25 fb-sm:w-10r fb-sm:h-10r shrink-1"
                              tabindex="-1"
                              aria-hidden="true"
                            >
                              <img
                                class="w-full h-full"
                                width="auto"
                                height="auto"
                                src="{{ line_item.image | image_url }}"
                              >
                            </a>
                            <div class="flex-1 flex flex-col justify-between relative shrink-0">
                              <div class="w-full">
                                <div class="flex fb-sm:flex-wrap text-xs items-end space-x-2 fb-sm:space-x-2.5">
                                  {%- if line_item.product.metafields.product.brand.value != blank
                                    and line_item.product.metafields.product.brand.value != 'null'
                                    and line_item.product.metafields.product.brand.value != '-'
                                  -%}
                                    <span class="text-sm fb-sm:text-base text-0A2B6F font-bold">
                                      {{- line_item.product.metafields.product.brand.value -}}
                                    </span>
                                  {%- endif -%}
                                  {% if line_item.product.metafields.product.manufacturer_model_number != blank %}
                                    <span class="text-sm text-575757 hidden fb-sm:block"
                                      data-tooltip="{{ line_item.product.metafields.product.manufacturer_model_number }}"
                                      >Model: {{ line_item.product.metafields.product.manufacturer_model_number }}
                                    </span>
                                  {% endif %}
                                  {% assign stock_num = line_item.product.variants.first.inventory_quantity %}
                                  {% assign varid = line_item.product.variants.first.id %}
                                  <div class="flex items-end fb-sm:h-6 pb-0.5">
                                    <stock-label class="stock-label-container h-4" data-stock-num="{{ stock_num }}" data-input-varid="{{ varid }}">
                                    </stock-label>
                                  </div>
                                </div>
                                <a href="{{ line_item.url }}" class="line-item-title mt-2.5 fb-sm:mt-2 text-0A2B6F text-sm text-left block">
                                  {{- line_item.product.title -}}
                                </a>
                                {% if line_item.product.metafields.product.manufacturer_model_number != blank %}
                                  <div class="text-xs text-575757 fb-sm:hidden mt-3.5"
                                    data-tooltip="{{ line_item.product.metafields.product.manufacturer_model_number }}"
                                    >Model: {{ line_item.product.metafields.product.manufacturer_model_number }}
                                  </div>
                                {% endif %}
                              </div>
                              {%- capture line_item_properties -%}
                                {%- unless line_item.product.has_only_default_variant -%}
                                  <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.variant.title }}</span>
                                {%- endunless -%}
  
                                {%- if line_item.selling_plan_allocation -%}
                                  <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
                                {%- endif -%}

                                <ul class="product-item-meta__property" role="list">
                                  <span class="loading-container">
                                    {% render 'icon' with 'loading' %}
                                  </span>
                                  <li class="js-line-item__property date flex text-xs fb-sm:text-sm flex-col text-575757"></li>
                                </ul>
                              {%- endcapture -%}
                              <div class="line-item-bottom w-full mt-4 fb-sm:mt-10 fb-sm:flex fb-sm:items-start fb-sm:space-y-3.5 fb-sm:flex-col-reverse">
                                {%- if line_item_properties != blank -%}
                                  <div class="w-full fb-sm:mr-10">
                                    {{- line_item_properties -}}
                                  </div>
                                {%- endif -%}
                                <div class="w-full hidden fb-sm:block">
                                  {% comment %} mobile 不能在加line-item-data{% endcomment %}
                                  <div class="text-0A2B6F text-base font-medium flex items-center space-x-2">
                                    {% if line_item.variant.compare_at_price > line_item.variant.price %}
                                      {% assign price = line_item.variant.price
                                        | money_without_currency
                                        | replace: ',', ''
                                        | times: 1
                                      %}
                                      {% assign compare_at_price = line_item.variant.compare_at_price
                                        | money_without_currency
                                        | replace: ',', ''
                                        | times: 1
                                      %}
                                      {% assign discount_difference = compare_at_price | minus: price %}
                                      {% assign discount_percentage = discount_difference
                                        | divided_by: compare_at_price
                                        | times: 100
                                        | ceil
                                      %}
                                      <span class="" data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.variant.price }}">{{ line_item.variant.price | money }}</span>
                                      <s class="text-xs text-999999 flex items-center">
                                        {{- line_item.variant.compare_at_price | money -}}
                                      </s>
                                      <span class="text-xs text-E62D35">{{ discount_percentage }}%OFF</span>
                                    {% else %}
                                      <div class="" data-quantity="{{ line_item.quantity }}" data-price="{{ computed_final_line_price }}">{{ computed_final_line_price | money }} per item</div>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                            {%- assign max_allowed_quantity = '' -%}
                            {%- assign allow_more = true -%}
                            {%- if line_item.variant.inventory_management == 'shopify'
                              and line_item.variant.inventory_policy == 'deny'
                              and line_item.variant.inventory_quantity <= line_item.quantity
                            -%}
                              {%- assign max_allowed_quantity = line_item.variant.inventory_quantity -%}
                              {%- assign allow_more = false -%}
                            {%- endif -%}
                            {% assign moq_value = line_item.product.metafields.product.moq | plus: 0 %}
                            {% assign mpq_value = line_item.product.metafields.product.mpq | plus: 0 %}
                            {% comment %} {% assign remainder = line_item.variant.inventory_quantity | divided_by: mpq_value %}
                            {% assign max_allowed_quantity = remainder | times: mpq_value %} {% endcomment %}
                            {%- capture quantity_selector_inner -%}
                              {%- assign css_input = 'fb-flex-center flex-1 h-full shrink-0' -%}
                              <div class="w-9r h-9 fb-sm:w-9.2r fb-sm:h-12 border border-D3DEF1 fb-flex-center ">
                                {% if line_item.product.metafields.product.moq != blank and moq_value < line_item.quantity %}
                                  <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: mpq_value }}&line={{ forloop.index }}" class="{{ css_input }}" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                      {%- render 'icon' with 'minus-new' -%}
                                  </a>
                                {% elsif line_item.product.metafields.product.moq == blank %}
                                    <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: 1 }}&line={{ forloop.index }}" class="{{ css_input }}" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                        {%- render 'icon' with 'minus-new' -%}
                                    </a>
                                {% else %}
                                    <span class="{{ css_input }} opacity-50 cursor-not-allowed">
                                        {%- render 'icon' with 'minus-new' -%}
                                    </span>
                                {% endif %}
  
                                <input onpaste="return false" data-sku="{{ line_item.sku }}" min="1" 
                                  data-max="{% if line_item.product.selected_or_first_available_variant.inventory_policy == 'deny' %}{{ line_item.product.selected_or_first_available_variant.inventory_quantity }}{% endif %}"
                                  max="1000000" is="line-input-number" class="w-18 fb-sm:w-20 outline-none text-0A2B6F text-20 fb-sm:text-24 text-center" 
                                  autocomplete="off" type="text" inputmode="numeric" data-line="{{ forloop.index }}" value="{{ line_item.quantity }}" 
                                  data-cart="1" 
                                  data-input-varid="{{ line_item.variant_id }}" 
                                  data-varid="{{ line_item.variant_id }}" 
                                  data-moq="{% if line_item.product.metafields.product.moq != blank %}{{ line_item.product.metafields.product.moq }}{% else %}1{% endif %}" 
                                  data-mpq="{% if line_item.product.metafields.product.mpq != blank %}{{ line_item.product.metafields.product.mpq }}{% else %}1{% endif %}" 
                                  {% if max_allowed_quantity != '' %}max="{{ max_allowed_quantity }}"{% endif %} 
                                  size="{{ line_item.quantity | append: '' | size | at_least: 2 }}" 
                                  aria-label="{{ 'cart.general.change_quantity' | t | escape }}">
      
                                  {%- if allow_more and line_item.quantity < 1000000 -%}
                                    <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: mpq_value }}&line={{ forloop.index }}" class="{{ css_input }}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                                      {%- render 'icon' with 'plus-new' -%}
                                    </a>
                                  {%- else -%}
                                    {% comment %} data-tooltip="{{ 'cart.general.no_more_stock' | t | escape }}" {% endcomment %}
                                    <span class="{{ css_input }} opacity-50 cursor-not-allowed" aria-label="{{ 'cart.general.no_more_stock' | t | escape }}">
                                     {%- render 'icon' with 'plus-new' -%}
                                    </span>
                                  {%- endif -%}
                              </div>
                              <a href="{{ line_item.url_to_remove }}" class="hidden fb-sm:block mt-5 underline text-0A2B6F text-sm text-right" data-no-instant>{{ 'cart.general.remove' | t }}</a>
                            {%- endcapture -%}
                          </div>
                        </td>

                        <td class="w-full relative fb-sm:w-1/4 p-0 fb-sm:h-full mt-3 fb-sm:mt-0">
                          <div class="absolute left-6 -bottom-2 fb-sm:hidden">                        
                              <a
                                href="{{ line_item.url_to_remove }}"
                                class="text-sm text-main underline"
                                data-no-instant
                              >
                                {{- 'cart.general.remove' | t -}}
                              </a>
                          </div>
                          <div class="w-full flex  space-x-4 flex-col items-end fb-sm:h-full fb-sm:space-x-0">
                            <div class="font-medium min-w-9r line-clamp-1 text-left fb-sm:min-w-auto fb-sm:font-bold text-22 fb-sm:text-32 text-main">
                              {{ computed_final_line_price_total | money }}
                            </div>
                            <div class="mt-1 w-9r flex items-center justify-start space-x-1 text-left fb-sm:hidden">
                              {% if line_item.variant.compare_at_price > line_item.variant.price %}
                                {% assign price = line_item.variant.price
                                  | money_without_currency
                                  | replace: ',', ''
                                  | times: 1
                                %}
                                {% assign compare_at_price = line_item.variant.compare_at_price
                                  | money_without_currency
                                  | replace: ',', ''
                                  | times: 1
                                %}
                                {% assign discount_difference = compare_at_price | minus: price %}
                                {% assign discount_percentage = discount_difference
                                  | divided_by: compare_at_price
                                  | times: 100
                                  | ceil
                                %}
                                <span class="text-10 text-main" line-item-data data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.variant.price }}">{{ line_item.variant.price | money }}</span>
                                <s class="text-10 text-999999 flex items-center">
                                  {{- line_item.variant.compare_at_price | money -}}
                                </s>
                                <span class="text-10 text-E62D35">{{ discount_percentage }}%OFF</span>
                             {% else %}
                                <div class="text-10 text-main" line-item-data data-quantity="{{ line_item.quantity }}" data-price="{{ computed_final_line_price }}">{{ computed_final_line_price | money }} per item</div>
                              {% endif %}
                            </div>
                            <div class="flex-1 shrink-0 mt-0.5 fb-sm:mt-3">
                                <line-item-quantity 
                                  data-key="{{ line_item.key }}">
                                  {{ quantity_selector_inner }}
                                </line-item-quantity>
                              </div> 
                          </div>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
              {%- assign items_requiring_shipping = cart.items | where: 'requires_shipping' -%}

              {%- if section.settings.show_shipping_estimator and items_requiring_shipping.size > 0 -%}
                <div class="shipping-estimator">
                  <button
                    type="button"
                    is="toggle-button"
                    class="shipping-estimator__toggle-button collapsible-toggle heading heading--small"
                    aria-controls="shipping-estimator"
                    aria-expanded="false"
                  >
                    {{- 'cart.shipping_estimator.estimate_shipping' | t -}}
                    {%- render 'icon' with 'chevron' -%}
                  </button>
                  <collapsible-content id="shipping-estimator" class="collapsible">
                    <shipping-estimator class="shipping-estimator__form" role="form">
                      <div class="input-row">
                        <div class="input">
                          <label class="input__block-label" for="shipping-estimator[country]">
                            {{- 'cart.shipping_estimator.country' | t -}}
                          </label>
                          <div class="select-wrapper">
                            <select
                              class="select"
                              is="country-selector"
                              name="shipping-estimator[country]"
                              id="shipping-estimator[country]"
                              aria-owns="shipping-estimator-province-wrapper"
                              {% if customer and customer.default_address %}
                                data-default="{{ customer.default_address.country }}"
                              {% endif %}
                            >
                              {{ country_option_tags }}
                            </select>
                            {%- render 'icon' with 'chevron' -%}
                          </div>
                        </div>

                        <div id="shipping-estimator-province-wrapper" class="input" hidden>
                          <label class="input__block-label" for="shipping-estimator[province]">
                            {{- 'cart.shipping_estimator.province' | t -}}
                          </label>
                          <div class="select-wrapper">
                            <select
                              class="select"
                              name="shipping-estimator[province]"
                              id="shipping-estimator[province]"
                              {% if customer and customer.default_address %}
                                data-default="{{ customer.default_address.province }}"
                              {% endif %}
                            ></select>
                            {%- render 'icon' with 'chevron' -%}
                          </div>
                        </div>

                        <div class="input">
                          <label class="input__block-label" for="shipping-estimator[zip]">
                            {{- 'cart.shipping_estimator.zip_code' | t -}}
                          </label>
                          <input
                            type="text"
                            class="input__field"
                            name="shipping-estimator[zip]"
                            id="shipping-estimator[zip]"
                          >
                        </div>
                      </div>

                      <button
                        type="button"
                        is="loader-button"
                        class="form__submit form__submit--closer button button--primary"
                      >
                        {{ 'cart.shipping_estimator.submit' | t }}
                      </button>
                    </shipping-estimator>
                  </collapsible-content>
                </div>
              {%- endif -%}
            </div>
            <div class="w-full fb-md:w-[303px] rounded-sm">
              <safe-sticky offset="24" class="w-full fb-sm:sticky fb-sm:min-h-30r">
                <div class="flex flex-col w-full bg-F8F8F8 pt-5.5 pb-9 px-3 fb-sm:px-4.5 fb-sm:pt-4.5 fb-sm:pb-3">
                  <div class="w-full text-0A2B6F font-bold text-sm mb-3.5 fb-sm:text-18 fb-sm:mb-9">Order Summary</div>
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                      {%- when 'totals' -%}
                        <div class="w-full flex flex-col space-y-2 mb-7 fb-sm:mb-4r" {{ block.shopify_attributes }}>
                          <div class="js-cart-total-container w-full flex justify-between items-center">
                            <div class="text-sm text-575757">Subtotal</div>
                            <div class="js-computed-subtotal font-medium text-sm text-1E1E1E" data-price="{{ computed_subtotal }}">{{ computed_subtotal | money }}</div>
                          </div>
                          <div class="js-cart-total-container w-full flex  justify-between items-center">
                            <div class="text-sm text-575757">Estimated Tax</div>
                            <div class="js-tax font-medium text-sm text-1E1E1E"></div>
                          </div>
                          <div class="js-cart-total-container w-full flex  justify-between items-center">
                            <div class="text-sm text-575757">Estimated Shipping</div>
                            <div class="js-computed-shipping-money font-medium text-sm text-1E1E1E"></div>
                          </div>
                        </div>

                      {%- when 'express_checkout_buttons' -%}
                        {%- if additional_checkout_buttons -%}
                          <div class="cart__recap-block" {{ block.shopify_attributes }}>
                            <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                              {{- content_for_additional_checkout_buttons -}}
                            </div>
                          </div>
                        {%- endif -%}

                      {%- when '@app' -%}
                        <div class="cart__recap-block">
                          {%- render block -%}
                        </div>
                    {%- endcase -%}
                  {%- endfor -%}
                  <div class="w-full js-cart-total-container js-cart-total-container1 flex justify-between items-center mb-10 fb-sm:mb-4r">
                    <div class="text-sm text-575757">Estimated Total</div>
                    <div class="js-computed-total font-medium text-sm text-1E1E1E"></div>
                  </div>
                  <div class="cart__total-text w-full text-sm text-575757">
                    {{ section.settings.text }}
                  </div>
                  {% comment %}
                    {%- for block in section.blocks -%}
                      {%- case block.type -%}
                        {%- when 'order_note' -%}
                          <div class="cart__recap-note" {{ block.shopify_attributes }}>
                            <button
                              type="button"
                              is="toggle-button"
                              id="order-note-toggle"
                              class="link text--subdued"
                              aria-controls="cart-note"
                              aria-expanded="{% if block.settings.open_by_default %}true{% else %}false{% endif %}"
                            >
                              {%- if cart.note == '' -%}
                                {{- 'cart.general.add_order_note' | t -}}
                              {%- else -%}
                                {{- 'cart.general.edit_order_note' | t -}}
                              {%- endif -%}
                            </button>

                            <collapsible-content
                              id="cart-note"
                              class="collapsible"
                              {% if block.settings.open_by_default %}
                                open
                              {% endif %}
                            >
                              <div class="cart__order-note">
                                <textarea
                                  is="cart-note"
                                  aria-owns="order-note-toggle"
                                  name="note"
                                  class="input__field input__field--textarea"
                                  rows="3"
                                  placeholder="{{ 'cart.general.order_note_placeholder' | t }}"
                                  aria-label="{{ 'cart.general.order_note' | t | escape }}"
                                ></textarea>
                              </div>
                            </collapsible-content>
                          </div>
                      {%- endcase -%}
                    {%- endfor -%}
                  {% endcomment %}

                  <div class="hidden fb-sm:flex flex-col space-y-2 mt-8 w-full">
                    {%- assign go_checkout_name = 'Checkout as Guest' -%}
                    {% if customer %}
                      {%- assign go_checkout_name = 'Checkout' -%}
                    {% else %}
                      <a
                        href="/account/login"
                        class="w-full flex items-center justify-center h-12  text-18 font-bold rounded-sm text-main bg-button"
                      >
                        Sign in and Checkout
                      </a>
                    {% endif %}
                    <button
                      type="submit"
                      is="loader-button"
                      id="cart-checkout-button"
                      data-disabled="0"
                      class="cart-checkout-button relative w-full flex items-center justify-center h-12  text-18 font-bold rounded-sm bg-main text-white"
                      name="checkout"
                    >
                      {{ go_checkout_name }}
                    </button>
                  </div>
                </div>

                {%- if section.settings.show_payment_methods and shop.enabled_payment_types.size > 0 -%}
                  <div class="cart__payment-methods">
                    <span class="cart__payment-methods-label text--xsmall text--subdued">
                      {{- 'cart.general.we_accept' | t -}}
                    </span>

                    <div class="payment-methods-list payment-methods-list--center">
                      {% for type in shop.enabled_payment_types %}
                        {{ type | payment_type_svg_tag }}
                      {% endfor %}
                    </div>
                  </div>
                {%- endif -%}
              </safe-sticky>
            </div>
            <div class="w-full fb-sm:hidden">
              {%- assign go_checkout_name = 'Checkout as Guest' -%}
              {% if customer %}
                {%- assign go_checkout_name = 'Checkout' -%}
              {% else %}
                <a
                  href="/account/login"
                  class="w-full flex items-center justify-center h-8 text-sm font-bold rounded-sm text-main bg-button mb-2"
                >
                  Sign in and Checkout
                </a>
              {% endif %}
              <button
                type="submit"
                is="loader-button"
                id="cart-checkout-button"
                data-disabled="0"
                class="cart-checkout-button relative w-full flex items-center justify-center h-8 text-sm font-bold rounded-sm bg-main text-white"
                name="checkout"
              >
                {{ go_checkout_name }}
              </button>
            </div>
          </form>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>
<script>
  (() => {
    const ip = Cookies.get('ip');
    if(ip) {
      // Page Viewed
      dataLayer.push({
        'event': 'custom_cart_viewed',
        'zip': '{{ customer.default_address.zip  }}',   
        'username': '{{ customer.name }}',
        'email':'{{ customer.email }}',
        'ip': ip
      });
    }
  })();

  // 获取默认state code,如果有地址就获取,没地址就固定DC

  
  {% if customer.b2b? %}
    {% assign province_code = customer.current_location.shipping_address.province_code %}
    {% assign zip = customer.current_location.shipping_address.zip %}
  {% else %}
    {% assign province_code = customer.default_address.province_code | default: 'DC'  %}
    {% assign zip = customer.default_address.zip | default: 20500 %}
  {% endif %}
  (() => {
    $('.quantity-selector__input').on('keydown', function(event) {
      if (event.key === 'Enter') {
        event.preventDefault(); // 阻止默认行为
      }
    });
  })();

  (() => {
    const line_item_delivery = [];
    {% for line_item in cart.items %}
      line_item_delivery.push({
        MATNR: '{{ line_item.sku }}',
        ZQTY: {{ line_item.quantity }},
        Z004: '{{ province_code }}',
        Z002: 'US',
        POST_CODE2: '{{ zip }}'
      });
    {% endfor %}

    async function getDeleveryDate(deliveryParams) { //获取交期数据
      try {
        const response = await fetch(`${window.zkh.api}/openapi/adlink/delivery-calculation/batch`, {
          method: 'POST',
          body: JSON.stringify({
            checkoutToken: null,
            deliveryCalculationParam: deliveryParams
          }),
          headers:{
            'Content-Type':'application/json',
          }
        })
        return await response.json();
      } catch(err) {
        console.error(err)
      }
    }

    function formatDate(timestamp, timezoneOffset = -5) {
      // 创建 Date 对象（默认会使用 UTC 时间）
      const date = new Date(+timestamp);
      // 调整时区：将日期偏移到 GMT-5
      const localTime = new Date(date.getTime() + timezoneOffset * 60 * 60 * 1000);
      // 获取年份、月份和日期
      const year = localTime.getFullYear();
      const monthNames = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
      ];
      const month = monthNames[localTime.getMonth()];
      const day = localTime.getDate();
      // 确定日期后缀
      let suffix = '';
      if (day >= 11 && day <= 13) {
        suffix = 'th'; // 特殊情况：11th, 12th, 13th
      } else {
        switch (day % 10) {
          case 1: suffix = 'st'; break; // 1, 21, 31
          case 2: suffix = 'nd'; break; // 2, 22
          case 3: suffix = 'rd'; break; // 3, 23
          default: suffix = 'th'; break; // 其他情况
        }
      }
      // 返回格式化后的日期
      return `${month} ${day}${suffix}, ${year}`;
    }


    async function initDeleveryDate(line_item_delivery) { // 查一组交期数据
      if(line_item_delivery.length == 0) return
      $('.js-line-item-table .line-item .loading-container').show(); // loading 按钮隐藏
      $('.js-line-item__property').hide();
      const deleveryDate = await getDeleveryDate(line_item_delivery);
      if(deleveryDate?.length) {
        deleveryDate.map(line_item => {
          // item.availableInventoryCount 库存
          let $deliveryTime
          const $lineItem = $(`.line-item[data-sku='${line_item.sku}']`);
          let stockDateStart;
          let stockDateEnd;
          if (
            line_item.transitInventoryDeliveryTimeStampMin &&
            line_item.transitInventoryDeliveryTimeStampMax &&
            line_item.outOfStockDeliveryTimeStampMin &&
            line_item.outOfStockDeliveryTimeStampMax
          ) {
            stockDateStart = +line_item.transitInventoryDeliveryTimeStampMin;
            stockDateEnd = +line_item.outOfStockDeliveryTimeStampMax;
          } else if(
            line_item.transitInventoryDeliveryTimeStampMin &&
            line_item.transitInventoryDeliveryTimeStampMax &&
            !line_item.outOfStockDeliveryTimeStampMin &&
            !line_item.outOfStockDeliveryTimeStampMax
          ) {
            stockDateStart = +line_item.transitInventoryDeliveryTimeStampMin;
            stockDateEnd = +line_item.transitInventoryDeliveryTimeStampMax;
          } else if(
            !line_item.transitInventoryDeliveryTimeStampMin &&
            !line_item.transitInventoryDeliveryTimeStampMax &&
            line_item.outOfStockDeliveryTimeStampMin &&
            line_item.outOfStockDeliveryTimeStampMax
          ){
            stockDateStart = +line_item.outOfStockDeliveryTimeStampMin;
            stockDateEnd = +line_item.outOfStockDeliveryTimeStampMax;
          }
          if(line_item.availableInventoryCount == 0) {
            $deliveryTime = $(`
              <span>Expected to arrive between ${formatDate(stockDateStart)} and ${formatDate(stockDateEnd)}.</span>
            `);
          } else if(line_item.availableInventoryCount >= line_item.demandQuantity) { // 现货大于0，并且现货>=需求
            $deliveryTime = $(`
              <span>Expected to arrive on ${formatDate(line_item.availableInventoryDeliveryTimeStamp)}.</span>
            `);
          } else { // 现货大于0，并且需求大于现货
            $deliveryTime = $(`
              <span>Partial expected to arrive on ${formatDate(line_item.availableInventoryDeliveryTimeStamp)}.</span>
              <span>The remaining balance is expected to arrive between ${formatDate(stockDateStart)} and ${formatDate(stockDateEnd)}.</span>
            `);
          }
          $lineItem.find('.loading-container').hide();
          $lineItem.find('.js-line-item__property.date').show().html($deliveryTime);
        })
      }
    }
    initDeleveryDate(line_item_delivery); // 初始化交期
  })();

  (() => {
    // js/helper/currency.js
    function formatMoney(cents, format = '') {
      if (typeof cents === 'string') {
        cents = cents.replace('.', '');
      }
      const placeholderRegex = /\{\{\s*(\w+)\s*\}\}/,
        formatString = format || window.themeVariables.settings.moneyFormat;
      function defaultTo(value2, defaultValue) {
        return value2 == null || value2 !== value2 ? defaultValue : value2;
      }
      function formatWithDelimiters(number, precision, thousands, decimal) {
        precision = defaultTo(precision, 2);
        thousands = defaultTo(thousands, ',');
        decimal = defaultTo(decimal, '.');
        if (isNaN(number) || number == null) {
          return 0;
        }
        number = (number / 100).toFixed(precision);
        let parts = number.split('.'),
          dollarsAmount = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
          centsAmount = parts[1] ? decimal + parts[1] : '';
        return dollarsAmount + centsAmount;
      }
      let value = '';
      switch (formatString.match(placeholderRegex)[1]) {
        case 'amount':
          value = formatWithDelimiters(cents, 2);
          break;
        case 'amount_no_decimals':
          value = formatWithDelimiters(cents, 0);
          break;
        case 'amount_with_space_separator':
          value = formatWithDelimiters(cents, 2, ' ', '.');
          break;
        case 'amount_with_comma_separator':
          value = formatWithDelimiters(cents, 2, '.', ',');
          break;
        case 'amount_with_apostrophe_separator':
          value = formatWithDelimiters(cents, 2, "'", '.');
          break;
        case 'amount_no_decimals_with_comma_separator':
          value = formatWithDelimiters(cents, 0, '.', ',');
          break;
        case 'amount_no_decimals_with_space_separator':
          value = formatWithDelimiters(cents, 0, ' ');
          break;
        case 'amount_no_decimals_with_apostrophe_separator':
          value = formatWithDelimiters(cents, 0, "'");
          break;
      }
      if (formatString.indexOf('with_comma_separator') !== -1) {
        return formatString.replace(placeholderRegex, value);
      } else {
        return formatString.replace(placeholderRegex, value);
      }
    }

    async function getShippingCost() {  // 算运费
      const skus = [];
      {% for line_item in cart.items %}
        skus.push({
          nums: +'{{ line_item.quantity }}',
          skuAmount: +('{{ line_item.original_price | money_without_currency  }}'.replace(/,/g, '')),
          skuCode: '{{ line_item.sku }}'
        });
      {% endfor %}
      if(skus.length == 0) return
      const orderAmount = +('{{ cart.total_price | money_without_currency }}'.replace(/,/g, ''));
      {% if customer.default_address.zip != blank %}
        const deliveryAddress = {
          city: "{{ customer.default_address.city }}",
          province: "{{ customer.default_address.province }}",
          street: "{{ customer.default_address.address1 }}",
          zipCode: "{{ customer.default_address.zip }}"
        };
      {% else %}
        const deliveryAddress = {  // 收货地址, 固定
          city: "Washington",
          province: "District of Columbia",
          street: "1600 Pennsylvania Avenue NW",
          zipCode: "20500"
        };
      {% endif %}
      const sendAddress = { // 发货地址, 固定
        city: "Houston",
        province: "Texas",
        street: "2425 Broad St",
        zipCode: "77087"
      };
      const shippingParam = {
        deliveryAddress,
        sendAddress,
        orderAmount,
        skus
      }
      const response = await fetch(`${window.zkh.api}/openapi/costs`, {
        method: 'POST',
        body: JSON.stringify(shippingParam),
        headers:{
          'Content-Type':'application/json',
        }
      })
      const res = await response.json();
      if(res.code == 0) {
        return res.data[0].costs
      } else {
        return 0
      }
    }

    // 初始化算钱
    async function getProvincesDataAndCompute() {
      const today = new Date();
      const year = today.getFullYear(); // 获取年份
      const month = today.getMonth() + 1; // 获取月份（从0开始，所以要+1）
      const date = today.getDate(); // 获取日期
      const lines = [];
      $('[line-item-data]').each((idx, item) => {
        lines.push({
          quantity: +$(item).data("quantity"),
          amount: +$(item).data("price") * +$(item).data("quantity"),
          taxCode: "PT118906"
        });
      });
      if(lines.length == 0) {
        return false;
      }
      {% if customer.default_address.zip %}
        const singleLocation = {
          line1: "{{ customer.default_address.address1 }}",
          city: "{{ customer.default_address.city }}",
          region: "{{ province_code }}",
          country: "US",
          postalCode: "{{ customer.default_address.zip }}",
        };
      {% else %}
        const singleLocation = {  // 收货地址, 固定
          line1: "1600 Pennsylvania Avenue NW",
          city: "Washington",
          region: "{{ province_code }}",
          country: "US",
          postalCode: "20500"
        };
      {% endif %}
      const taxParam = {
        lines,
        type: "SalesOrder",
        date: `${year}-${month}-${date}`,
        customerCode: "ABC",
        addresses: {
          singleLocation
        },
        commit: false,
        currencyCode: "USD"
      }
      try {
        const response = await fetch(`${window.zkh.api}/tax`, {
          method: 'POST',
          body: JSON.stringify(taxParam),
          headers:{
            'Content-Type':'application/json'
          }
        })
        const res = await response.json();
        if(res.code === 200) {
          const shipping_money = await getShippingCost(); // 计算运费
          $('.js-computed-shipping-money').text(`$${shipping_money}`);
          const computed_subtotal = $('.js-computed-subtotal').data('price'); // 获取计算总额
          const tax_money = Math.ceil(res.data.totalTax); // 计算税费
          const total = +computed_subtotal + shipping_money * 100 + tax_money;
          $('.js-cart-total-container .js-tax').text(`${formatMoney(tax_money)}`);
          $('.js-cart-total-container1 .js-computed-total').text(`${formatMoney(total)}`); // 计算总额（总计）
        }
      } catch (error) {
        console.error("Failed to fetch provinces data:", error);
      }
    }
    getProvincesDataAndCompute();
  })();

  (() => {
    $('.cart-checkout-button').attr('data-disabled', '0');
    $('.cart-checkout-button').click(function(event) {  // checkout按钮
      event.preventDefault();
      const disabled = $('.cart-checkout-button').attr('data-disabled');
      if(disabled == 1) {
        alert('Please wait for the shopping cart to refresh')
        return
      }
      getDiscount();
    })
    function getDiscount () {  // 获取折扣然后跳转
      const amount_original = parseFloat('{{ original_total_price }}');
      const amount_current = parseFloat('{{ computed_subtotal }}');
      const amount_difference = (amount_original - amount_current) / 100;
      const formData = {
        customerId: Number({{ customer.id }}),
        amount: amount_difference
      };
      if(formData.amount == 0) {
        window.location.href = '/checkout?discount=0';
        return
      }
      fetch(`${window.zkh.api}/discount/save`, {
        method: 'POST',
        body: JSON.stringify(formData),
        headers:{
          'Content-Type':'application/json',
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.code == 200) {
          const discountCode = data.data.title;
          window.location.href = `/checkout?discount=${discountCode}`; 
        } else{
          window.location.href = `/checkout?discount=0`; 
        }
      })
      .catch(error => {
        window.location.href = `/checkout?discount=0`; 
      });
    }
  })();
</script>

{% schema %}
{
  "name": "Cart",
  "blocks": [
    {
      "type": "totals",
      "name": "Totals",
      "limit": 1
    },
    {
      "type": "order_note",
      "name": "Order note",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open by default",
          "default": false
        }
      ]
    },
    {
      "type": "express_checkout_buttons",
      "name": "Express checkout buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Make payment faster with accelerated payment buttons. [Learn more](https://shopify.dev/themes/pricing-payments/accelerated-checkout)"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country",
      "info": "If the customer is logged in, the country of their shipping address will be used.",
      "default": "United States"
    },
    {
      "type": "url",
      "id": "empty_button_link",
      "label": "Empty button link",
      "default": "/collections/all"
    }
  ]
}
{% endschema %}
