<style>
   @keyframes loadingRotate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  .line-item-table .line-item .loading-container {
    animation: loadingRotate 1s infinite linear;
    width: 16px;
    height: 16px;
    display: flex;
  }
  
  .lines{
    width:1px;
    height: 0.8rem;
    background: #121212;
    margin-bottom:2px;
  }
  
  .btn-50{
    width:50%;
  }
  .free-line{
    height:6px;
    background: #e2e2e2;
    width:100%;
    margin-bottom: 14px;
    position: relative;
    margin-top:4px;
    border-radius: 3px;
    overflow: hidden;
  }
  .free-num{
    height:6px;
    background: #e2e2e2;
    position: absolute;
    top:0;
    left:0;
    background: #33A956;
  }
  .color-33A956{
    color: #33A956;
  }
  .circle{
    background: #33A956;
    width:12px;
    height:12px;
    border-radius: 50%;
    display: inline-block;
  }

  .border-e2e2e2{
    border-bottom: 1px solid #e2e2e2;
  }

  .close-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    z-index:1000;
  }

  .border-line{
    border:2px solid #0A2B6F;
  }

  .mmr-10{
    margin-right: -10px !important;
  }


  @media (max-width: 740px) {
    .max-sm-border-none{
      border: none !important;
    }
  }


  /* .js-line-item-table .line-item {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    height: 100%; 
  }

  .js-line-item-table .line-item td {
    flex: 1;
    display: flex;
    flex-direction: column;
  } */


  .change-btn{
    transform: rotate(-90deg)
  }
</style>
<nav aria-label="{{ 'general.breadcrumb.title' | t }}" class="container breadcrumb text-14 hidden">
  <ol class="collection_breadcrumb__list breadcrumb__list" role="list">
    <li class="breadcrumb__item">
      <a class="breadcrumb__link" href="{{ routes.root_url }}">{{ 'general.breadcrumb.home' | t }}</a>
    </li>
    <li class="breadcrumb__item">
      <span class="breadcrumb__link" aria-current="page">Cart</span>
    </li>
  </ol>
</nav>

<section>
  <div class="{{ section.id }} container">
    {%- if cart.item_count == 0 -%}
      <div class="text-center my-14r w-full">
        <h1 class="text-32 text-main m-0 uppercase font-bold">{{ 'cart.general.title' | t }}</h1>
        <p class="mt-4 text-20">{{ 'cart.general.empty' | t }}</p>
        <div class="w-full h-auto fb-flex-center mt-5">
          <a href="{{ section.settings.empty_button_link }}" class="px-10 rounded py-4 bg-button font-bold text-base text-121212 tracking-[2px]">
            {{- 'cart.general.start_shopping' | t | upcase -}}
          </a>
        </div>
      </div>
    {%- endif -%}
    {%- if cart.item_count > 0 -%}
      <div class="w-full mb-8 mx-auto">
      <div class="w-full">
          <form action="{{ routes.cart_url }}" method="post" novalidate class="flex-col flex space-y-5 fb-md:grid fb-md:gap-4 fb-md:grid-cols-[1fr_303px]">
            <input type="hidden" name="checkout">
            <div class="w-full">
             <div class="flex" >
              <h3 class="bg-F3F8FC hidden fb-md:flex  w-full rounded-sm text-121212 flex items-center font-bold h-8 text-sm px-5 fb-md:h-12 fb-md:px-7 fb-md:text-22">CART
                <p class="ml-2 text-121212 font-normal ">({{cart.item_count}} items)</p>
              </h3>
              <h3 class="bg-white fb-md:hidden pb-4 flex w-full rounded-sm text-121212 flex items-center font-bold h-8 text-sm fb-md:h-12  fb-md:text-22">CART
                <p class="ml-2 text-121212 font-normal ">({{cart.item_count}} items)</p>
              </h3>
             </div>
             {%- assign has_special_shipping = false -%}
              {%- for line_item in cart.items -%}
                {%- if line_item.product.metafields.product.shipping_charge_policy != '0' -%}
                  {%- assign has_special_shipping = true -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
             <div class="fb-md:hidden flex h-12.5 bg-F9F9F9 rounded-sm items-center pr-2 pl-2 pt-2 mb-4 {% if has_special_shipping %}hidden{% endif %}"  >
              <div class="flex  flex-col w-full justify-center free-add-num hidden">
                <p class="text-14 text-121212  add-item">Add <span class="font-bold number-add"></span> more for <span  class="font-bold" >FREE</span> shipping!</p>
                <p class="text-14 text-121212 flex items-center free-item ">
                  <span class="circle mr-1">
                    <svg t="1759886138513" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5698" width="100%" height="100%"><path d="M155.644361 439.225533 376.468722 660.086733l486.86146-490.229161 95.379301 95.352695-585.574692 588.933183L65.289494 546.298154 155.644361 439.225533 155.644361 439.225533zM155.644361 439.225533" fill="#fff" p-id="5699"></path></svg>
                  </span>  
                  You earned <span class="color-33A956 font-bold pr-1 pl-1 "> FREE </span> delivery!
                </p>
                <div class="free-line w-full">
                  <div class="free-num"></div>
                </div>
              </div>
             </div>
              <div class="w-full">
                <table class="w-full js-line-item-table">
                  <tbody class="w-full">
                    {%- for line_item in cart.items -%}
                      <tr
                        class="line-item w-full min-h-13r max-sm-border-none rounded-sm border-e2e2e2 flex flex-col  fb-md:flex-row px-2.5 pt-4 pb-6 mb-4.5 fb-max-sm:mb-0 fb-md:space-x-15 relative"
                        data-sku="{{ line_item.sku }}"
                        data-price="{{ line_item.final_price }}"
                        data-qty="{{ line_item.quantity }}"
                      >
                        <td class="icon-close w-4 h-4 absolute top-0 right-0 z-100  fb-md:hidden block">
                          <a href="{{ line_item.url_to_remove }}"
                          class=" w-4 h-4 text-main hidden"
                          data-no-instant >
                          <svg t="1760000118282" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5698" width="100%" height="100%"><path d="M876.088889 329.955556l-34.133333 648.533333c0 22.755556-22.755556 39.822222-45.511112 39.822222H227.555556c-22.755556 0-45.511111-17.066667-45.511112-39.822222L147.911111 329.955556c0-22.755556 17.066667-45.511111 39.822222-45.511112 22.755556 0 45.511111 17.066667 45.511111 39.822223l34.133334 608.711111h483.555555l34.133334-608.711111c0-22.755556 22.755556-45.511111 45.511111-39.822223 28.444444 0 45.511111 22.755556 45.511111 45.511112z m119.466667-147.911112c0 22.755556-22.755556 45.511111-45.511112 45.511112H73.955556c-22.755556 0-45.511111-22.755556-45.511112-45.511112s22.755556-45.511111 45.511112-45.511111h244.622222V34.133333c0-22.755556 17.066667-34.133333 39.822222-34.133333h307.2c22.755556 0 34.133333 11.377778 34.133333 34.133333v102.4h244.622223c28.444444 0 51.2 17.066667 51.2 45.511111zM398.222222 136.533333h227.555556v-56.888889H398.222222v56.888889z m22.755556 728.177778c22.755556 0 39.822222-22.755556 39.822222-39.822222l-17.066667-489.244445c0-22.755556-17.066667-39.822222-39.822222-39.822222-22.755556 0-39.822222 17.066667-39.822222 39.822222l11.377778 489.244445c5.688889 22.755556 22.755556 39.822222 45.511111 39.822222z m182.044444 0c22.755556 0 39.822222-17.066667 39.822222-39.822222l11.377778-483.555556c0-22.755556-17.066667-39.822222-39.822222-39.822222-22.755556 0-39.822222 17.066667-39.822222 39.822222l-11.377778 483.555556c0 22.755556 17.066667 39.822222 39.822222 39.822222z" fill="currentColor" p-id="5699"></path></svg>
                        </a>
                        </td>
                        <td class="p-0 fb-md:flex-1 relative" >
                          
                          <div class="flex relative items-center mt-0 space-x-4 fb-md:space-x-6">
                            <a
                              href="{{ line_item.url }}"
                              class="w-25 h-25 fb-md:w-10r fb-md:h-10r shrink-1"
                              tabindex="-1"
                              aria-hidden="true"
                            >
                              <img
                                class="w-full h-full"
                                width="auto"
                                height="auto"
                                src="{{ line_item.image | image_url }}"
                              >
                            </a>
                            <div class="flex-1 flex flex-col justify-between relative shrink-0">
                              <div class="w-full">
                                {% comment %} space-x-2 fb-md:space-x-2.5 {% endcomment %}
                                <div class="flex fb-md:flex-wrap text-xs items-end  flex-wrap items-center">
                                  {%- if line_item.product.metafields.product.brand.value != blank
                                    and line_item.product.metafields.product.brand.value != 'null'
                                    and line_item.product.metafields.product.brand.value != '-'
                                  -%}
                                    <span class="text-sm  text-121212 mr-2  fb-max-sm:text-12 fb-max-sm:mb-0.5">
                                      {{- line_item.product.metafields.product.brand.value -}}
                                    </span>
                                    <div class="lines  mr-2"></div>
                                  {%- endif -%}
                                  {% if line_item.product.metafields.product.manufacturer_model_number != blank %}
                                    <span class="text-sm text-121212 flex  mr-2 fb-max-sm:text-12 fb-max-sm:mb-0.5 "
                                      data-tooltip="{{ line_item.product.metafields.product.manufacturer_model_number }}"
                                      >
                                      {{ line_item.product.metafields.product.manufacturer_model_number }}
                                    </span>
                                  {% endif %}
                                  {% assign stock_num = line_item.product.variants.first.inventory_quantity %}
                                  {% assign varid = line_item.product.variants.first.id %}
                                  <div class="flex items-end fb-md:h-6 pb-1 fb-max-sm:pb-0.5  ">
                                    <stock-label class="stock-label-container h-4 " data-stock-num="{{ stock_num }}" data-input-varid="{{ varid }}">
                                    </stock-label>
                                  </div>
                                </div>
                                <a href="{{ line_item.url }}" class="line-item-title mt-2 fb-md:mt-2 text-121212 font-medium fb-max-sm:text-14  text-16 text-left block">
                                  {{- line_item.product.title -}}
                                </a>
                                {% if line_item.product.metafields.product.manufacturer_model_number != blank %}
                                  <div class="text-xs text-575757 hidden  mt-3.5"
                                    data-tooltip="{{ line_item.product.metafields.product.manufacturer_model_number }}"
                                    >{{ line_item.product.metafields.product.manufacturer_model_number }}
                                  </div>
                                {% endif %}
                              </div>
                             
                              {%- capture line_item_properties -%}
                                {%- unless line_item.product.has_only_default_variant -%}
                                  <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.variant.title }}  </span>
                                {%- endunless -%}
  
                                {%- if line_item.selling_plan_allocation -%}
                                  <span class="product-item-meta__property text--subdued text--xsmall">{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
                                {%- endif -%}

                                
                              <!-- 数量选择器 -->
                              {%- assign mymoq = line_item.product.metafields.product.moq | default: 1 -%}
                              {%- assign mympq = line_item.product.metafields.product.mpq | default: 1 -%}
                              {% assign moq_value = mymoq | plus: 0 %}
                              {% assign mpq_value = mympq | plus: 0 %}
                              {% assign remainder = line_item.variant.inventory_quantity | divided_by: mpq_value %}
                              {% assign max_allowed_quantity = remainder | times: mpq_value %}
                              {%- assign allow_more = true -%}
                              {%- if line_item.variant.inventory_policy == 'deny' and max_allowed_quantity == line_item.quantity -%}
                                {%- assign allow_more = false -%}
                              {%- endif -%}
                              <div class="w-full flex justify-between items-center mt-2">
                                
                                <line-item-quantity class="flex w-2/5 ">
                                  <div class="quantity-selector flex items-center border border-D3DEF1 rounded-sm w-9r h-9 fb-md:w-9.2r fb-md:h-12 border border-D3DEF1 fb-flex-center ">
                                    {% if line_item.product.metafields.product.moq != blank and moq_value < line_item.quantity %}
                                      <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: mpq_value }}&line={{ forloop.index }}" class="quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center text-main" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                          {%- render 'icon' with 'minus' -%}
                                      </a>
                                    {% elsif line_item.product.metafields.product.moq == blank %}
                                        <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center text-main" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                            {%- render 'icon' with 'minus' -%}
                                        </a>
                                    {% elsif line_item.quantity== 1 %}
                                      <a  
                                        href="{{ line_item.url_to_remove }}"
                                        data-no-instant  
                                        class=" quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center   ">
                                        <span class="text-main w-4 h-4 fb-max-sm:w-4 fb-max-sm:h-4">
                                        {%- render 'icon' with 'delete' -%}
                                        </span>
                                      </a>
                                    {% else %}
                                        {% comment %} <span class="disabled-link quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center text-gray-300 cursor-not-allowed">
                                            {%- render 'icon' with 'minus' -%}
                                        </span> {% endcomment %}
                                        <a  
                                        href="{{ line_item.url_to_remove }}"
                                        data-no-instant  
                                        class=" quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center   ">
                                        <span class="text-main w-4 h-4 fb-max-sm:w-4 fb-max-sm:h-4">
                                        {%- render 'icon' with 'delete' -%}
                                        </span>
                                      </a>
                                    {% endif %}

                                    <input 
                                      is="line-input-number" 
                                      class="quantity-selector__input px-0.5 w-8 fb-md:w-12 h-9 text-center text-20 fb-md:text-18 text-121212 font-bold border-0 focus:ring-0 focus:outline-none fb-max-sm:text-12 " 
                                      autocomplete="off" type="text"
                                      inputmode="numeric"
                                      data-input-varid="{{ varid }}"
                                      name="updates[]" data-line="{{ forloop.index }}"
                                      value="{{ line_item.quantity }}"
                                      data-moq="{% if line_item.product.metafields.product.moq != blank %}{{ line_item.product.metafields.product.moq }}{% else %}1{% endif %}"
                                      data-mpq="{% if line_item.product.metafields.product.mpq != blank %}{{ line_item.product.metafields.product.mpq }}{% else %}1{% endif %}"
                                      data-max="{% if line_item.product.selected_or_first_available_variant.inventory_policy == 'deny' %}{{ line_item.product.selected_or_first_available_variant.inventory_quantity }}{% endif %}"
                                      min="1"
                                      max="1000000"
                                      size="{{ line_item.quantity | append: '' | size | at_least: 2 }}" 
                                      aria-label="{{ 'cart.general.change_quantity' | t | escape }}"
                                    >
                                    
                                    {%- if allow_more -%}
                                      <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: mpq_value }}&line={{ forloop.index }}" class="quantity-selector__button w-7 fb-max-sm:w-7 fb-md:w-8 h-9 flex items-center justify-center text-main" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                                        {%- render 'icon' with 'plus' -%}
                                      </a>
                                    {%- else -%}
                                      <span class="quantity-selector__button w-7 fb-max-sm:w-7 fb-md:w-8 h-9 flex items-center justify-center text-gray-300 cursor-not-allowed" aria-label="{{ 'cart.general.no_more_stock' | t | escape }}" data-tooltip="{{ 'cart.general.no_more_stock' | t | escape }}">
                                        {%- render 'icon' with 'plus' -%}
                                      </span>
                                    {%- endif -%}
                                  </div>
                                </line-item-quantity>

                               
                                <div class="">
                                  <div class="text-20 text-main font-bold  flex justify-end fb-md:hidden ">
                                    {% render 'format-price', price: line_item.final_line_price, text_size:'text-20' %}
                                  </div>
                                  <div class="text-0A2B6F text-base font-medium flex items-center justify-end fb-md:hidden">
                                    {% if line_item.variant.compare_at_price > line_item.variant.price %}
                                      {% assign price = line_item.variant.price
                                        | money_without_currency
                                        | replace: ',', ''
                                        | times: 1
                                      %}
                                      {% assign compare_at_price = line_item.variant.compare_at_price
                                        | money_without_currency
                                        | replace: ',', ''
                                        | times: 1
                                      %}
                                      {% assign discount_difference = compare_at_price | minus: price %}
                                      {% assign discount_percentage = discount_difference
                                        | divided_by: compare_at_price
                                        | times: 100
                                        | round
                                      %}
                                      <span class="hidden" data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.variant.price }}">{{ line_item.variant.price | money }} </span>
                                      <s class=" text-999999  text-12 mmr-10">
                                        {{- line_item.variant.compare_at_price | money -}}
                                      </s>
                                      <span class="text-F74747 hidden">{{ discount_percentage }}% OFF </span>
                                    {% else %}
                                      <div class="hidden" data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.final_price }}">{{ line_item.final_price | money }} per item</div>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                                
                                <ul class="product-item-meta__property mt-3  fb-max-sm:hidden block" role="list">
                                  {%- if line_item.product.metafields.product.shipping_charge_policy !='0' -%}
                                    <span class="text-xs fb-md:text-sm text-575757 " style="padding:3px;">
                                      Required special shipping at ${{line_item.product.metafields.product.shipping_charge_policy}} each.
                                    </span>
                                  {%- endif -%}
                                  <span class="loading-container">
                                    {% render 'icon' with 'loading' %}
                                  </span>
                                  <li class="js-line-item__property date mt-2 flex text-xs fb-md:text-sm flex-col text-575757 bg-F9F9F9" style="padding:3px;"></li>
                                 
                                </ul>
                              {%- endcapture -%}
                              <div class="line-item-bottom w-full mt-0 fb-md:mt-0 fb-md:flex fb-md:items-start fb-md:space-y-3.5 fb-md:flex-col-reverse">
                                {%- if line_item_properties != blank -%}
                                  <div class="w-full fb-md:mr-10">
                                    {{- line_item_properties -}}
                                  </div>
                                {%- endif -%}
                                <div class="w-full hidden ">
                                  <div class="text-0A2B6F text-base font-medium flex items-center space-x-2">
                                    {% if line_item.variant.compare_at_price > line_item.variant.price %}
                                      {% assign price = line_item.variant.price
                                        | money_without_currency
                                        | replace: ',', ''
                                        | times: 1
                                      %}
                                      {% assign compare_at_price = line_item.variant.compare_at_price
                                        | money_without_currency
                                        | replace: ',', ''
                                        | times: 1
                                      %}
                                      {% assign discount_difference = compare_at_price | minus: price %}
                                      {% assign discount_percentage = discount_difference
                                        | divided_by: compare_at_price
                                        | times: 100.0
                                        | round
                                      %}
                                      <span class="" data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.variant.price }}">{{ line_item.variant.price | money }} </span>
                                      <s class=" text-999999 flex items-center">
                                        {{- line_item.variant.compare_at_price | money -}}
                                      </s>
                                      <span class="text-F74747">{{ discount_percentage }}% OFF </span>
                                    {% else %}
                                      <div class="hidden" data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.final_price }}">{{ line_item.final_price | money }} per item</div>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
                            {%- assign max_allowed_quantity = '' -%}
                            {%- assign allow_more = true -%}
                            {%- if line_item.variant.inventory_management == 'shopify'
                              and line_item.variant.inventory_policy == 'deny'
                              and line_item.variant.inventory_quantity <= line_item.quantity
                            -%}
                              {%- assign max_allowed_quantity = line_item.variant.inventory_quantity -%}
                              {%- assign allow_more = false -%}
                            {%- endif -%}
                            {%- assign mymoq = line_item.product.metafields.product.moq | default: 1 -%}
                            {%- assign mympq = line_item.product.metafields.product.mpq | default: 1 -%}
                            {% assign moq_value = mymoq | plus: 0 %}
                            {% assign mpq_value = mympq | plus: 0 %}
                            {% comment %} {% assign remainder = line_item.variant.inventory_quantity | divided_by: mpq_value %}
                            {% assign max_allowed_quantity = remainder | times: mpq_value %} {% endcomment %}
                            {%- capture quantity_selector_inner -%}
                              {%- assign css_input = 'fb-flex-center flex-1 h-full shrink-0' -%}
                              <div class="w-9r h-9 fb-md:w-9.2r fb-md:h-12 border border-D3DEF1 fb-flex-center hidden ">
                                {% if line_item.product.metafields.product.moq != blank and moq_value < line_item.quantity %}
                                  <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: mpq_value }}&line={{ forloop.index }}" class="{{ css_input }}" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                      {%- render 'icon' with 'minus-new' -%}
                                  </a>
                                {% elsif line_item.product.metafields.product.moq == blank %}
                                    <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: 1 }}&line={{ forloop.index }}" class="{{ css_input }}" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                        {%- render 'icon' with 'minus-new' -%}
                                    </a>
                                {% else %}
                                    <span class="{{ css_input }} opacity-50 cursor-not-allowed">
                                        {%- render 'icon' with 'minus-new' -%}
                                    </span>
                                {% endif %}
  
                                <input onpaste="return false" data-sku="{{ line_item.sku }}" min="1" 
                                  data-max="{% if line_item.product.selected_or_first_available_variant.inventory_policy == 'deny' %}{{ line_item.product.selected_or_first_available_variant.inventory_quantity }}{% endif %}"
                                  max="1000000" is="line-input-number" class="w-18 fb-md:w-20 outline-none text-0A2B6F text-20 fb-md:text-24 text-center" 
                                  autocomplete="off" type="text" inputmode="numeric" data-line="{{ forloop.index }}" value="{{ line_item.quantity }}" 
                                  data-cart="1" 
                                  data-input-varid="{{ line_item.variant_id }}" 
                                  data-varid="{{ line_item.variant_id }}" 
                                  data-moq="{% if line_item.product.metafields.product.moq != blank %}{{ line_item.product.metafields.product.moq }}{% else %}1{% endif %}" 
                                  data-mpq="{% if line_item.product.metafields.product.mpq != blank %}{{ line_item.product.metafields.product.mpq }}{% else %}1{% endif %}" 
                                  {% if max_allowed_quantity != '' %}max="{{ max_allowed_quantity }}"{% endif %} 
                                  size="{{ line_item.quantity | append: '' | size | at_least: 2 }}" 
                                  aria-label="{{ 'cart.general.change_quantity' | t | escape }}">
      
                                  {%- if allow_more and line_item.quantity < 1000000 -%}
                                    <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: mpq_value }}&line={{ forloop.index }}" class="{{ css_input }}" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                                      {%- render 'icon' with 'plus-new' -%}
                                    </a>
                                  {%- else -%}
                                    {% comment %} data-tooltip="{{ 'cart.general.no_more_stock' | t | escape }}" {% endcomment %}
                                    <span class="{{ css_input }} opacity-50 cursor-not-allowed" aria-label="{{ 'cart.general.no_more_stock' | t | escape }}">
                                     {%- render 'icon' with 'plus-new' -%}
                                    </span>
                                  {%- endif -%}
                              </div>
                              <a href="{{ line_item.url_to_remove }}" class="hidden fb-md:block mt-20  text-0A2B6F text-sm text-right mmr-10" data-no-instant>{{ 'cart.general.remove' | t }}</a>
                            {%- endcapture -%}
                          </div>
                        </td>

                        <td class="w-full relative fb-md:w-1/4 p-0 fb-md:h-full mt-3 fb-md:mt-0 pr-8 fb-max-sm:pr-0 ">
                          <div class="absolute left-6 -bottom-2 hidden">                        
                              <a
                                href="{{ line_item.url_to_remove }}"
                                class="text-sm text-main underline"
                                data-no-instant
                              >
                                {{- 'cart.general.remove' | t -}}
                              </a>
                          </div>
                          <div class="w-full flex  space-x-4 flex-col items-end fb-sm:h-full fb-sm:space-x-0">
                            <div class="text-24 text-main font-bold  flex justify-end fb-md:block hidden">
                              {% render 'format-price', price: line_item.final_line_price, text_size:'text-24' %} 
                            </div>
                           
                            <div class="mt-4  flex items-center justify-end  text-left mmr-10 hidden fb-md:block">
                              {% if line_item.variant.compare_at_price > line_item.variant.price %}
                                {% assign price = line_item.variant.price
                                  | money_without_currency
                                  | replace: ',', ''
                                  | times: 1
                                %}
                                {% assign compare_at_price = line_item.variant.compare_at_price
                                  | money_without_currency
                                  | replace: ',', ''
                                  | times: 1
                                %}
                                {% assign discount_difference = compare_at_price | minus: price %}
                                {% assign discount_percentage = discount_difference
                                  | divided_by: compare_at_price
                                  | times: 100.0
                                  | round
                                %}
                                <span class="text-10 text-main hidden" line-item-data data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.final_price}}">{{ line_item.variant.price | money }}</span>
                                <s class="text-14 text-999999 flex items-center">
                                  {{- line_item.variant.compare_at_price | money -}}
                                </s>
                                {% comment %} <span class="text-10 text-F74747">{{ discount_percentage }}% OFF</span> {% endcomment %}
                             {% else %}
                                <div class="text-10 text-main hidden" line-item-data data-quantity="{{ line_item.quantity }}" data-price="{{ line_item.final_price }}">{{ line_item.final_price | money }} per item</div>
                              {% endif %}
                            </div>
                            <div class="flex-1 shrink-0 mt-0.5 fb-md:mt-3   ">
                                <line-item-quantity 
                                  data-key="{{ line_item.key }}">
                                  {{ quantity_selector_inner }}
                                </line-item-quantity>
                              </div> 
                          </div>
                          <ul class="product-item-meta__property mt-2 fb-max-sm:block hidden" role="list">
                            {%- if line_item.product.metafields.product.shipping_charge_policy != '0' -%}
                              <span class="text-xs fb-md:text-sm text-575757" >
                                Required special shipping at ${{line_item.product.metafields.product.shipping_charge_policy}} each.
                              </span>
                            {%- endif -%}
                            <span class="loading-container">
                              {% render 'icon' with 'loading' %}
                            </span>
                            <li class="js-line-item__property date mt-2 flex text-xs fb-md:text-sm flex-col text-575757 bg-F9F9F9" style="padding:3px;"></li>
                             
                          </ul>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
              {%- assign items_requiring_shipping = cart.items | where: 'requires_shipping' -%}

              {%- if section.settings.show_shipping_estimator and items_requiring_shipping.size > 0 -%}
                <div class="shipping-estimator">
                  <button
                    type="button"
                    is="toggle-button"
                    class="shipping-estimator__toggle-button collapsible-toggle heading heading--small"
                    aria-controls="shipping-estimator"
                    aria-expanded="false"
                  >
                    {{- 'cart.shipping_estimator.estimate_shipping' | t -}}
                    {%- render 'icon' with 'chevron' -%}
                  </button>
                  <collapsible-content id="shipping-estimator" class="collapsible">
                    <shipping-estimator class="shipping-estimator__form" role="form">
                      <div class="input-row">
                        <div class="input">
                          <label class="input__block-label" for="shipping-estimator[country]">
                            {{- 'cart.shipping_estimator.country' | t -}}
                          </label>
                          <div class="select-wrapper">
                            <select
                              class="select"
                              is="country-selector"
                              name="shipping-estimator[country]"
                              id="shipping-estimator[country]"
                              aria-owns="shipping-estimator-province-wrapper"
                              {% if customer and customer.default_address %}
                                data-default="{{ customer.default_address.country }}"
                              {% endif %}
                            >
                              {{ country_option_tags }}
                            </select>
                            {%- render 'icon' with 'chevron' -%}
                          </div>
                        </div>

                        <div id="shipping-estimator-province-wrapper" class="input" hidden>
                          <label class="input__block-label" for="shipping-estimator[province]">
                            {{- 'cart.shipping_estimator.province' | t -}}
                          </label>
                          <div class="select-wrapper">
                            <select
                              class="select"
                              name="shipping-estimator[province]"
                              id="shipping-estimator[province]"
                              {% if customer and customer.default_address %}
                                data-default="{{ customer.default_address.province }}"
                              {% endif %}
                            ></select>
                            {%- render 'icon' with 'chevron' -%}
                          </div>
                        </div>

                        <div class="input">
                          <label class="input__block-label" for="shipping-estimator[zip]">
                            {{- 'cart.shipping_estimator.zip_code' | t -}}
                          </label>
                          <input
                            type="text"
                            class="input__field"
                            name="shipping-estimator[zip]"
                            id="shipping-estimator[zip]"
                          >
                        </div>
                      </div>

                      <button
                        type="button"
                        is="loader-button"
                        class="form__submit form__submit--closer button button--primary"
                      >
                        {{ 'cart.shipping_estimator.submit' | t }}
                      </button>
                    </shipping-estimator>
                  </collapsible-content>
                </div>
              {%- endif -%}
            </div>
            <div class="w-full fb-md:w-[303px] fb-lg:w-[360px]  rounded-sm order-summary">
              <safe-sticky-header offset="24" class="w-full fb-md:sticky fb-md:min-h-30r">
                
                <div class="flex flex-col w-full bg-F8F8F8 pt-5.5 pb-9 px-3 fb-md:px-4.5 fb-md:pt-4.5 fb-md:pb-3">
                  <div class="w-full text-0A2B6F font-bold text-sm mb-3.5 fb-md:text-18 fb-md:mb-5 ">Order Summary</div>
                  <div class="{% if has_special_shipping %}hidden{% endif %}">
                    <div class="free-add-num hidden">
                      <div class="text-14 text-121212 add-item flex flex-wrap items-center">Add <span class="font-bold number-add pl-1 pr-1"></span> more for <span  class="font-bold pl-1" >FREE</span> <span class="pl-1"> shipping! </span> </div>
                      <div class="text-14 text-121212 flex flex flex-wrap items-center free-item">
                        <span class="circle mr-1">
                          <svg t="1759886138513" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5698" width="100%" height="100%"><path d="M155.644361 439.225533 376.468722 660.086733l486.86146-490.229161 95.379301 95.352695-585.574692 588.933183L65.289494 546.298154 155.644361 439.225533 155.644361 439.225533zM155.644361 439.225533" fill="#fff" p-id="5699"></path></svg>
                        </span>  
                        You earned <span class="color-33A956 font-bold pr-1 pl-1"> FREE </span> <span class="pl-1">delivery! </span>  
                      </div>
                      <div class="free-line w-full">
                        <div class="free-num"></div>
                      </div>
                    </div>
                </div>
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                      {%- when 'totals' -%}
                        <div class="w-full flex flex-col space-y-2 mb-7 fb-md:mb-4r" {{ block.shopify_attributes }}>
                          <div class="js-cart-total-container w-full flex justify-between items-center">
                            <div class="text-sm text-575757">Subtotal</div>
                            <div class="js-computed-subtotal font-medium text-sm text-1E1E1E" data-price="{{ cart.original_total_price }}">{{ cart.original_total_price | money }}</div>
                          </div>
                          {% assign total_savings = 0 %}
                          {% for line_item in cart.items %}
                            {% if line_item.variant.compare_at_price > line_item.variant.price %}
                              {% assign item_savings = line_item.variant.compare_at_price | minus: line_item.variant.price | times: line_item.quantity %}
                              {% assign total_savings = total_savings | plus: item_savings %}
                            {% endif %}
                          {% endfor %}
                          {% comment %} {% if total_savings > 0 %}
                          <div class="w-full flex items-center justify-between mb-0.5">
                            <div class="text-F74747 text-sm font-medium">
                              Savings
                            </div>
                            <div class="text-F74747 text-sm font-medium">
                              -{{ total_savings | money }}
                            </div>
                          </div>
                          {% endif %} {% endcomment %}
                          <div class="js-cart-total-container w-full flex  justify-between items-center">
                            <div class="text-sm text-575757">Estimated Tax</div>
                            <div class="js-tax font-medium text-sm text-1E1E1E"></div>
                          </div>
                          <div class="js-cart-total-container w-full flex  justify-between items-center">
                            <div class="text-sm text-575757">Estimated Shipping</div>
                            <div class="js-computed-shipping-money font-medium text-sm text-1E1E1E"></div>
                          </div>
                        </div>
                      {%- when 'express_checkout_buttons' -%}
                        {%- if additional_checkout_buttons -%}
                          <div class="cart__recap-block" {{ block.shopify_attributes }}>
                            <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                              {{- content_for_additional_checkout_buttons -}}
                            </div>
                          </div>
                        {%- endif -%}

                      {%- when '@app' -%}
                        <div class="cart__recap-block">
                          {%- render block -%}
                        </div>
                    {%- endcase -%}
                  {%- endfor -%}
                  <div class="w-full js-cart-total-container js-cart-total-container1 flex justify-between items-center mb-1">
                    <div class="text-sm text-575757">Estimated Total</div>
                    <div class="js-computed-total font-bold text-16 text-main"></div>
                  </div>
                  {% if total_savings > 0 %}
                    <div class="w-full flex items-center justify-between mb-0.5">
                      <div class="text-33A956 text-sm font-bold">
                        Savings
                      </div>
                      <div class="text-33A956 text-sm font-bold">
                        -{{ total_savings | money }}
                      </div>
                    </div>
                    {% endif %}
                  <div class="cart__total-text w-full text-sm text-575757 mt-8">
                    {{ section.settings.text }}
                  </div>
                  {% comment %}
                    {%- for block in section.blocks -%}
                      {%- case block.type -%}
                        {%- when 'order_note' -%}
                          <div class="cart__recap-note" {{ block.shopify_attributes }}>
                            <button
                              type="button"
                              is="toggle-button"
                              id="order-note-toggle"
                              class="link text--subdued"
                              aria-controls="cart-note"
                              aria-expanded="{% if block.settings.open_by_default %}true{% else %}false{% endif %}"
                            >
                              {%- if cart.note == '' -%}
                                {{- 'cart.general.add_order_note' | t -}}
                              {%- else -%}
                                {{- 'cart.general.edit_order_note' | t -}}
                              {%- endif -%}
                            </button>

                            <collapsible-content
                              id="cart-note"
                              class="collapsible"
                              {% if block.settings.open_by_default %}
                                open
                              {% endif %}
                            >
                              <div class="cart__order-note">
                                <textarea
                                  is="cart-note"
                                  aria-owns="order-note-toggle"
                                  name="note"
                                  class="input__field input__field--textarea"
                                  rows="3"
                                  placeholder="{{ 'cart.general.order_note_placeholder' | t }}"
                                  aria-label="{{ 'cart.general.order_note' | t | escape }}"
                                ></textarea>
                              </div>
                            </collapsible-content>
                          </div>
                      {%- endcase -%}
                    {%- endfor -%}
                  {% endcomment %}

                  <div class="hidden fb-md:flex flex-col space-y-2 mt-8 w-full">
                    {%- assign go_checkout_name = 'Checkout as Guest' -%}
                    {% if customer %}
                      {%- assign go_checkout_name = 'Checkout' -%}
                    {% else %}
                      <a
                        href="/account/login"
                        class="w-full flex items-center justify-center h-12  text-18 font-bold rounded-sm text-main bg-button"
                      >
                        Sign in and Checkout
                      </a>
                    {% endif %}
                    <button
                      type="submit"
                      is="loader-button"
                      id="cart-checkout-button"
                      data-disabled="0"
                      class="cart-checkout-button relative w-full flex items-center justify-center h-12  text-18 font-bold rounded-sm  border-line text-main"
                      name="checkout"
                    >
                      {{ go_checkout_name }}
                    </button>
                  </div>
                </div>

                {%- if section.settings.show_payment_methods and shop.enabled_payment_types.size > 0 -%}
                  <div class="cart__payment-methods">
                    <span class="cart__payment-methods-label text--xsmall text--subdued">
                      {{- 'cart.general.we_accept' | t -}}
                    </span>

                    <div class="payment-methods-list payment-methods-list--center">
                      {% for type in shop.enabled_payment_types %}
                        {{ type | payment_type_svg_tag }}
                      {% endfor %}
                    </div>
                  </div>
                {%- endif -%}
              </safe-sticky-header>
            </div>
            <div class="w-full fb-max-sm:hidden fb-md:hidden">
              {%- assign go_checkout_name = 'Checkout as Guest' -%}
              {% if customer %}
                {%- assign go_checkout_name = 'Checkout' -%}
              {% else %}
                <a
                  href="/account/login"
                  class="w-full flex items-center justify-center h-10 text-sm font-bold rounded-sm text-main bg-button mb-2"
                >
                  Sign in and Checkout
                </a>
              {% endif %}
              <button
                type="submit"
                is="loader-button"
                id="cart-checkout-button"
                data-disabled="0"
                class="cart-checkout-button relative w-full  h-10  flex items-center justify-center text-sm font-bold rounded-sm  text-main  border-line"
                name="checkout"
              >
                {{ go_checkout_name }}
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="w-full h-auto fixed bottom-0 left-0 right-0 hidden fb-max-sm:block p-4 pt-4  bg-white " style="z-index: 1000000000000; box-shadow: 0 -4px 4px rgba(189, 219, 189, 0.25);">
        <div class="w-full mb-2 flex justify-between items-center"> 
          <div class="flex-1 justify-between items-center pr-2">
            <div class="w-full js-cart-total-container js-cart-total-container1 flex justify-between items-center mb-1">
              <div class="text-sm text-121212 font-bold">Estimated Total</div>
              <div class="js-computed-total font-bold text-16 text-main"></div>
            </div>
            {% if total_savings > 0 %}
              <div class="w-full flex items-center justify-between mb-0.5">
                <div class="text-33A956 text-sm font-bold">
                  Savings
                </div>
                <div class="text-33A956 text-sm font-bold">
                  -{{ total_savings | money }}
                </div>
              </div>
              {% endif %}
          </div>

          <div class="w-4 h-4 text-F9A000 change-btn">
            <svg t="1760001832998" class="icon" viewBox="0 0 1026 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="6931" width="100%" height="100%"><path d="M857.088 224.256q28.672-28.672 69.12-28.672t69.12 28.672q29.696 28.672 29.696 68.608t-29.696 68.608l-382.976 380.928q-12.288 14.336-30.72 19.968t-38.912 4.608-40.448-8.704-34.304-22.016l-376.832-374.784q-29.696-28.672-29.696-68.608t29.696-68.608q14.336-14.336 32.256-21.504t36.864-7.168 37.376 7.168 32.768 21.504l313.344 309.248z" fill="currentColor" p-id="6932"></path></svg>
            {% comment %} <svg t="1760946819912" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5887" width="100%" height="100%"><path d="M985.31555555 29.51168h-946.6311111c-19.44234667 0-36.40888889 16.96654222-36.4088889 36.40888889v339.76775111c0 19.44234667 16.96654222 36.40888889 36.4088889 36.40888889h133.47498666V963.98222222c0 19.44234667 17.03936 36.40888889 36.40888889 36.4088889h133.54780445v-72.81777778H244.97720889V272.21333334h534.04558222v655.36h-364.08888889v72.81777778h400.49777778c19.36952889 0 36.40888889-16.96654222 36.40888889-36.4088889V442.09720889H985.31555555c19.44234667 0 36.40888889-16.96654222 36.4088889-36.40888889V65.92056889c0-19.44234667-16.96654222-36.40888889-36.4088889-36.40888889zM948.90666667 369.27943112h-97.06609778V199.39555556H172.15943111v169.88387556H75.09333333V102.32945778h873.81333334v266.94997334z m-606.79054222 24.32113777h339.7677511v72.81777778H342.11612445v-72.81777778z m0 145.63555556h339.7677511v72.81777777H342.11612445v-72.81777777z m0 145.63555555H584.81777778v72.81777778H342.11612445v-72.81777778z" fill="currentColor" p-id="5888"></path></svg> {% endcomment %}
          </div>
        </div>
        <div class="w-full flex   ">
          {%- assign go_checkout_name = 'Checkout as Guest' -%}
          {% if customer %}
            {%- assign go_checkout_name = 'Checkout' -%}
          {% else %}
            <a
              href="/account/login"
              class="w-full flex items-center justify-center h-10 text-sm font-bold rounded-sm text-main bg-button mb-2 mr-2"
            >
              Sign in and Checkout
            </a>
          {% endif %}
          <button
            type="submit"
            is="loader-button"
            id="cart-checkout-button"
            data-disabled="0"
            class="cart-checkout-button relative w-full  h-10  flex items-center justify-center text-sm font-bold ml-2 rounded-sm  text-main  border-line"
            name="checkout"
          >
            {{ go_checkout_name }}
          </button>
        </div>
      </div>
    {%- endif -%}
  </div>


</section>
<script>
$(function() {
  const ip = Cookies.get('ip');
  if(ip) {
    // Page Viewed
    dataLayer.push({
      'event': 'custom_cart_viewed',
      'zip': '{{ customer.default_address.zip  }}',   
      'username': '{{ customer.name }}',
      'email':'{{ customer.email }}',
      'ip': ip
    });
  }
  {% if customer.b2b? %}
    {% assign province_code = customer.current_location.shipping_address.province_code %}
    {% assign zip = customer.current_location.shipping_address.zip %}
  {% else %}
    {% assign province_code = customer.default_address.province_code | default: 'DC'  %}
    {% assign zip = customer.default_address.zip | default: 20500 %}
  {% endif %}
  $('.quantity-selector__input').on('keydown', function(event) {
    if (event.key === 'Enter') {
      event.preventDefault();
    }
  });
  (() => {
    const line_item_delivery = [];
    {% for line_item in cart.items %}
      line_item_delivery.push({
        MATNR: '{{ line_item.sku }}',
        ZQTY: {{ line_item.quantity }},
        Z004: '{{ province_code }}',
        Z002: 'US',
        POST_CODE2: window.northsky.customerZipCode || '77380'
      });
    {% endfor %}

    async function getDeleveryDate(deliveryParams) {
      try {
        const response = await fetch(`${window.northsky.api}/openapi/adlink/delivery-calculation/batch`, {
          method: 'POST',
          body: JSON.stringify({
            checkoutToken: null,
            deliveryCalculationParam: deliveryParams
          }),
          headers:{
            'Content-Type':'application/json',
          }
        })
        return await response.json();
      } catch(err) {
        console.error(err)
      }
    }

    function formatDate(timestamp, timezoneOffset = -5) {
      const date = new Date(+timestamp);
      const localTime = new Date(date.getTime() + timezoneOffset * 60 * 60 * 1000);
      const year = localTime.getFullYear();
      const monthNames = [
        'January', 'February', 'March', 'April', 'May', 'June',
        'July', 'August', 'September', 'October', 'November', 'December'
      ];
      const month = monthNames[localTime.getMonth()];
      const day = localTime.getDate();
      let suffix = '';
      if (day >= 11 && day <= 13) {
        suffix = 'th';
      } else {
        switch (day % 10) {
          case 1: suffix = 'st'; break; 
          case 2: suffix = 'nd'; break; 
          case 3: suffix = 'rd'; break;
          default: suffix = 'th'; break;
        }
      }
      return `${month} ${day}${suffix}, ${year}`;
    }


    async function initDeleveryDate(line_item_delivery) {
      if(line_item_delivery.length == 0) return
      $('.js-line-item-table .line-item .loading-container').show(); 
      $('.js-line-item__property').hide();
      const deleveryDate = await getDeleveryDate(line_item_delivery);
      if(deleveryDate?.length) {
        deleveryDate.map(line_item => {
          // item.availableInventoryCount 
          let $deliveryTime
          const $lineItem = $(`.line-item[data-sku='${line_item.sku}']`);
          let stockDateStart;
          let stockDateEnd;
          if (
            line_item.transitInventoryDeliveryTimeStampMin &&
            line_item.transitInventoryDeliveryTimeStampMax &&
            line_item.outOfStockDeliveryTimeStampMin &&
            line_item.outOfStockDeliveryTimeStampMax
          ) {
            stockDateStart = +line_item.transitInventoryDeliveryTimeStampMin;
            stockDateEnd = +line_item.outOfStockDeliveryTimeStampMax;
          } else if(
            line_item.transitInventoryDeliveryTimeStampMin &&
            line_item.transitInventoryDeliveryTimeStampMax &&
            !line_item.outOfStockDeliveryTimeStampMin &&
            !line_item.outOfStockDeliveryTimeStampMax
          ) {
            stockDateStart = +line_item.transitInventoryDeliveryTimeStampMin;
            stockDateEnd = +line_item.transitInventoryDeliveryTimeStampMax;
          } else if(
            !line_item.transitInventoryDeliveryTimeStampMin &&
            !line_item.transitInventoryDeliveryTimeStampMax &&
            line_item.outOfStockDeliveryTimeStampMin &&
            line_item.outOfStockDeliveryTimeStampMax
          ){
            stockDateStart = +line_item.outOfStockDeliveryTimeStampMin;
            stockDateEnd = +line_item.outOfStockDeliveryTimeStampMax;
          }
          if(line_item.availableInventoryCount == 0) {
            $deliveryTime = $(`
              <span>Expected to arrive between <b>${formatDate(stockDateStart)} </b> and <b>${formatDate(stockDateEnd)}</b>.</span>
            `);
          } else if(line_item.availableInventoryCount >= line_item.demandQuantity) { // Available stock is greater than 0 and available stock >= demand
            $deliveryTime = $(`
              <span>Expected to arrive on <b>${formatDate(line_item.availableInventoryDeliveryTimeStamp)}</b>. </span>
            `);
          } else { // Stock is greater than 0, and demand exceeds available stock
            $deliveryTime = $(`
              <span>Partial expected to arrive on <b>${formatDate(line_item.availableInventoryDeliveryTimeStamp)}</b>.</span>
              <span>The remaining balance is expected to arrive between <b>${formatDate(stockDateStart)}</b> and <b>${formatDate(stockDateEnd)}</b>.</span>
            `);
          }
          $lineItem.find('.loading-container').hide();
          $lineItem.find('.js-line-item__property.date').show().html($deliveryTime);
        })
      }
    }
    initDeleveryDate(line_item_delivery);
  })();

  (() => {
    // js/helper/currency.js
    function formatMoney(cents, format = '') {
      if (typeof cents === 'string') {
        cents = cents.replace('.', '');
      }
      const placeholderRegex = /\{\{\s*(\w+)\s*\}\}/,
        formatString = format || window.themeVariables.settings.moneyFormat;
      function defaultTo(value2, defaultValue) {
        return value2 == null || value2 !== value2 ? defaultValue : value2;
      }
      function formatWithDelimiters(number, precision, thousands, decimal) {
        precision = defaultTo(precision, 2);
        thousands = defaultTo(thousands, ',');
        decimal = defaultTo(decimal, '.');
        if (isNaN(number) || number == null) {
          return 0;
        }
        number = (number / 100).toFixed(precision);
        let parts = number.split('.'),
          dollarsAmount = parts[0].replace(/(\d)(?=(\d\d\d)+(?!\d))/g, '$1' + thousands),
          centsAmount = parts[1] ? decimal + parts[1] : '';
        return dollarsAmount + centsAmount;
      }
      let value = '';
      switch (formatString.match(placeholderRegex)[1]) {
        case 'amount':
          value = formatWithDelimiters(cents, 2);
          break;
        case 'amount_no_decimals':
          value = formatWithDelimiters(cents, 0);
          break;
        case 'amount_with_space_separator':
          value = formatWithDelimiters(cents, 2, ' ', '.');
          break;
        case 'amount_with_comma_separator':
          value = formatWithDelimiters(cents, 2, '.', ',');
          break;
        case 'amount_with_apostrophe_separator':
          value = formatWithDelimiters(cents, 2, "'", '.');
          break;
        case 'amount_no_decimals_with_comma_separator':
          value = formatWithDelimiters(cents, 0, '.', ',');
          break;
        case 'amount_no_decimals_with_space_separator':
          value = formatWithDelimiters(cents, 0, ' ');
          break;
        case 'amount_no_decimals_with_apostrophe_separator':
          value = formatWithDelimiters(cents, 0, "'");
          break;
      }
      if (formatString.indexOf('with_comma_separator') !== -1) {
        return formatString.replace(placeholderRegex, value);
      } else {
        return formatString.replace(placeholderRegex, value);
      }
    }

    async function getShippingCost() { 
      const skus = [];
      {% for line_item in cart.items %}
        skus.push({
          nums: +'{{ line_item.quantity }}',
          skuAmount: +('{{ line_item.original_price | money_without_currency  }}'.replace(/,/g, '')),
          skuCode: '{{ line_item.sku }}'
        });
      {% endfor %}
      if(skus.length == 0) return
      const orderAmount = +('{{ cart.total_price | money_without_currency }}'.replace(/,/g, ''));
      {% if customer.default_address.zip != blank %}
        const deliveryAddress = {
          city: "{{ customer.default_address.city }}",
          province: "{{ customer.default_address.province }}",
          street: "{{ customer.default_address.address1 }}",
          zipCode: "{{ customer.default_address.zip }}"
        };
      {% else %}
        const deliveryAddress = { 
          city: "Washington",
          province: "District of Columbia",
          street: "1600 Pennsylvania Avenue NW",
          zipCode: window.northsky.customerZipCode || "77380"
        };
      {% endif %}
      const sendAddress = {
        city: "Houston",
        province: "Texas",
        street: "2425 Broad St",
        zipCode: "77087"
      };
      const shippingParam = {
        deliveryAddress,
        sendAddress,
        orderAmount,
        skus
      }
      const response = await fetch(`${window.northsky.api}/openapi/costs`, {
        method: 'POST',
        body: JSON.stringify(shippingParam),
        headers:{
          'Content-Type':'application/json',
        }
      })
      const res = await response.json();
      if(res.code == 0) {
        return  {
          costs: res.data[0].costs,
          balanceFreeShipping: res.data[0].balanceFreeShipping
        }  
      } else {
        return {
          costs:0,
          balanceFreeShipping:0 
        }
      }
    }
    async function getProvincesDataAndCompute() {
      const today = new Date();
      const year = today.getFullYear(); 
      const month = today.getMonth() + 1; 
      const date = today.getDate();
      const lines = [];
      $('[line-item-data]').each((idx, item) => {
        lines.push({
          quantity: +$(item).data("quantity"),
          amount: +$(item).data("price") * +$(item).data("quantity"),
          taxCode: "PT118906"
        });
      });
      if(lines.length == 0) {
        return false;
      }
      {% if customer.default_address.zip %}
        const singleLocation = {
          line1: "{{ customer.default_address.address1 }}",
          city: "{{ customer.default_address.city }}",
          region: "{{ province_code }}",
          country: "US",
          postalCode: "{{ zip }}",
        };
      {% else %}
        const singleLocation = { 
          line1: "1600 Pennsylvania Avenue NW",
          city: "Washington",
          region: "{{ province_code }}",
          country: "US",
          postalCode: "{{ zip }}"
        };
      {% endif %}
      const taxParam = {
        lines,
        type: "SalesOrder",
        date: `${year}-${month}-${date}`,
        customerCode: "ABC",
        addresses: {
          singleLocation
        },
        commit: false,
        currencyCode: "USD"
      }
      try {
        const response = await fetch(`${window.northsky.api}/tax`, {
          method: 'POST',
          body: JSON.stringify(taxParam),
          headers:{
            'Content-Type':'application/json'
          }
        })
        const res = await response.json();
        if(res.code === 200) {
          const data = await getShippingCost()
          const shipping_money = data.costs 
          if(shipping_money==0){
            $('.js-computed-shipping-money').html(`<b class='text-33A956'>FREE</b>`);
          }else{
            $('.js-computed-shipping-money').text(`$${shipping_money}`);
          }
          const balanceFreeShipping = data.balanceFreeShipping
          $('.free-add-num').removeClass('hidden')
          if(balanceFreeShipping==0){
            $('.free-add-num').find('.add-item').addClass('hidden')
            $('.free-add-num').find('.free-num').css('width','100%');
          }else{
            $('.free-add-num').find('.free-item').addClass('hidden')
            $('.free-add-num').find('.number-add').text(`$${balanceFreeShipping}`)
            $('.free-add-num').find('.free-num').css('width',`${(75-balanceFreeShipping)/75*100}%`);
          }
          
          const computed_subtotal = $('.js-computed-subtotal').data('price'); 
          const tax_money = Math.ceil(res.data.totalTax); 
          const total = +computed_subtotal + shipping_money * 100 + tax_money;
          $('.js-cart-total-container .js-tax').text(`${formatMoney(tax_money)}`);
          $('.js-cart-total-container1 .js-computed-total').text(`${formatMoney(total)}`);
        }
      } catch (error) {
        console.error("Failed to fetch provinces data:", error);
      }
    }
    getProvincesDataAndCompute();
  })();

  (() => {
    $('.cart-checkout-button').attr('data-disabled', '0');
    $('.cart-checkout-button').click(function(event) {
      event.preventDefault();
      const disabled = $('.cart-checkout-button').attr('data-disabled');
      if(disabled == 1) {
        alert('Please wait for the shopping cart to refresh')
        return
      }
      {% comment %} getDiscount(); {% endcomment %}
       window.location.href = '/checkout?discount=0';
    })
    {% comment %} function getDiscount () { 
      const amount_original = parseFloat('{{ cart.original_total_price }}');
      const amount_current = parseFloat('{{ cart.total_price }}');
      const amount_difference = (amount_original - amount_current) / 100;
      const skus = [];
      {% for line_item in cart.items %}
      skus.push({
        count: +'{{ line_item.quantity }}',
        skuCode: '{{ line_item.sku }}'
      });
      {% endfor %}
      console.log("skus", skus)
      const formData = {
        customerId: Number({{ customer.id }}),
        amount: amount_difference,
        skuInfos: skus
      };
      if(formData.amount == 0) {
        window.location.href = '/checkout?discount=0';
        return
      }
      fetch(`${window.northsky.api}/discount/save`, {
        method: 'POST',
        body: JSON.stringify(formData),
        headers:{
          'Content-Type':'application/json',
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.code == 200) {
          const discountCode = data.data.title;
          window.location.href = `/checkout?discount=${discountCode}`; 
        } else{
          window.location.href = `/checkout?discount=0`; 
        }
      })
      .catch(error => {
        window.location.href = `/checkout?discount=0`; 
      });
    } {% endcomment %}
  })();

  (()=>{
    $('.change-btn').click(function(event) {
    event.preventDefault();
    const orderSummary = $('.order-summary');
    if (orderSummary.length > 0) {
      const targetOffset = orderSummary.offset().top;
      // $('html, body').animate({
      //   scrollTop: targetOffset - 10 // 减去10px以确保完全可见
      // }, 300);
      window.scrollTo({
        top: targetOffset,
        behavior: 'smooth'
      });
    }
  });
  })()
})
</script>

{% schema %}
{
  "name": "Cart",
  "blocks": [
    {
      "type": "totals",
      "name": "Totals",
      "limit": 1
    },
    {
      "type": "order_note",
      "name": "Order note",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "open_by_default",
          "label": "Open by default",
          "default": false
        }
      ]
    },
    {
      "type": "express_checkout_buttons",
      "name": "Express checkout buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Make payment faster with accelerated payment buttons. [Learn more](https://shopify.dev/themes/pricing-payments/accelerated-checkout)"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "Show shipping rates calculator",
      "default": true
    },
    {
      "type": "text",
      "id": "shipping_estimator_default_country",
      "label": "Default country",
      "info": "If the customer is logged in, the country of their shipping address will be used.",
      "default": "United States"
    },
    {
      "type": "url",
      "id": "empty_button_link",
      "label": "Empty button link",
      "default": "/collections/all"
    }
  ]
}
{% endschema %}
