{{"faq-detail.css" | asset_url | stylesheet_tag}}
<div class="container main_faq_detail">
    <div class="left_contact_information">
        {% for block in section.blocks %}
            <div class="faq_detail_info" id="{{block.settings.quesId}}">
                <h3 class="head_title">
                    {{block.settings.title_icon}}
                    <span class="ol-my-22">{{block.settings.title}}</span>    
                </h3>
                <div class="faqs-item_all">
                    {%- for i in (1..10) -%}
                        {% capture cap_question %}question_{{ i }}{% endcapture %}
                        {% capture cap_answer %}answer_{{ i }}{% endcapture %}

                        {%- liquid
                            assign question = block.settings[cap_question]
                            assign answer = block.settings[cap_answer]
                        -%}
                        {%- if question != blank -%}
                            <div class="faqs-item">
                                <div class="card">
                                    <div class="card-header collapsed" id="question-{{ block.id }}-{{ forloop.index }}" data-toggle="collapse" data-target="#collapse-{{ block.id }}-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ block.id }}-{{ forloop.index }}">
                                        <div class="title ol-my-16" role="button" tabindex="0">
                                            {{ question }}
                                        </div>
                                        <span class=" details_icon icon-plus">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="12" height="8" viewBox="0 0 12 8"><g><path d="M0,0L6.13954,8L12,0L0,0Z" fill="#0A3164" fill-opacity="1"/></g></svg>
                                        </span>
                                    </div>
                                    <div id="collapse-{{ block.id }}-{{ forloop.index }}" class="faqs-item_answer" data-parent="#accordion">
                                        <div class="card-body" id="answer-{{ block.id }}-{{ forloop.index }}">
                                            <div class="answer">
                                                {{ answer }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%- endif -%}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="right_contact_information">
        <div class="contact_information">
            <div class="contact_information_icon">{{section.settings.icon}}</div>
            <div class="contact_information_title ol-my-18">{{section.settings.title}}</div>
            <div class="contact_information_desc ol-my-14">
              <p>{{section.settings.contact_information_1}}<br>
                <br>
                  {%- assign phone = '1-800-805-6686' -%}
                <a href="tel:{{ phone }}">{{ phone }}</a>
                <br>
                <span data-email="customerservice@northskysupply.com" class="js-copy-email cursor-pointer">customerservice@northskysupply.com</span><br>
              </p><br>
              {{section.settings.contact_information_3 }}<br>
             <p>
              <a href="/pages/contact-us" title="contact us">Contact Us</a>
              </p>
            </div>
        </div>
    </div>
</div>
<script>
  $(function() {
    document.addEventListener("DOMContentLoaded", function() {
        var hashValue = window.location.hash.substring(1); 
        var faqBlocks = document.querySelectorAll('.faq_detail_info');
        faqBlocks.forEach(function(block) {
            block.style.display = !hashValue || block.getAttribute('id') === hashValue ? 'block' : 'none';
        });

        $(".left_contact_information .faqs-item .card-header").click(function(){
        if ($(this).parent().find('.faqs-item_answer').css("display") == "none") {
                $(this).parent().find('.faqs-item_answer').slideDown();
                $(this).addClass("active")
            }else{
                $(this).parent().find('.faqs-item_answer').slideUp();
                $(this).removeClass("active")
            }
        })
    });
  })

</script>
{% schema %}
{
    "name": "faq detail",
    "settings": [
        {
            "type": "textarea",
            "id": "icon",
            "label": "icon"
        },
        {
            "type": "text",
            "id": "title",
            "label": "title"
        },
        {
            "type": "richtext",
            "id": "contact_information",
            "label": "Contact information"
        },
        {
          "type": "text",
          "id": "contact_information_1",
          "label": "Contact information 1",
          "default": "NorthSky customer service team is here to help."
        },
        {
          "type": "richtext",
          "id": "contact_information_3",
          "label": "Contact information 3",
          "default": "<p>Monday - Friday: 7am - 7pm (CT)<br>Holiday hours may vary<br>Please check our holiday schedule.</p>"
        }
    ],
    "blocks": [
        {
            "name": "message",
            "type": "message",
            "settings": [
                {
                    "type": "text",
                    "id": "quesId",
                    "label": "question Id"
                },
                {
                    "type" : "text",
                    "id" : "title",
                    "label" : "title"
                },
                {
                    "type" : "textarea",
                    "id" : "title_icon",
                    "label" : "title icon"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 1"
                },
                {
                    "type" : "text",
                    "id" : "question_1",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_1",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 2"
                },
                {
                    "type" : "text",
                    "id" : "question_2",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_2",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 3"
                },
                {
                    "type" : "text",
                    "id" : "question_3",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_3",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 4"
                },
                {
                    "type" : "text",
                    "id" : "question_4",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_4",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 5"
                },
                {
                    "type" : "text",
                    "id" : "question_5",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_5",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 6"
                },
                {
                    "type" : "text",
                    "id" : "question_6",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_6",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 7"
                },
                {
                    "type" : "text",
                    "id" : "question_7",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_7",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 8"
                },
                {
                    "type" : "text",
                    "id" : "question_8",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_8",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 9"
                },
                {
                    "type" : "text",
                    "id" : "question_9",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_9",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                },
                {
                    "type": "header",
                    "content": "Question and Anwer 10"
                },
                {
                    "type" : "text",
                    "id" : "question_10",
                    "label" : "Question",
                    "default": "Question"
                },
                {
                    "type" : "richtext",
                    "id" : "answer_10",
                    "label" : "Answer",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select image and text that relates to your style and story.</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name":"faq detail"
        }
    ]
}
{% endschema %}