
<style>
  .btn-50{
    width:50%;
  }
  .free-line{
    height:6px;
    background: #e2e2e2;
    width:100%;
    margin-bottom: 14px;
    margin-top: 10px;
    position: relative;
    margin-top:4px;
    border-radius: 4px;
    overflow: hidden;
  }
  .free-num{
    height:6px;
    background: #e2e2e2;
    position: absolute;
    top:0;
    left:0;
    background: #33A956;
  }
  .color-33A956{
    color: #33A956;
  }
  .circle{
    background: #33A956;
    width:12px;
    height:12px;
    border-radius: 50%;
    display: inline-block;
  }

  .shopify-section--mini-cart{
    z-index: 888 !important;
    position: relative;
  }

  .cart-drawer {
    pointer-events: auto;
  }

  .cart-overlay {
    pointer-events: auto;
  }

</style>

<cart-drawer 
  section="{{ section.id }}" 
  id="mini-cart" 
  class="mini-cart drawer  h-full fb-md:w-30r bg-white fb-md:max-h-[75vh]  fb-md:shadow-lg fb-md:top-20">
  {% comment %} <span class="drawer__overlay fb-md:hidden"></span> {% endcomment %}
  <header class="w-full px-4 py-5 fb-md:py-4 mb-2 flex items-center justify-between ">
    <a class="flex items-center " href="/cart">
      <p class="text-button text-10">
        {%- render 'icon' with 'new-cart' -%}
      </p>
      {% comment %} <p class="text-16 font-bold  text-left text-121212 pl-2">
        {%- if cart.item_count != 0 -%}
          {{- 'cart.general.title' | t -}}
        {%- else -%}
          {{- 'cart.general.item_count' | t: count: cart.item_count -}}
        {%- endif -%}
      </p> {% endcomment %}

      <p class="text-16 font-bold  text-left text-121212 pl-2">
        {{- 'cart.general.title' | t -}}
      </p>
      <p class="text-14 text-left text-121212 pl-2">
        {%- if cart.item_count != 0 -%}
       ( {{- 'cart.general.item_count' | t: count: cart.item_count -}})
        {%- endif -%}
      </p>
    </a>
   
    <div class="flex items-center " >
      <span class="text-16 font-bold  text-main"> 
        {%- if cart.item_count != 0 -%}
          {{ cart.original_total_price | money }} 
        {%- endif -%}
      </span>
      <button type="button" class="w-6 h-6 text-main font-bold pl-4" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
      {%- render 'icon' with 'close' -%}
    </button>
    </div>
  </header>
  <div class="w-full flex-1 overflow-y-auto grary-scrollerbar fb-md:max-h-full flex flex-col justify-start px-5 pb-5"
   style="overscroll-behavior: contain;"
  >
    {%- if cart.item_count == 0 -%}
      <div class="w-full fb-flex-center flex-col">
        <span class="text-E2E2E2 w-14 h-14 mt-30">
          <svg width="100%" height="100%" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_792_349)">
          <mask id="mask0_792_349" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="19" height="18">
          <path d="M0.249023 0.0786819L18.7514 0.10066V17.9213H0.249023V0.0786819Z" fill="white"/>
          </mask>
          <g mask="url(#mask0_792_349)">
          <path d="M5.35538 15.5424C5.84466 15.5429 6.28564 15.8297 6.47319 16.2697C6.66073 16.7097 6.55782 17.2165 6.21252 17.5539C5.82525 17.931 5.22629 18.0081 4.7519 17.7415C4.27752 17.475 4.04619 16.9314 4.1877 16.4161C4.3292 15.9007 4.80855 15.5424 5.35628 15.5422H5.35538V15.5424ZM15.5709 15.5424C16.06 15.5431 16.5007 15.8301 16.688 16.2701C16.8754 16.7101 16.7724 17.2167 16.4274 17.5541C16.0403 17.9312 15.4411 18.0084 14.9668 17.7418C14.4924 17.4752 14.261 16.9317 14.4025 16.4163C14.5441 15.9009 15.0234 15.5426 15.5711 15.5424H15.5709Z" fill="currentColor"/>
          <path d="M18.5492 2.70132C18.4567 2.5211 18.2718 2.43121 17.9947 2.43121H5.25309L3.18493 0.687257C2.96128 0.469455 2.60109 0.117807 2.46478 0.0872574H0.246094V1.43759H1.81752L3.20412 14.5618C3.20412 14.9218 3.57401 15.1919 3.85115 15.1919H16.6079C16.9775 15.1919 17.2549 14.9218 17.2549 14.6517L18.7338 3.2411C18.7338 3.0611 18.7338 2.8811 18.549 2.7011L18.5492 2.70132ZM15.9608 13.8418H4.40588L3.48148 3.78154H17.2551L15.9611 13.8418H15.9608Z" fill="currentColor"/>
          </g>
          <path d="M8.70833 6.26087H7.125V11.7391H8.70833V6.26087Z" fill="currentColor"/>
          <path d="M13.4583 6.26087H11.875V11.7391H13.4583V6.26087Z" fill="currentColor"/>
          </g>
          <defs>
          <clipPath id="clip0_792_349">
          <rect width="19" height="18" fill="white"/>
          </clipPath>
          </defs>
        </svg>
        </span>
        <p class="text-121212 font-bold text-18 mt-4">{{ 'cart.general.empty' | t }}</p>
        <p class="text-main text-12 mb-30">Let's find something awesome to add.</p>
        <div class="button-wrapper w-full">
          <a href="{{ section.settings.empty_button_link }}" class="button button--primary w-full">{{ 'cart.general.start_shopping' | t }}</a>
        </div>
      </div>
    {%- else -%}
      <div class="js-drawer__content">
        {%- if settings.cart_show_free_shipping_threshold and settings.cart_free_shipping_threshold != '' -%}
          {%- assign free_shipping_thresholds = settings.cart_free_shipping_threshold | remove: ' ' | split: ',' -%}
          {%- assign has_found_matching_threshold = false -%}

          {%- if free_shipping_thresholds.size > 1 -%}
            {%- for threshold in free_shipping_thresholds -%}
              {%- assign threshold_parts = threshold | split: ':' -%}
              {%- assign currency_code = threshold_parts | first | upcase -%}

              {%- if currency_code == cart.currency.iso_code -%}
                {%- assign free_shipping_calculated_threshold = threshold_parts | last -%}
                {%- assign has_found_matching_threshold = true -%}
                {%- break -%}
              {%- endif -%}
            {%- endfor -%}
          {%- else -%}
            {%- assign free_shipping_calculated_threshold = free_shipping_thresholds | last -%}
            {%- assign has_found_matching_threshold = true -%}
          {%- endif -%}

          {%- if has_found_matching_threshold -%}
            {%- assign threshold_in_cents = free_shipping_calculated_threshold | times: 100 -%}

            <free-shipping-bar threshold="{{ threshold_in_cents }}" class="shipping-bar" style="--progress: {{ cart.total_price | times: 1.0 | divided_by: threshold_in_cents | at_most: 1 }}">
              {%- if cart.total_price >= threshold_in_cents -%}
                <span class="shipping-bar__text text--small">{{ 'cart.general.free_shipping' | t }}</span>
              {%- else -%}
                {%- capture remaining_amount -%}{{ cart.total_price | minus: threshold_in_cents | abs | money }}{%- endcapture -%}
                <span class="shipping-bar__text text--small">{{ 'cart.general.free_shipping_remaining_html' | t: remaining_amount: remaining_amount }}</span>
              {%- endif -%}

              <span class="shipping-bar__progress"></span>
            </free-shipping-bar>
          {%- endif -%}
        {%- endif -%}
        <form id="mini-cart-form" action="{{ routes.cart_url }}" novalidate method="post">
          <input type="hidden" name="checkout">
          
          {% comment %} {%- assign sorted_items = cart.items | sort_natural: 'product.metafields.product.shipping_charge_policy' %} {% endcomment %}
           {% comment %} 排序后面处理拿到最外面层去 {% endcomment %}
          {%- for line_item in cart.items -%}
          <line-item class="line-item w-full mb-7" data-sku="{{ line_item.sku }}">
              <div class="w-full flex items-start gap-3">
                <a href="{{ line_item.url }}" class="w-22.5 h-22.5 fb-md:w-25 fb-md:h-25 flex-shrink-0 relative bg-gray-50 rounded-sm overflow-hidden" tabindex="-1" aria-hidden="true">
                  <span class="line-item__loader absolute inset-0 flex items-center justify-center bg-white bg-opacity-75" hidden>
                    <span class="line-item__loader-spinner spinner" hidden>{% render 'icon' with 'spinner', width: 16, height: 16, stroke_width: 6 %}</span>
                    <span class="line-item__loader-mark" hidden>{% render 'icon' with 'check', width: 20, height: 20 %}</span>
                  </span>
                  <img class="lazyload w-full h-full object-cover" data-src="{{ line_item.image | image_url }}" width="64" height="64" />
                </a>
                <div class="line-item__info flex-1">
                  <div class="product-item-meta w-full">
                    <div class="product-item-meta-top flex flex-wrap items-center mb-1">
                      {%- if line_item.product.metafields.product.brand.value != blank
                        and line_item.product.metafields.product.brand.value != 'null'
                        and line_item.product.metafields.product.brand.value != '-'
                      -%}
                        <span class="line-item-vendor fb-max-sm:text-12 text-14 text-121212 mr-1 fb-md:mr-2">
                          {{- line_item.product.metafields.product.brand.value -}}
                        </span>
                        <div class="h-2 fb-md:h-3 border-r w-0 border-121212 mr-1 fb-md:mr-2"></div>
                      {%- endif -%}
                      {% if line_item.product.metafields.product.manufacturer_model_number != blank %}
                        <span class="model text-14 fb-max-sm:text-12 text-121212 mr-1 fb-md:mr-2">
                        {{ line_item.product.metafields.product.manufacturer_model_number }} 
                        </span>
                      {% endif %} 
                      {% assign stock_num = line_item.product.variants.first.inventory_quantity %}
                      {% assign varid = section.id | append: "-" | append: line_item.product.variants.first.id %}
                      <div class="">
                        {% render 'stock-label', stock_num: stock_num, varid: varid %}
                      </div>
                    </div>
                    
                    <!-- 商品标题 -->
                    <a href="{{ line_item.url }}" class="mt-1 line-item-title block text-16 font-medium text-121212 hover:underline transition-colors fb-max-sm:text-14">
                      {{- line_item.product.title -}}
                    </a>

                    <!-- 数量选择器 -->
                    {%- assign mymoq = line_item.product.metafields.product.moq | default: 1 -%}
                    {%- assign mympq = line_item.product.metafields.product.mpq | default: 1 -%}
                    {% assign moq_value = mymoq | plus: 0 %}
                    {% assign mpq_value = mympq | plus: 0 %}
                    {% assign remainder = line_item.variant.inventory_quantity | divided_by: mpq_value %}
                    {% assign max_allowed_quantity = remainder | times: mpq_value %}
                    {%- assign allow_more = true -%}
                    {%- if line_item.variant.inventory_policy == 'deny' and max_allowed_quantity == line_item.quantity -%}
                      {%- assign allow_more = false -%}
                    {%- endif -%}
                    <div class="w-full flex justify-between items-center mt-2 fb-md:mt-4">
                      <line-item-quantity class="flex w-2/5">
                        <div class="quantity-selector flex items-center border border-D3DEF1 rounded-sm">
                          {% if line_item.product.metafields.product.moq != blank and moq_value < line_item.quantity %}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: mpq_value }}&line={{ forloop.index }}" class="quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center text-main" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                {%- render 'icon' with 'minus' -%}
                            </a>
                          {% elsif line_item.product.metafields.product.moq == blank %}
                              <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | minus: 1 }}&line={{ forloop.index }}" class="quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center text-main" aria-label="{{ 'cart.general.decrease_quantity' | t | escape }}" data-no-instant>
                                  {%- render 'icon' with 'minus' -%}
                              </a>
                          {% elsif line_item.quantity== 1 %}
                            <a  
                              href="{{ line_item.url_to_remove }}"
                              data-no-instant  
                              class=" quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center   ">
                              <span class="text-main w-5 h-5 fb-max-sm:w-4 fb-max-sm:h-4">
                              {%- render 'icon' with 'delete' -%}
                              </span>
                            </a>
                          {% else %}
                              {% comment %} <span class="disabled-link quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center text-gray-300 cursor-not-allowed">
                                  {%- render 'icon' with 'minus' -%} 
                              </span> {% endcomment %}
                              <a  
                              href="{{ line_item.url_to_remove }}"
                              data-no-instant  
                              class=" quantity-selector__button w-7 fb-md:w-8 h-9 flex items-center justify-center   ">
                              <span class="text-main w-5 h-5 fb-max-sm:w-4 fb-max-sm:h-4">
                              {%- render 'icon' with 'delete' -%}
                              </span>
                            </a>
                          {% endif %}

                          <input 
                            is="line-input-number" 
                            class="quantity-selector__input px-0.5 w-8 fb-md:w-12 h-9 text-center text-14 text-121212 font-bold border-0 focus:ring-0 focus:outline-none fb-max-sm:text-12" 
                            autocomplete="off" type="text"
                            inputmode="numeric"
                            data-input-varid="{{ varid }}"
                            name="updates[]" data-line="{{ forloop.index }}"
                            value="{{ line_item.quantity }}"
                            data-moq="{% if line_item.product.metafields.product.moq != blank %}{{ line_item.product.metafields.product.moq }}{% else %}1{% endif %}"
                            data-mpq="{% if line_item.product.metafields.product.mpq != blank %}{{ line_item.product.metafields.product.mpq }}{% else %}1{% endif %}"
                            data-max="{% if line_item.product.selected_or_first_available_variant.inventory_policy == 'deny' %}{{ line_item.product.selected_or_first_available_variant.inventory_quantity }}{% endif %}"
                            min="1"
                            max="1000000"
                            size="{{ line_item.quantity | append: '' | size | at_least: 2 }}" 
                            aria-label="{{ 'cart.general.change_quantity' | t | escape }}"
                          >
                          
                          {%- if allow_more -%}
                            <a href="{{ routes.cart_change_url }}?quantity={{ line_item.quantity | plus: mpq_value }}&line={{ forloop.index }}" class="quantity-selector__button w-7 fb-max-sm:w-7 fb-md:w-8 h-9 flex items-center justify-center text-main" aria-label="{{ 'cart.general.increase_quantity' | t | escape }}" data-no-instant>
                              {%- render 'icon' with 'plus' -%}
                            </a>
                          {%- else -%}
                            <span class="quantity-selector__button w-7 fb-max-sm:w-7 fb-md:w-8 h-9 flex items-center justify-center text-gray-300 cursor-not-allowed" aria-label="{{ 'cart.general.no_more_stock' | t | escape }}" data-tooltip="{{ 'cart.general.no_more_stock' | t | escape }}">
                              {%- render 'icon' with 'plus' -%}
                            </span>
                          {%- endif -%}
                        </div>
                      </line-item-quantity>
                      <div class="w-3/5 flex justify-end  pl-1 items-center">
                        {% if line_item.variant.compare_at_price > line_item.variant.price %}
                            {% assign price = line_item.variant.price
                              | money_without_currency
                              | replace: ',', ''
                              | times: 1
                            %}
                            {% assign compare_at_price = line_item.variant.compare_at_price
                              | money_without_currency
                              | replace: ',', ''
                              | times: 1
                            %}
                            {% assign discount_difference = compare_at_price | minus: price %}
                            {% assign discount_percentage = discount_difference
                              | divided_by: compare_at_price
                              | times: 100
                              | ceil
                            %}
                            <div class="flex items-center justify-end flex-col text-xs pr-2">
                              <s class="text-999999 line-through font-medium">
                                {{- line_item.variant.compare_at_price | money -}}
                              </s>
                              <span class="text-F74747  ml-1 font-bold hidden">{{ discount_percentage }}% OFF</span>
                            </div>
                        {% endif %} 
                        <div class="text-20 text-main font-bold  flex justify-end ">
                          {% render 'format-price', price: line_item.final_line_price, text_size:'text-20' %} 
                        </div>
                      </div>
                    </div>
                    {%- if line_item.product.metafields.product.shipping_charge_policy !='0' -%}
                      <div class="text-xs fb-md:text-sm text-121212 font-middle mt-2 text-left w-full" >
                        Required special shipping at ${{line_item.product.metafields.product.shipping_charge_policy}} each.
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
          </line-item>
          {%- endfor -%}
        </form>
        {% comment %} <div class="hidden-mini-cart-price visually-hidden" data-original-price="{{ cart.original_total_price }}" data-computed-subtotal="{{ computed_subtotal }}"></div> {% endcomment %}
      </div>
    {%- endif -%}
  </div>
  {%- if cart.item_count != 0 -%}
  <footer class="js-drawer__footer w-full px-4 pb-5 pt-4  border-t border-E2E2E2">
    {% comment %} {%- if cart.cart_level_discount_applications != blank -%}
      <ul class="mini-cart__discount-list list--unstyled" role="list">
        {%- for discount_application in cart.cart_level_discount_applications -%}
          <li class="mini-cart__discount">
            <span class="mini-cart__discount-badge discount-badge">{%- render 'icon' with 'discount-badge' -%}{{ discount_application.title }}</span>
            <span class="mini-cart__discount-price text--xsmall text--subdued">-{{ discount_application.total_allocated_amount | money }}</span>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%} {% endcomment %}
    <div class="w-full flex items-center justify-between mb-0.5 hidden">
      <div class="text-121212 text-16 font-bold">
        Subtotal ({{ cart.item_count }} {% if cart.item_count == 1 %}item{% else %}items{% endif %}):
      </div>
      <div class="text-main text-22 font-bold">
        {{ cart.original_total_price | money }}
      </div>
    </div>
    {% assign total_savings = 0 %}
    {% for line_item in cart.items %}
      {% if line_item.variant.compare_at_price > line_item.variant.price %}
        {% assign item_savings = line_item.variant.compare_at_price | minus: line_item.variant.price | times: line_item.quantity %}
        {% assign total_savings = total_savings | plus: item_savings %}
      {% endif %}
    {% endfor %}
    {% if total_savings > 0 %}
    <div class="w-full flex items-center justify-between mb-0.5 hidden">
      <div class="text-F74747 text-14 font-bold">
        Savings
      </div>
      <div class="text-F74747 text-16 font-bold">
        -{{ total_savings | money }}
      </div>
    </div>
    {% endif %}
    <div class="text-14 text-666666 text-left mb-2 mt-2 hidden">
      {{ 'cart.general.shipping_tax_note' | t }}
    </div>
    {%- if cart.item_count != 0 -%}

    {%- assign has_special_shipping = false -%}
      {%- for line_item in cart.items -%}
        {%- if line_item.product.metafields.product.shipping_charge_policy !='0' -%}
          {%- assign has_special_shipping = true -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    <div class="{% if has_special_shipping %}hidden{% endif %}">
      <div class="free-add-num hidden">
        <p class="text-14 text-121212 add-item">Add <span class="font-bold number-add"></span> more for <span  class="font-bold" >FREE</span> shipping!</p>
        <p class="text-14 text-121212 flex items-center free-item">
          <span class="circle mr-1">
            <svg t="1759886138513" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5698" width="100%" height="100%"><path d="M155.644361 439.225533 376.468722 660.086733l486.86146-490.229161 95.379301 95.352695-585.574692 588.933183L65.289494 546.298154 155.644361 439.225533 155.644361 439.225533zM155.644361 439.225533" fill="#fff" p-id="5699"></path></svg>
          </span>  
          You earned <span class="color-33A956 font-bold pr-1 pl-1"> FREE </span> delivery!
        </p>
        <div class="free-line w-full">
          <div class="free-num"></div>
        </div>
      </div>
    </div>
 
    {%- if section.settings.show_checkout_button -%}
      {% if customer %}
        <button is="loader-button" form="mini-cart-form" type="submit" class="cart-checkout-button cart-button checkout-button w-full h-10 fb-flex-center bg-button text-main font-bold text-16 fb-md:text-14 fb-max-sm:text-14" name="checkout">
          Checkout out
        </button>
      {% else %}
        <div class="flex items-center justify-center">
          <a
          href="/account/login"
          class="cart-button  btn-50 cart-login  h-10 fb-flex-center bg-button text-main font-bold text-16 fb-md:text-14 fb-max-sm:text-14"
        >
          Sign in & Checkout
        </a>
        <button is="loader-button" form="mini-cart-form" type="submit" class="ml-4 cart-checkout-button cart-button cart-login-checkout btn-50 checkout-button  h-10 fb-flex-center bg-main text-white font-bold text-16 fb-md:text-14 fb-max-sm:text-14" name="checkout">
          Checkout as Guest
        </button>
        </div>
      {% endif %}
    {%- else -%}
      <a href="{{ routes.cart_url }}" class="w-full h-10 fb-flex-center bg-button text-main font-bold text-16 fb-md:text-14 fb-max-sm:text-14" data-no-instant>
          Checkout out
      </a>
    {%- endif -%}
  {%- endif -%}
  </footer>
{%- endif -%}
</cart-drawer>
<script>
$(function() {
    document.addEventListener('cart-rendered', function () {
      setTimeout(doSetDeliveryNum, 100);
      $('.quantity-selector__input').on('keydown', function(event) {
        if (event.key === 'Enter') {
          event.preventDefault(); 
        }
      });
      $('.cart-checkout-button').click(function(event) { 
        event.preventDefault();
        Cookies.set('remove-property', 'true');
        window.location.href = '/checkout?discount=0';
        {% comment %} getDiscount(); {% endcomment %}
      })
    });
    
    //  // 监听购物车更新事件，重新计算运费
    //  document.addEventListener('cart:refresh', function() {
    //   setTimeout(doSetDeliveryNum, 100);
    // });
    
    // // 监听行项目数量变更完成事件
    // document.addEventListener('line-item-quantity:change:end', function() {
    //   setTimeout(doSetDeliveryNum, 100);
    // });

    // // 监听购物车更新事件
    // document.addEventListener('cart:updated', function() {
    //   setTimeout(doSetDeliveryNum, 100);
    // });
async function getCartData() {
  try {
    const response = await fetch(window.Shopify.routes.root + 'cart.js', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
      }
    });
    const cartData = await response.json();
    return cartData;
  } catch (error) {
    console.error('Error fetching cart data:', error);
    return null;
  }
}

async function getShippingCost(cartData) { 
  const skus = [];
  
  // {% for line_item in cart.items %}
  //   skus.push({
  //     nums: +'{{ line_item.quantity }}',
  //     skuAmount: +('{{ line_item.original_price | money_without_currency  }}'.replace(/,/g, '')),
  //     skuCode: '{{ line_item.sku }}'
  //   });
  // {% endfor %}
  cartData.items.forEach(item => {
        skus.push({
          nums: item.quantity,
          skuAmount: item.original_price / 100, // Shopify价格以分为单位
          skuCode: item.sku
        });
      });
  if(skus.length == 0) return
  const orderAmount = +('{{ cart.total_price | money_without_currency }}'.replace(/,/g, ''));
  {% if customer.default_address.zip != blank %}
    const deliveryAddress = {
      city: "{{ customer.default_address.city }}",
      province: "{{ customer.default_address.province }}",
      street: "{{ customer.default_address.address1 }}",
      zipCode: "{{ customer.default_address.zip }}"
    };
  {% else %}
    const deliveryAddress = { 
      city: "Washington",
      province: "District of Columbia",
      street: "1600 Pennsylvania Avenue NW",
      zipCode: window.northsky.customerZipCode || "77380"
    };
  {% endif %}
  const sendAddress = {
    city: "Houston",
    province: "Texas",
    street: "2425 Broad St",
    zipCode: "77087"
  };
  const shippingParam = {
    deliveryAddress,
    sendAddress,
    orderAmount,
    skus
  }
  const response = await fetch(`${window.northsky.api}/openapi/costs`, {
    method: 'POST',
    body: JSON.stringify(shippingParam),
    headers:{
      'Content-Type':'application/json',
    }
  })
  const res = await response.json();
  if(res.code == 0) {
    return  {
      costs: res.data[0].costs,
      balanceFreeShipping: res.data[0].balanceFreeShipping
    }  
  } else {
    return {
      costs:0,
      balanceFreeShipping:0 
    }
  }
}

async function doSetDeliveryNum(){
  // 获取最新的购物车数据
  const cartData = await getCartData();
  try{
    const data = await getShippingCost(cartData)
    const balanceFreeShipping = data.balanceFreeShipping
    $('.free-add-num').removeClass('hidden')
    if(balanceFreeShipping==0){
      $('.free-add-num').find('.add-item').addClass('hidden')
      $('.free-add-num').find('.free-num').css('width','100%');
    }else{
      $('.free-add-num').find('.free-item').addClass('hidden')
      $('.free-add-num').find('.number-add').text(`$${balanceFreeShipping}`)
      $('.free-add-num').find('.free-num').css('width',`${(75-balanceFreeShipping)/75*100}%`);
    }
  }catch(error){
    console.log(error)
  }
 
}

doSetDeliveryNum()
  
})


</script>
{% schema %}
{
  "name": "Cart drawer",
  "class": "shopify-section--mini-cart",
  "settings": [
    {
      "type": "paragraph",
      "content": "Free shipping notice can be configured in global cart settings."
    },
    {
      "type": "checkbox",
      "id": "show_order_note",
      "label": "Show order note",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "Show checkout button",
      "default": true
    },
    {
      "type": "url",
      "id": "empty_button_link",
      "label": "Empty button link",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Cross-sell",
      "info": "Dynamic recommendations are based on the items in your cart. They change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)"
    },
    {
      "type": "checkbox",
      "id": "show_recommendations",
      "label": "Show cart recommendations",
      "default": true
    },
    {
      "type": "text",
      "id": "recommendations_title",
      "label": "Recommendations heading",
      "default": "You may also like"
    }
  ]
}
{% endschema %}