<div class="w-full max-w-80r mx-auto fb-sm:px-10 fb-md:px-5 fb-sm:mt-6">
  <div class="text-white py-4 px-5 relative" style="background: linear-gradient(90deg, #1353D5 0%, #0A2B6F 74.52%)">
    <div class="absolute left-[38%] bottom-0 z-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="108" height="62" viewBox="0 0 108 62" fill="none">
      <path d="M53.9937 0C24.1729 0 0 24.1916 0 54.0125C0 83.8334 24.1729 108 53.9937 108C83.8146 108 108 83.8271 108 54.0125C108 24.1978 83.8334 0 53.9937 0ZM77.4231 84.0146L53.9563 73.1558L30.4832 84.0146C27.9965 85.1704 25.4099 82.6276 26.5158 80.1222L53.9563 18.0437L81.3905 80.1222C82.4964 82.6276 79.9097 85.1704 77.4231 84.0146Z" fill="#0A2B6F" fill-opacity="0.3"/>
      </svg>
    </div>
    <div class="mx-auto flex items-center fb-md:justify-between flex-col fb-md:flex-row relative z-2 bg-transparent">
      <!-- Left Content -->
      <div class="w-full fb-md:w-auto fb-md:flex-1 text-white text-center fb-md:text-left ">
        <h2 class="text-16fb-md:text-20 font-bold mb-1">{{ section.settings.main_title }}</h2>
        <p class="text-10 fb-sm:text-14 hidden fb-md:block">{{ section.settings.main_description }}</p>
        <div class="text-10 fb-sm:text-14 fb-md:hidden">
          {{ section.settings.mob_main_description }}
        </div>
      </div>
     
      <!-- Middle Button -->
      <div class="mt-3 fb-md:mt-0 flex flex-col justify-end fb-md:flex-row">
        <div class="w-full fb-md:w-auto fb-md:mx-16 text-center">
          <a href="{{ section.settings.button_url }}" class="bg-button text-14 fb-md:text-16 w-50 fb-md:w-auto hover:bg-yellow-500 text-main font-semibold px-3 py-2 rounded-[43px] transition-colors duration-200 inline-block">
            <span class="fb-md:hidden">{{ section.settings.mob_button_text }}</span>
            <span class="hidden fb-md:inline">{{ section.settings.button_text }}</span>
          </a>
        </div>
      
        <!-- Right Rating Information -->
        <div class="flex items-center justify-center fb-md:justify-start space-x-8 mt-4 fb-md:mt-0">
          <!-- Google Rating -->
          <div class="flex space-x-0.5 fb-md:space-x-2">
            <div class="flex items-center">
              <svg class="w-6 h-6 fb-md:w-10 fb-md:h-10" viewBox="0 0 24 24">
                <path fill="#4285F4" d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z"/>
                <path fill="#34A853" d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z"/>
                <path fill="#FBBC05" d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z"/>
                <path fill="#EA4335" d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z"/>
              </svg>
            </div>
            <div class="flex flex-col justify-start items-start mt-0.5 fb-md:mt-1.5">
              <span class="text-10 fb-md:text-12 font-bold">{{ section.settings.google_label }}</span>
              <div class="flex justify-start items-center">
                <span class="text-12 fb-md:text-14 font-bold text-button mr-1">{{ section.settings.google_rating }}</span>
                {% for i in (1..5) %}
                  <svg class="w-2.5 h-2.5 fb-md:w-4 fb-md:h-4 text-yellow-400 fill-current" viewBox="0 0 20 20">
                    <path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z"/>
                  </svg>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- Trustpilot Rating -->
          <div class="flex flex-col">
            <div class="flex fb-md:ml-1 space-x-1">
              {% for i in (1..5) %}
                {% if i <= 4 %}
                  <!-- 完整的绿色星星 -->
                  <div class="bg-[#219653] w-3 h-3 fb-md:w-5 fb-md:h-5 fb-flex-center">
                    <svg class="w-2 h-2 fb-md:w-4 fb-md:h-4" width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 7.62579L7.67262 7.04402L8.58036 10L5.5 7.62579ZM10.5 3.80503H6.67559L5.5 0L4.32441 3.80503H0.5L3.59524 6.16352L2.41964 9.96855L5.51488 7.61006L7.41964 6.16352L10.5 3.80503Z" fill="white"/>
                    </svg>
                  </div>
                {% elsif i == 5 %}
                  <div class="relative w-3 h-3 fb-md:w-5 fb-md:h-5 fb-flex-center" style="background: linear-gradient(to right, #219653 60%, #9CA3AF 60%)">
                    <svg class="w-2 h-2 fb-md:w-4 fb-md:h-4" width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 7.62579L7.67262 7.04402L8.58036 10L5.5 7.62579ZM10.5 3.80503H6.67559L5.5 0L4.32441 3.80503H0.5L3.59524 6.16352L2.41964 9.96855L5.51488 7.61006L7.41964 6.16352L10.5 3.80503Z" fill="white"/>
                    </svg>
                  </div>
                {% comment %} {% else %}
                  <!-- 灰色星星 -->
                  <div class="bg-[#9CA3AF] w-3 h-3 fb-md:w-5 fb-md:h-5 fb-flex-center">
                    <svg class="w-2 h-2 fb-md:w-4 fb-md:h-4" width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 7.62579L7.67262 7.04402L8.58036 10L5.5 7.62579ZM10.5 3.80503H6.67559L5.5 0L4.32441 3.80503H0.5L3.59524 6.16352L2.41964 9.96855L5.51488 7.61006L7.41964 6.16352L10.5 3.80503Z" fill="white"/>
                    </svg>
                  </div> {% endcomment %}
                {% endif %}
              {% endfor %}
            </div>
            <div class="flex items-center text-white mt-0.5 fb-md:mt-2">
              <p class="text-10 fb-md:text-12">
                Rated <strong>Excellent</strong> on
              </p>
              <svg class="w-3 h-3 fb-md:w-4 fb-md:h-4" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.49639 7.90384L7.88471 7.30087L8.88257 10.3646L5.49639 7.90384ZM10.9928 3.94377H6.7887L5.49639 0L4.20409 3.94377H0L3.40253 6.38826L2.11022 10.332L5.51275 7.88755L7.60661 6.38826L10.9928 3.94377Z" fill="#219653"/>
              </svg>
              <span class="text-10 fb-md:text-12 font-bold">Trustpilot</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rating Banner",
  "settings": [
    {
      "type": "header",
      "content": "Main Content"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "Buying in bulk? We offer discounts!"
    },
    {
      "type": "text",
      "id": "main_description",
      "label": "Description Text",
      "default": "Contact us for large-scale solutions and special pricing."
    },
    {
      "type": "richtext",
      "id": "mob_main_description",
      "label": "Mob Description Text",
      "default": "<p>For enterprise-level solutions and special pricing,<\/br> request a custom quote.<\/p>"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Request a Quote"
    },
    {
      "type": "text",
      "id": "mob_button_text",
      "label": "Mobile Button Text",  
      "default": "Quote"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "header",
      "content": "Google Rating"
    },
    {
      "type": "text",
      "id": "google_label",
      "label": "Google Label",
      "default": "Google Top Quality Store"
    },
    {
      "type": "text",
      "id": "google_rating",
      "label": "Google Rating",
      "default": "4.5"
    },
    {
      "type": "text",
      "id": "google_reviews",
      "label": "Google Reviews Count",
      "default": "145"
    },
    {
      "type": "header",
      "content": "Trustpilot Rating"
    },
    {
      "type": "text",
      "id": "trustpilot_label",
      "label": "Trustpilot Label",
      "default": "Trustpilot Rated Excellent"
    },
    {
      "type": "text",
      "id": "trustpilot_rating",
      "label": "Trustpilot Rating",
      "default": "4.5"
    },
    {
      "type": "text",
      "id": "trustpilot_reviews",
      "label": "Trustpilot Reviews Count",
      "default": "163"
    }
  ],
  "presets": [
    {
      "name": "nk-rating-banner"
    }
  ]
}
{% endschema %}