{{ 'product-feature-imgs.css' | asset_url | stylesheet_tag }}
{% assign imgsArr = product.metafields.product.pdp.value %}
{%- assign imgs_html = false -%}
{%- assign media_html = false -%}
{%- if imgsArr and imgsArr.size>0 -%}
  {%- assign imgs_html = true -%}
{%- endif -%}
{%- for media in product.media -%}
{% case media.media_type %}
  {%- when 'video' -%}
    {%- assign media_html = true -%}
  {% endcase %}
{% endfor %}
{% if imgs_html or media_html %}
  <div class="container js-highlights-section section-anchor-target" id="js-highlights-section">
    <div id="feature-imgs" class="feature-imgs bg-white fb-sm:border rounded-sm fb-sm:border-D3DEF1 px-3 py-2.5 fb-sm:px-5 fb-sm:py-5 mb-4.5 fb-sm:mb-6">
      <p class="text-main text-12 fb-sm:text-18 font-bold">
        Product  Highlights
      </p>
      {% for item in imgsArr %}
        {%- assign is_hase_media = ''  -%}
        {%- if item.imageData.imageOne.contentType contains 'image' or  item.imageData.imageOne.contentType contains 'video' -%}
          {%- assign is_hase_media = 'min-h-media'  -%}
        {%- endif -%}
        {% if item.templateType == 0 or item.templateType == 1 %}
          <div class="feature-imgs-item type-01 {{ is_hase_media }}">
            {% if item.imageData.imageOne.contentType contains 'image' %}
              <div class="img-wrapper">
                <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
              </div>
            {% elsif item.imageData.imageOne.contentType contains 'video' %}
              <div class="video-wrapper">
                <video class="aspect-375/210 max-h-37r" controls muted src="{{ item.imageData.imageOne.objectUrl }}" alt="{{ item.imageData.altTagOne }}"></video>
              </div>
            {% endif %}
          </div>
        {% elsif item.templateType == 2 or item.templateType == 3 %}
          <div class="feature-imgs-item type-23 bgColorType{{ item.bgColorType }} {% if item.flag %}flag{% endif %} {{ is_hase_media }}">
            <div class="img-text-wrapper">
              <div class="text-container">
                <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
                <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
              </div>
            </div>
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
            </div>
          </div>
        {% elsif item.templateType == 4 %}
          <div class="feature-imgs-item type-45 bgColorType{{ item.bgColorType }} {{ is_hase_media }}">
            <div class="img-text-wrapper">
              <div class="text-container">
                <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
                <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
              </div>
              <div class="img-wrapper hidden-phone">
                <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
              </div>
            </div>
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageTwo.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagTwo }}">
              <img class="lazyload hidden-tablet-and-up" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
            </div>
          </div>
        {% elsif item.templateType == 5 %}
          <div class="feature-imgs-item type-45 bgColorType{{ item.bgColorType }} {% if item.flag %}flag{% endif %} {{ is_hase_media }}">
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
              <img class="lazyload hidden-tablet-and-up" data-src="{{ item.imageData.imageTwo.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagTwo }}">
            </div>
            <div class="img-text-wrapper">
              <div class="text-container">
                <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
                <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
              </div>
              <div class="img-wrapper hidden-phone">
                <img class="lazyload" data-src="{{ item.imageData.imageTwo.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagTwo }}">
              </div>
            </div>
          </div>
        {% elsif item.templateType == 6 %}
          <div class="feature-imgs-item type-6 bgColorType{{ item.bgColorType }} {{ is_hase_media }}">
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
            </div>
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageTwo.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagTwo }}">
            </div>
          </div>
        {% elsif item.templateType == 7 or item.templateType == 8 %}
          <div class="feature-imgs-item type-78 bgColorType{{ item.bgColorType }} {% if item.flag %}flag{% endif %} {{ is_hase_media }}">
            <div class="img-text-wrapper">
              <div class="text-container">
                <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
                <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
              </div>
              <div class="img-wrapper">
                <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
              </div>
            </div>
            <div class="img-text-wrapper">
              <div class="text-container">
                <h2 class="text-title">{{ item.imageData.featureTitleTwo }}</h2>
                <div class="text-desc">{{ item.imageData.featureDescTwo | replace: '&nbsp;', ' ' }}</div>
              </div>
              <div class="img-wrapper">
                <img class="lazyload" data-src="{{ item.imageData.imageTwo.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagTwo }}">
              </div>
            </div>
          </div>
        {% elsif item.templateType == 9 %}
          <div class="feature-imgs-item type-9 bgColorType{{ item.bgColorType }} {{ is_hase_media }}">
            <div class="text-container">
              <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
              <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
            </div>
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne }}">
            </div>
          </div>
        {% elsif item.templateType == 10 %}
          <div class="feature-imgs-item2 type-10 bgColorType{{ item.bgColorType }} js-customer-table {{ is_hase_media }}">
            <div class="img-text-wrapper">
              <div class="text-container">
                <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
                {% if item.imageData.featureDescOne != blank %}
                  <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
                {% endif %}
              </div>
            </div>
            <div class="table-wrapper-common">
              <table>
                <thead>
                  <tr>
                    {% for header in item.imageData.headerColumns %}
                      <th>{{ header.label }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in item.imageData.tableData %}
                    <tr>
                      {% for header in item.imageData.headerColumns %}
                        {% assign key = header.value %}
                        <td>
                          {% if row[key].objectUrl %}
                            <img class="lazyload" data-src="{{ row[key].objectUrl }}" width="auto" height="auto" alt="{{ row[key].objectName | default: '' }}">
                          {% else %}
                            {{ row[key] }}
                          {% endif %}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% elsif item.templateType == 11 %}
          <div class="feature-imgs-item2 type-11 js-customer-table bgColorType{{ item.bgColorType }} {{ is_hase_media }}">
            <div class="img-text-wrapper">
              <div class="text-container">
                <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
                {% if item.imageData.featureDescOne != blank %}
                  <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
                {% endif %}
              </div>
            </div>
            {% if item.imageData.imageOne.objectUrl %}
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne | default: '' }}">
            </div>
            {% endif %}
            <div class="table-wrapper-common">
              <table>
                <thead>
                  <tr>
                    {% for header in item.imageData.headerColumns %}
                      <th>{{ header.label }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in item.imageData.tableData %}
                    <tr>
                      {% for header in item.imageData.headerColumns %}
                        {% assign key = header.value %}
                        <td>
                          {% if row[key].objectUrl %}
                            <img class="lazyload" data-src="{{ row[key].objectUrl }}" width="auto" height="auto" alt="{{ row[key].objectName | default: '' }}">
                          {% else %}
                            {{ row[key] }}
                          {% endif %}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% elsif item.templateType == 12 %}
          {% capture dom_title %}
            <div class="text-container">
              <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
              {% if item.imageData.featureDescOne != blank %}
                <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
              {% endif %}
            </div>
          {% endcapture %}
          <div class="feature-imgs-item2 type-12 bgColorType{{ item.bgColorType }} {{ is_hase_media }}">
            <div class="img-text-wrapper mob-img-text-wrapper">
              {{ dom_title }}
            </div>
            {% if item.imageData.imageOne.objectUrl %}
            <div class="img-wrapper">
              <img class="lazyload" data-src="{{ item.imageData.imageOne.objectUrl }}" width="100%" height="auto" alt="{{ item.imageData.altTagOne | default: '' }}">
            </div>
            {% endif %}
            <div class="table-right-wrapper js-customer-table">
              <div class="img-text-wrapper">
                {{ dom_title }}
              </div>
              <div class="table-wrapper-common">
                <table>
                  <thead>
                    <tr>
                      {% for header in item.imageData.headerColumns %}
                        <th>{{ header.label }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in item.imageData.tableData %}
                      <tr>
                        {% for header in item.imageData.headerColumns %}
                          {% assign key = header.value %}
                          <td>
                            {% if row[key].objectUrl %}
                              <img class="lazyload" data-src="{{ row[key].objectUrl }}" width="auto" height="auto" alt="{{ row[key].objectName | default: '' }}">
                            {% else %}
                              {{ row[key] }}
                            {% endif %}
                          </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {%- for media in product.media -%}
        {% case media.media_type %}
          {%- when 'video' -%}
            <div class="w-full">
              <h2 class="flex justify-center mb-5 md:mb-5">
                <span class="text-base md:text-32 font-bold leading-normal text-[#0B2C66] inline-flex pb-2.5 border-b-4 border-[#F4BF18]">Video Showcase</span>
              </h2>
              <native-video
                class="video-wrapper video-wrapper--native aspect-375/210  fb-sm:min-h-37r"
              >
                {%- unless section.settings.enable_video_autoplay -%}
                  <div class="video-wrapper__poster">
                    <img
                      width="auto"
                      height="auto"
                      class="video-wrapper__poster-image"
                      loading="lazy"
                      sizes="(max-width: 999px) calc(100vw - 48px), 640px"
                      {% render 'image-attributes',
                        image: media.preview_image,
                        sizes: '400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200'
                      %}
                    >
                    <div class="video-wrapper__poster-content">
                      <button
                        type="button"
                        class="video-wrapper__play-button"
                        title="{{ 'general.accessibility.play_video' | t | escape }}"
                      >
                        {%- render 'icon' with 'play', class: 'w-9 h-9 md:w-[72px] md:h-[72px]' -%}
                      </button>
                    </div>
                  </div>
                {%- endunless -%}
      
                <template>
                  {{-
                    media
                    | video_tag:
                      image_size: '1024x',
                      controls: true,
                      autoplay: true,
                      class: 'fb-sm:max-h-37r',
                      muted: section.settings.enable_video_autoplay,
                      loop: section.settings.enable_video_looping
                  -}}
                </template>
              </native-video>
            </div>
          {% endcase %}
      {% endfor %}
    </div>
  </div>
{% endif %}


{% schema %}
{
  "name": "Product Feature Imgs",
  "class": "feature-imgs-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Details"
    }
  ],
  "presets": [
    {
      "name": "Product Feature Imgs"
    }
  ]
}
{% endschema %}