{{ 'product-feature-imgs.css' | asset_url | stylesheet_tag }}

<div id="feature-imgs" class="feature-imgs">
  {% assign imgsArr = product.metafields.product.pdp.value %}
  {% if imgsArr.size > 0 %}
    {% for item in imgsArr %}
      {% if item.templateType == 0 or item.templateType == 1 %}
        <div class="feature-imgs-item type-01">
          {% if item.imageData.imageOne.contentType contains 'image' %}
            <div class="img-wrapper">
              <img src="{{ item.imageData.imageOne.objectUrl }}">
            </div>
          {% elsif item.imageData.imageOne.contentType contains 'video' %}
            <div class="video-wrapper">
              <video controls muted src="{{ item.imageData.imageOne.objectUrl }}"></video>
            </div>
          {% endif %}
        </div>
      {% elsif item.templateType == 2 or item.templateType == 3 %}
        <div class="feature-imgs-item type-23 bgColorType{{ item.bgColorType }} {% if item.flag %}flag{% endif %}">
          <div class="img-text-wrapper">
            <div class="text-container">
              <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
              <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
            </div>
          </div>
          <div class="img-wrapper">
            <img src="{{ item.imageData.imageOne.objectUrl }}">
          </div>
        </div>
      {% elsif item.templateType == 4 %}
        <div class="feature-imgs-item type-45 bgColorType{{ item.bgColorType }}">
          <div class="img-text-wrapper">
            <div class="text-container">
              <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
              <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
            </div>
            <div class="img-wrapper hidden-phone">
              <img src="{{ item.imageData.imageOne.objectUrl }}">
            </div>
          </div>
          <div class="img-wrapper">
            <img src="{{ item.imageData.imageTwo.objectUrl }}">
            <img class="hidden-tablet-and-up" src="{{ item.imageData.imageOne.objectUrl }}">
          </div>
        </div>
      {% elsif item.templateType == 5 %}
        <div class="feature-imgs-item type-45 bgColorType{{ item.bgColorType }} {% if item.flag %}flag{% endif %}">
          <div class="img-wrapper">
            <img src="{{ item.imageData.imageOne.objectUrl }}">
            <img class="hidden-tablet-and-up" src="{{ item.imageData.imageTwo.objectUrl }}">
          </div>
          <div class="img-text-wrapper">
            <div class="text-container">
              <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
              <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
            </div>
            <div class="img-wrapper hidden-phone">
              <img src="{{ item.imageData.imageTwo.objectUrl }}">
            </div>
          </div>
        </div>
      {% elsif item.templateType == 6 %}
        <div class="feature-imgs-item type-6 bgColorType{{ item.bgColorType }}">
          <div class="img-wrapper">
            <img src="{{ item.imageData.imageOne.objectUrl }}">
          </div>
          <div class="img-wrapper">
            <img src="{{ item.imageData.imageTwo.objectUrl }}">
          </div>
        </div>
      {% elsif item.templateType == 7 or item.templateType == 8 %}
        <div class="feature-imgs-item type-78 bgColorType{{ item.bgColorType }} {% if item.flag %}flag{% endif %}">
          <div class="img-text-wrapper">
            <div class="text-container">
              <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
              <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
            </div>
            <div class="img-wrapper">
              <img src="{{ item.imageData.imageOne.objectUrl }}">
            </div>
          </div>
          <div class="img-text-wrapper">
            <div class="text-container">
              <h2 class="text-title">{{ item.imageData.featureTitleTwo }}</h2>
              <div class="text-desc">{{ item.imageData.featureDescTwo | replace: '&nbsp;', ' ' }}</div>
            </div>
            <div class="img-wrapper">
              <img src="{{ item.imageData.imageTwo.objectUrl }}">
            </div>
          </div>
        </div>
      {% elsif item.templateType == 9 %}
        <div class="feature-imgs-item type-9 bgColorType{{ item.bgColorType }}">
          <div class="text-container">
            <h2 class="text-title">{{ item.imageData.featureTitleOne }}</h2>
            <div class="text-desc">{{ item.imageData.featureDescOne | replace: '&nbsp;', ' ' }}</div>
          </div>
          <div class="img-wrapper">
            <img src="{{ item.imageData.imageOne.objectUrl }}">
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    try {
      var imgsArr = {{ product.metafields.product.pdp.value | json }}
      if (imgsArr && Array.isArray(imgsArr) && imgsArr.length > 0) {
        document.querySelector(".product-anchor [data-target-id='feature-imgs-wrapper']").style.display = 'block';
        document.querySelector('.product-anchor-sticky-wrapper').style.display = 'block';
      } else {
        document.querySelector('.feature-imgs-wrapper').style.display = 'none';
        document.querySelector('.feature-imgs-wrapper').setAttribute('data-hide', 'true');
        document.querySelector(".product-anchor [data-target-id='feature-imgs-wrapper']").style.display = 'none';
        document.querySelector(".product-anchor [data-target-id='feature-imgs-wrapper']").setAttribute('data-hide', 'true');
        
        if (document.querySelectorAll(".product-anchor [data-hide='true']").length == 2) {
          document.querySelector('.product-anchor-sticky-wrapper').style.display = 'none';
        }
      }
    } catch (error) {
      console.error('Error initializing feature images:', error);
    }
  });
</script>

{% schema %}
{
  "name": "Product Feature Imgs",
  "class": "container feature-imgs-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Details"
    }
  ],
  "presets": [
    {
      "name": "Product Feature Imgs"
    }
  ]
}
{% endschema %}