{{ 'index-product-item.css' | asset_url | stylesheet_tag }}

<style>
  .swiper-button-prev,
  .swiper-button-next {
    pointer-events: auto !important; /* 确保可以点击 */
    user-select: none !important;    /* 防止文本选中 */
    cursor: pointer !important;
  }
</style>
<recently-viewed-products
  section-id="{{ section.id }}"
  data-customer="{{ customer.id }}"
  products-count="10"
  {% if request.page_type == 'product' %}
    exclude-product-id="{{ product.id | escape }}"
  {% endif %}
  class="product-x-hidde"
>
  {%- if request.page_type == 'search' and search.performed and search.results_count > 0 -%}
    <div class="{{ section.id }} recently-viewed">
      <div class="container cl-container hover-cl-container">
        <div class="index-cus-header  w-full flex items-center justify-between pb-6 gap-5">
          <h2 class="text-20 fb-md:text-30 font-bold text-121212">{{ section.settings.title }}</h2>
          {% comment %} {% render 'swiper-buttons' %} {% endcomment %}
        </div>
        <div class="IndexBestswiper hover-list">
          <div class="swiper {{ section.id }}-IndexBestswiper">
            <div class="swiper-wrapper">
              {%- assign parsed_terms = search.terms | split: ' OR ' -%}
              {%- for parsed_term in parsed_terms -%}
                {%- assign id = parsed_term | split: 'id:' | last | times: 1 -%}
                {%- for product in search.results -%}
                  {%- if product.id == id -%}
                    <div class="swiper-slide">
                      {% comment %} {%- render 'index-product-item', product: product -%} {% endcomment %}
                      {%- render 'viewed-item-product', product: product , show_cart_button:false  -%} 
                    </div>
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            </div>
          </div>
          {% comment %} <div class="swiper-scrollbar mt-4 fb-sm:mt-6 hidden"></div> {% endcomment %}
          <div class="mt-4 fb-sm:mt-6 flex items-center justify-between fb-md:space-x-10 relative z-1 ">
            <div class="swiper-scrollbar !static flex w-full fb-md:flex-1"></div>
            <div class="swiper-btns items-center justify-end  flex">
              <div tabIndex="-1" role="button"   aria-label="Previous" class="swiper-button-prev !w-8 !h-8 hover:bg-EEEEEE cursor-pointer fb-sm:!w-10 swiper-button-disabled fb-max-sm:!w-5 fb-max-sm:!h-5">
                <svg style="transform: scale(-1);" xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
                  <path d="M5.19488 7.13238L0 1.80606L1.77846 0L10 8.3677L1.82562 16.9602C1.75344 17.0257 1.70917 16.9993 1.63507 16.9602C1.21451 16.7403 0.46675 15.6095 0 15.2929L5.29112 9.67338L6.36352 8.50012L5.19488 7.13238Z" fill="#0A2B6F"></path>
                </svg>
              </div>
              <div tabIndex="-1" role="button"  aria-label="Next"  class="swiper-button-next !w-8 !h-8 hover:bg-EEEEEE cursor-pointer fb-sm:!w-10 fb-max-sm:!w-5 fb-max-sm:!h-5" >
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="17" viewBox="0 0 10 17" fill="none">
                  <path d="M5.19488 7.13238L0 1.80606L1.77846 0L10 8.3677L1.82562 16.9602C1.75344 17.0257 1.70917 16.9993 1.63507 16.9602C1.21451 16.7403 0.46675 15.6095 0 15.2929L5.29112 9.67338L6.36352 8.50012L5.19488 7.13238Z" fill="#0A2B6F"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</recently-viewed-products>

{% schema %}
{
  "name": "Recently viewed products",
  "class": "shopify-section--recently-viewed-products section-gap section-padding product-swiper-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Recently Viewed"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection"
    },
    {
      "type": "paragraph",
      "content": "If there is no browsing history, it will be collected by default. If there is, the browsing history will be displayed."
    }
  ],
  "presets": [
    {
      "name": "Recently viewed products"
    }
  ]
}
{% endschema %}
