
{% style %}
  {% for block in section.blocks %}
    .{{ block.id }}.hero-bg {
      background-image: url('{{ block.settings.bg_img | image_url }}');
    }
  {% endfor %}
  @media screen and (max-width: 740px) {
    {% for block in section.blocks %}
      .{{ block.id }}.hero-bg {
        background-image: url('{{ block.settings.h5_bg_img | image_url }}');
      }
    {% endfor %}
  }
{% endstyle %}
<style>
  .swiper-banner-list {
    line-height: 1.5;
  }
  .swiper-banner-list .hero-title {
    margin-top: 10px;
    font-weight: 400;
    font-size: 32px;
    color: #fff;
  }
  .swiper-banner-list .hero-text {
    margin-top: 24px;
    font-size: 24px;
    color: #fff;
  }
  .swiper-banner-list .hero-tip {
    color: #FABE00;
    margin-top: 2px;
    font-weight: 500;
    font-size: 32px;
  }
  .swiper-banner-list .hero-tip em {
    vertical-align: super;
    font-style: normal; 
    font-size: 18px;
    font-weight: 900;
  }
  .swiper-banner-list .hero-tip strong {
    font-weight: 900;
  }
  .swiper-banner-list .swiper-scrollbar {
    position: static;
    display: flex;
    width: 100%;
  }
  .swiper-banner-list .hero-bg {
    display: block;
    position: relative;
    height: 420px;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swiper-banner-list .bg-overlay {
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.4;
    width: 100%;
    height: 100%;
  }

  .swiper-banner-list .content-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px;
    justify-content: flex-end;
    align-items: center;
  }

  .swiper-banner-list .hero-btn {
    margin-top: 24px;
    transition: all;
    border: 1px solid #FABE00;
    color: #FABE00;
    font-weight: bold;
    border-radius: 2px;
    display: inline-flex;
    width: 220px;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all .3s;
  }

  @media screen and (min-width: 741px) {
    .swiper-banner-list .hero-btn:hover {
      background-color: #FABE00;
      color: #142A6B;
    }
  }
  @media screen and (max-width: 740px) {
    .zkh-swiper-banner {
      overflow: hidden;
    }
    .zkh-swiper-banner .swiper {
      overflow: unset;
    }
    .swiper-banner-list .content-wrapper {
      padding: 20px;
    }
    .swiper-banner-list .hero-bg {
      aspect-ratio: 335 / 180;
      height: auto;
    }
    .swiper-banner-list .hero-text {
      font-size: 12px;
    }
    .swiper-banner-list .hero-title,
    .swiper-banner-list .hero-tip,
    .swiper-banner-list .hero-btn {
      font-size: 14px;
    }
    .swiper-banner-list .hero-btn {
      width: 154px;
      height: 32px;
      font-size: 14px;
    }
    .swiper-banner-list img {
      width: 100px;
    }
    .swiper-banner-list .hero-title {
      margin-top: 8px;
    }
    .swiper-banner-list .hero-tip em {
      font-size: 12px;
    }
    .swiper-banner-list .hero-btn,
    .swiper-banner-list .hero-text {
      margin-top: 14px;
    }
  }
</style>
<div class="container {{ section.id }}">
  <div class="swiper-banner-list">
      <div class="swiper">
          <div class="swiper-wrapper">
            {% for block in section.blocks %}
            <div class="swiper-slide">
              <a href="{{ block.settings.btn_url }}" class="{{ block.id }} hero-bg">
                <div class="bg-overlay"></div>
                <div class="content-wrapper">
                  <div class="content">
                    <img data-src="{{ block.settings.brand_img | image_url }}" class="js-lazy-image" width="auto" height="auto" />
                    <h2 class="hero-title">{{ block.settings.title }}</h2>
                    <div class="hero-text">{{ block.settings.text }}</div>
                    <div class="hero-tip">{{ block.settings.tip }}</div>
                    <div class="hero-btn">{{ block.settings.btn_text }}</div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
      </div>
      <div class="swiper-scrollbar"></div>
  </div>
</div>
<script>
  (() => {
    new Swiper(".{{ section.id }} .swiper", {
      touchStartPreventDefault: true,
      passiveListeners: false,
      touchAngle: 70,              
      threshold: 10,
      spaceBetween: 12,
      autoplay: {
        delay: 6000,
        disableOnInteraction: false,
      },
      loop: true,
      scrollbar: {
        el:".{{ section.id }} .swiper-scrollbar"
      },
    });
  })();
</script>
{% schema %}
  {
    "name": "Zkh Swiper Banner 4",
    "class": "section-gap zkh-swiper-banner",
    "blocks": [
      {
        "name": "block",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Bg Img"
          },
          {
            "type": "image_picker",
            "id": "h5_bg_img",
            "label": "H5 Bg Img"
          },
          {
            "type": "image_picker",
            "id": "brand_img",
            "label": "Brand Img"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "richtext",
            "id": "tip",
            "label": "Tip"
          },
          {
            "type": "text",
            "id": "btn_text",
            "label": "Btn Text"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Btn URL"
          }
        ]
      }
    ],
    "presets": [
      
      {
        "name": "Zkh Swiper Banner 4"
      }
    ]
  }
  {% endschema %}