<!doctype html>

  {%- assign direction = 'ltr' -%}
  {%- case request.locale.iso_code -%}
    {%- when 'ar', 'arc', 'dv', 'fa', 'ha', 'he', 'kwh', 'ks', 'ku', 'ps', 'ur', 'yi' -%}
      {%- assign direction = 'rtl' -%}
  {%- endcase -%}
  
  <html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
    <head>
      <meta charset="utf-8">
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0"
      >
      <meta name="theme-color" content="{{ settings.header_background }}">
      <title>
        {% if page_title == blank -%}
          {{- shop.name -}}
        {%- else -%}
          {{- page_title -}}
          {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
        {%- endif %}
      </title>
      {%- assign is_test_shop = shop.name == 'TestHitpros' -%}
      {%- if shop.name != 'TestHitpros' -%}
        {%- assign is_online_shop = true -%}
        {%- assign gtm_id = 'GTM-M7M24J6J' -%}
        <script src="https://js.sentry-cdn.com/d1fe70ce6417e6c4f1a0a83c72a5287e.min.js" crossorigin="anonymous"></script>
      {%- else -%}
        {%- assign is_online_shop = false -%}
        {%- assign gtm_id = 'GTM-MTQZMJCM' -%}
      {%- endif -%}
      {% if settings.open_convert  and settings.convert_codes %}
          <script type="text/javascript" src="//cdn-4.convertexperiments.com/v1/js/{{- settings.convert_codes -}}.js?environment=production"></script>
      {%  endif %}
      {%- if page_description -%}
        <meta name="description" content="{{ page_description | escape }}">
      {%- endif -%}
  
      <link rel="canonical" href="{{ canonical_url }}">
      {%- if settings.favicon -%}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
      {%- endif -%}
  
      <script>
        window.zkh = {
          api: {%- if shop.name == 'TestHitpros' -%}'https://doc-shop-uat.northskysupply.com/web'{%- else -%}'https://doc-sp.northskysupply.com/web'{%- endif -%},
          pixi_url: {%- if shop.name == 'TestHitpros' -%}'https://pixi-forge.astrl.link/pdf/view/cm06akk9w00t0umfav1ovty8a/cm06aleng004wgt6jefp60ntq'{%- else -%}'https://pixi.storetools.io/api/pdf/clrh58bin00qamc07qcfwpkvs/clrh59cmq00qemc07xzzvb1nt'{%- endif -%},
          pixi_net_url: {%- if shop.name == 'TestHitpros' -%}'https://pixi-forge.astrl.link/pdf/view/cm06akk9w00t0umfav1ovty8a/cm8r364zh006hwqnum5pwobnn'{%- else -%}'https://pixi-forge.astrl.link/pdf/view/clrh58bin00qamc07qcfwpkvs/cm8r6vfpd006lwqnuqowy0ymy'{%- endif -%},
          b2b_url: {%- if shop.name == 'TestHitpros' -%}'https://shopify.com/87140565299/account'{%- else -%}'https://shopify.com/62373298359/account'{%- endif -%},
          customerId: {%- if customer.id -%}'{{ customer.id }}'{%- else -%}null{%- endif -%},
          customerEmail: {%- if customer.email -%}'{{ customer.email }}'{%- else -%}null{%- endif -%},
        }
      </script>
      {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
      <link rel="preconnect" href="https://cdn.shopify.com">
      <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
      <link rel="dns-prefetch" href="https://www.google-analytics.com">
  
      {%- unless settings.heading_font.system? and settings.text_font.system? -%}
        <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {%- endunless -%}
  
      {%- comment -%}Preload important resources{%- endcomment -%}
      {% if template == 'collection' %}
        <link rel="preload" as="script" href="{{ 'jquery.min.js' | asset_url }}">
        <link rel="preload" as="script" href="{{ 'js-cookie.js' | asset_url }}">
        <link rel="preload" as="script" href="{{ 'vue.js' | asset_url }}">
        <link rel="preload" as="script" href="{{ 'element-collection.js' | asset_url }}">
      {% else %}
          <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
          <link rel="preload" as="style" href="{{ 'global.min.css' | asset_url }}">
          <link rel="preload" as="style" href="{{ 'theme-v3.css' | asset_url }}">
          <link rel="preload" as="style" href="{{ 'el-reset.css' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'vendor.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'jquery.min.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'js-cookie.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'swiper.min.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'vue.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'element.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'element-ui-locale.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'zip-code.js' | asset_url }}">
          <link rel="preload" as="script" href="{{ 'lib-phone.js' | asset_url }}">
      {% endif %}
  
      {%- if request.page_type == 'product' -%}
        {%- assign selected_media = product.selected_variant.featured_media | default: product.featured_media -%}
  
        <link rel="preload" as="fetch" href="{{ product.url }}.js" crossorigin>
        <link
          rel="preload"
          as="image"
          imagesizes="(max-width: 999px) calc(100vw - 48px), 640px"
          imagesrcset="{% render 'image-attributes', image: selected_media, sizes: '400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800', sizes_only: true %}"
        >
  
        {%- if product.media.size > 1 -%}
          <link rel="preload" as="script" href="{{ 'flickity.js' | asset_url }}">
        {%- endif -%}
      {%- elsif request.page_type == 'collection' and collection.image -%}
        <link
          rel="preload"
          as="image"
          media="(max-width: 740px)"
          imagesizes="100vw"
          imagesrcset="{% render 'image-attributes', image: collection.image, sizes: '400,500,600,700,800,900,1000', height_constraint: 600, crop: 'center', sizes_only: true %}"
        >
        <link
          rel="preload"
          as="image"
          media="(min-width: 741px)"
          imagesizes="100vw"
          imagesrcset="{% render 'image-attributes', image: collection.image, sizes: '600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', sizes_only: true %}"
        >
      {%- endif -%}
  
      {% render 'social-meta-tags' %}
      {% render 'microdata-schema' %}
      {% render 'css-variables', direction: direction %}
      {% render 'js-variables', direction: direction %}
      {% render 'css-config' %}
      <script src="{{ 'js-cookie.js' | asset_url }}"></script>
      <script>
        var dataLayer = window.dataLayer || [];
        function initUserDataGtm() {
          if ('{{ customer.id }}') {
            const isB2B = {% if customer.b2b? %}true{% else %}false{% endif %};
            const address = isB2B ? {
              street: '{{ customer.current_location.shipping_address.street | escape }}',
              city: '{{ customer.current_location.shipping_address.city | escape }}',
              region: '{{ customer.current_location.shipping_address.province | escape }}',
              postal_code: '{{ customer.current_location.shipping_address.zip | escape }}',
              country: '{{ customer.current_location.shipping_address.country_code | escape }}'
            } : {
              street: '{{ customer.default_address.street | escape }}',
              city: '{{ customer.default_address.city | escape }}',
              region: '{{ customer.default_address.province | escape }}',
              postal_code: '{{ customer.default_address.zip | escape }}',
              country: '{{ customer.default_address.country_code | escape }}'
            };
            dataLayer.push({
              'user_id': '{{ customer.id }}',
              'user_properties': {
                'account_type': isB2B ? 'Business': 'Personal',
                'industry': '{{ customer.current_company.metafields.company.industry | escape }}',
                'company': '{{ customer.current_company.name | escape }}'
              },
              'user_data': {
                'email': '{{ customer.email }}',
                'phone_number': '{{ customer.phone }}' || null,
                'address': {
                  'first_name': '{{ customer.first_name | escape }}',
                  'last_name': '{{ customer.last_name | escape }}',
                  ...address
                }
              }
            });
          }
        }
        initUserDataGtm();
        async function  getIpAddress () {
          try {
            await fetch('https://www.cloudflare.com/cdn-cgi/trace')
              .then(response => response.text())
              .then(data => {
                const lines = data.split('\n');
                const ipLine = lines.find(line => line.startsWith('ip='));
                const ip = ipLine ? ipLine.substring(3) : '';
                Cookies.set('ip', ip, { expires: 365 * 10 });
              });
          } catch (error) {
            console.log(error);
          }
        }
        getIpAddress();
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','{{ gtm_id }}');
      </script>
      {% if template == 'collection' %}
      {% else %}
        <script src="{{ 'swiper.min.js' | asset_url }}"></script>
      {% endif %}
      <script src="{{ 'jquery.min.js' | asset_url }}"></script>
      <script src="{{ 'vendor.js' | asset_url }}"></script>
      <script src="{{ 'vue.js' | asset_url }}"></script>
      {% if template == 'collection' %}
        <script src="{{ 'element-collection.js' | asset_url }}"></script>
      {% else %}
        <script src="{{ 'element.js' | asset_url }}"></script>
        <script src="{{ 'element-ui-locale.js' | asset_url  }}"></script>
        <script>
          ELEMENT.locale(ELEMENT.lang.en)
        </script>
      {% endif %}
      <script src="{{ 'zip-code.js' | asset_url }}"></script>
      <script src="https://cdn.jsdelivr.net/gh/zipcodes/zipcodes.js@1/zipcodes.min.js"></script>
      <script src="{{ 'lib-phone.js' | asset_url }}"></script>
      <script src="{{ 'theme.js' | asset_url }}" defer></script>
      {{ content_for_header }}
    </head>
    {%- assign feature_classes = '' -%}
  
    {%- if settings.show_image_zoom -%}
      {% assign feature_classes = feature_classes | append: ' features--image-zoom' %}
    {%- endif -%}
    <body class="no-focus-outline {{ feature_classes }}" data-instant-allow-query-string>
      <noscript>
        <iframe
          src="https://www.googletagmanager.com/ns.html?id={{ gtm_id }}"
          height="0"
          width="0"
          style="display:none;visibility:hidden"
        >
        </iframe>
      </noscript>
      {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
      <svg class="visually-hidden">
        <linearGradient id="rating-star-gradient-half">
          <stop offset="50%" stop-color="rgb(var(--product-star-rating))" />
          <stop offset="50%" stop-color="rgb(var(--product-star-rating))" stop-opacity="0.4" />
        </linearGradient>
      </svg>
      <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
      <loading-bar class="loading-bar"></loading-bar>
  
      {%- if request.page_type != 'gift_card' and request.page_type != 'password' -%}
        {%- section 'announcement-bar' -%}
        {%- section 'popup' -%}
        {%- section 'header' -%}
        {%- section 'jd-backtop' -%}
        {%- section 'vue-message' -%}
  
        {%- unless settings.cart_type == 'page' or request.page_type == 'cart' -%}
          {%- section 'mini-cart' -%}
        {%- endunless -%}
      {%- endif -%}
      {%- capture template_class_name -%}
      page-{{ template.name }}{% if template.suffix %}-{{ template.suffix }}{% endif %}
      {%- endcapture -%}
      <div id="main" role="main" class="anchor {{ template_class_name }}">
        {%- comment -%}
          IMPLEMENTATION NOTE: on collection and search page, the theme was designed to show on mobile the filter bar and/or sort
            by at the very top of the page. However, due to the fact that sections are isolated, I had to move the code
            here. Then, the collection section, based on the selected settings, will eventually hide those elements in CSS
        {%- endcomment -%}
        {{ content_for_layout }}
        {%- unless request.page_type == 'index' or request.page_type == 'password' or request.page_type == 'gift_card' -%}
          {%- section 'static-text-with-icons' -%}
          {%- section 'static-newsletter' -%}
        {%- endunless -%}
      </div>
      {% sections 'footer-group' %}
      {% render 'globo.form.custom' %}
    </body>
     {% render 'js-config' %}
     {% render 'js-gtm' %}
  </html>
  